<div class="box box-default">
  <form [formGroup]="editInvoiceForm" novalidate>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Voucher No. <sup>*</sup></label>
            <input
              type="text"
              class="form-control"
              formControlName="VoucherNo"
              accSwiftFormValidator
            />
          </div>
          <div class="form-group">
            <label>Order No.</label>
            <input
              type="number"
              class="form-control"
              formControlName="OrderNo"
              accSwiftFormValidator
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Series<sup>*</sup></label>
            <select class="form-control" formControlName="SeriesID">
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="let series of salesInvoiceService.seriesList"
                [ngValue]="series.ID"
              >
                {{ series.Name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <div class="col-md-12 p-0">
              <div class="col-md-11 pl-0">
                <label>Cash/ Party /A/C </label>

                <kendo-dropdownlist
                  class="form-control"
                  [data]="cashPartyList"
                  [filterable]="true"
                  [textField]="'LedgerName'"
                  [valueField]="'LedgerID'"
                  [valuePrimitive]="true"
                  [formControl]="editInvoiceForm.get('CashPartyLedgerID')"
                  (filterChange)="cashPartyDDFilter($event)"
                >
                </kendo-dropdownlist>
              </div>
              <div class="col-md-1 p-0">
                <a (click)="openCashPartyModel()"
                  ><i
                    class="fa fa-eye pull-right ledgerSelectIcon"
                    style="margin-top: 25px; font-size: 24px;"
                    aria-hidden="true"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Project<sup>*</sup></label>
            <select class="form-control" formControlName="ProjectID">
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="let project of salesInvoiceService.projectList"
                [ngValue]="project.ID"
              >
                {{ project.EngName }}
              </option></select
            >
          </div>
          <div class="form-group">
            <label>Sales /A/C </label>
            <select
              class="form-control"
              formControlName="SalesLedgerID"
              accSwiftFormValidator
            >
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="
                  let salesAccount of salesInvoiceService.salesAccountList
                "
                [ngValue]="salesAccount.LedgerID"
              >
                {{ salesAccount.LedgerName }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Depot/ Location</label>
            <select class="form-control" formControlName="DepotID">
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="let depot of salesInvoiceService.depotList"
                [ngValue]="depot.ID"
              >
                {{ depot.DepotName }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Date </label>
            <input
              type="text"
              class="form-control"
              formControlName="Date"
              bsDatepicker
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 p-0">
      <div class="box-body">
        <kendo-grid
          [data]="getInvoiceEntryList.value"
          (edit)="editHandler($event)"
          (cancel)="cancelHandler($event)"
          (save)="saveHandler($event)"
          (add)="addHandler($event)"
          (remove)="removeHandler($event)"
        >
          <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand>Add New</button>
          </ng-template>

          <kendo-grid-column field="ProductName" title="Product" width="250">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <div class="col-xs-12 col-md-12 p-0">
                <div class="col-md-4 pl-0">
                  <input
                    #input
                    class="k-textbox"
                    style="width: 80px;"
                    placeholder="Code"
                    [formControl]="
                      getInvoiceEntryList.controls[rowIndex].get('ProductCode')
                    "
                    (change)="handelProductCode(dataItem, rowIndex)"
                  />
                  <kendo-popup
                    [anchor]="input"
                    *ngIf="
                      getInvoiceEntryList.controls[rowIndex].get('ProductCode')
                        .invalid
                    "
                    popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
                  >
                    <span class="k-icon k-i-warning"></span>
                    Product Code is invalid
                  </kendo-popup>
                </div>
                <div class="col-md-8 pr-0">
                  <input
                    #input
                    class="k-textbox"
                    [readonly]="true"
                    style="width: 150px;"
                    [formControl]="
                      getInvoiceEntryList.controls[rowIndex].get('ProductName')
                    "
                  />
                  <a (click)="openModal(rowIndex)"
                    ><i
                      class="fa fa-eye pull-right ledgerSelectIcon"
                      aria-hidden="true"
                    ></i>
                  </a>
                  <!-- <kendo-popup
                  [anchor]="input"
                  *ngIf="
                    getInvoiceEntryList.controls[rowIndex].get('ProductName')
                      .invalid &&
                    getInvoiceEntryList.controls[rowIndex].get('ProductName')
                      .untouched
                  "
                  popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
                >
                  <span class="k-icon k-i-warning"></span>
                  Prodcut Name is required
                </kendo-popup> -->
                </div>
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="Quantity" title="Quantity" width="100">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-column="column"
              let-rowIndex="rowIndex"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width: 90px; margin: -5px !important;"
                [formControl]="
                  getInvoiceEntryList.controls[rowIndex].get(column.field)
                "
                (change)="changeInvoiceValues(dataItem, rowIndex)"
              >
              </kendo-numerictextbox>
            </ng-template>
            <ng-template
              kendoGridFooterTemplate
              let-column
              let-columnIndex="columnIndex"
            >
              <span class="pull-right"> Total QTY: {{ totalQty }} </span>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="QtyUnitID" title="Unit" width="120">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-column="column"
              let-rowIndex="rowIndex"
            >
              <kendo-dropdownlist
                style="width: 100px;"
                [data]="relatedUnits"
                textField="Name"
                valueField="ID"
                [valuePrimitive]="true"
                [formControl]="
                  getInvoiceEntryList.controls[rowIndex].get(column.field)
                "
              >
              </kendo-dropdownlist>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="SalesRate" title="Sales Rate" width="100">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-rowIndex="rowIndex"
              let-isNew="isNew"
              let-formGroup="formGroup"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width: 90px; margin: -5px !important;"
                [decimals]="decimals"
                [format]="c0"
                [formControl]="
                  getInvoiceEntryList.controls[rowIndex].get(column.field)
                "
              >
              </kendo-numerictextbox>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="Amount" title="Amount" width="100">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-rowIndex="rowIndex"
              let-isNew="isNew"
              let-formGroup="formGroup"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width: 90px; margin: -5px !important;"
                [decimals]="decimals"
                [format]="c0"
                [formControl]="
                  getInvoiceEntryList.controls[rowIndex].get(column.field)
                "
              >
              </kendo-numerictextbox>
            </ng-template>

            <ng-template
              kendoGridFooterTemplate
              let-column
              let-columnIndex="columnIndex"
            >
              <span class="pull-right">
                Gross Amount: {{ totalGrossAmount }}
              </span>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            field="DiscPercentage"
            title="Discount %"
            width="100"
          >
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-rowIndex="rowIndex"
              let-isNew="isNew"
              let-formGroup="formGroup"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width: 90px; margin: -5px !important;"
                [value]="percentage"
                [format]="'p'"
                [min]="0"
                [max]="100"
                [step]="1"
                [formControl]="
                  getInvoiceEntryList.controls[rowIndex].get(column.field)
                "
                (change)="changeInvoiceValues(dataItem, rowIndex)"
              >
              </kendo-numerictextbox>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            field="DiscountAmount"
            title="Discount Amount"
            width="100"
          >
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-rowIndex="rowIndex"
              let-isNew="isNew"
              let-formGroup="formGroup"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width: 90px; margin: -5px !important;"
                [decimals]="decimals"
                [format]="c0"
                [formControl]="
                  getInvoiceEntryList.controls[rowIndex].get(column.field)
                "
                (change)="changeInvoiceValues(dataItem, rowIndex)"
              >
              </kendo-numerictextbox>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="NetAmount" title="Net Amount" width="110">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-rowIndex="rowIndex"
              let-isNew="isNew"
              let-formGroup="formGroup"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width: 100px; margin: -5px !important;"
                [decimals]="decimals"
                [format]="c0"
                [formControl]="
                  getInvoiceEntryList.controls[rowIndex].get(column.field)
                "
              >
              </kendo-numerictextbox>
            </ng-template>
            <ng-template
              kendoGridFooterTemplate
              let-column
              let-columnIndex="columnIndex"
            >
              <span class="pull-right"> Net Amount: {{ totalNetAmount }} </span>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="TaxID" title="(Select Tax)" width="120">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
              let-rowIndex="rowIndex"
              let-formGroup="formGroup"
              let-column="column"
            >
              <kendo-dropdownlist
                style="width: 110px; margin: -5px !important;"
                [data]="salesInvoiceService.taxList"
                textField="Name"
                valueField="ID"
                [valuePrimitive]="true"
                [formControl]="
                  getInvoiceEntryList.controls[rowIndex].get(column.field)
                "
                (valueChange)="handleTaxChange($event, rowIndex)"
              >
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span class="template">{{ dataItem.Name }}</span
                  >({{ dataItem.Rate }} %)
                </ng-template>
              </kendo-dropdownlist>
              <!-- <kendo-numerictextbox
              popupAnchor
              style="width: 120px;"
              [formControl]="
                getInvoiceEntryList.controls[rowIndex].get(column.field)
              "
            >
            </kendo-numerictextbox> -->
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="TaxAmount" title="Tax Amount" width="100">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-rowIndex="rowIndex"
              let-isNew="isNew"
              let-formGroup="formGroup"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width: 90px; margin: -5px !important;"
                [decimals]="decimals"
                [format]="c0"
                [formControl]="
                  getInvoiceEntryList.controls[rowIndex].get(column.field)
                "
              >
              </kendo-numerictextbox>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="Remarks" title="Remarks" width="150">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-rowIndex="rowIndex"
              let-isNew="isNew"
              let-formGroup="formGroup"
            >
              <input
                #ntb="popupAnchor"
                popupAnchor
                class="k-textbox"
                style="width: 120px;"
                [formControl]="
                  getInvoiceEntryList.controls[rowIndex].get(column.field)
                "
              />
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-command-column title="Action" width="100">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
              <button class="k-button" kendoGridAddCommand>
                <i
                  class="fa fa-plus cursor-pointer"
                  aria-hidden="true"
                  tooltip="Add New"
                ></i>
              </button>
              <button kendoGridRemoveCommand>
                <i
                  class="fas fa-trash-alt mr-2 cursor-pointer"
                  tooltip="Delete"
                ></i>
              </button>
              <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
                {{ isNew ? "Add" : "Update" }}
              </button>
              <button kendoGridCancelCommand>
                {{ isNew ? "Discard changes" : "Cancel" }}
              </button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-10 offset-md-3">
        <table
          class="table"
          width="60%"
          style="float: right; width: 45%; text-align: right;"
        >
          <tbody>
            <tr>
              <td>
                Adjustment (Rs):
              </td>
              <td>{{ adjustmentAmount | number: "1.1-2" }}</td>
              <td>Tax 1</td>
              <td>0.00</td>
              <td>Gross(Rs)</td>
              <td>{{ totalGrossAmount | number: "1.1-2" }}</td>
            </tr>
            <tr>
              <td>
                Tender:
              </td>
              <td>{{ tenderAmount | number: "1.1-2" }}</td>
              <td>Tax 2</td>
              <td>0.00</td>
              <td>Total Discount Amount (Rs)</td>
              <td>{{ totalDiscountAmount | number: "1.1-2" }}</td>
            </tr>
            <tr>
              <td>
                Change:
              </td>
              <td>{{ changeAmount | number: "1.1-2" }}</td>
              <td>Tax 2</td>
              <td>0.00</td>
              <td>VAT(13%)</td>
              <td>
                {{ vatTotalAmount | number: "1.1-2" }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Grand Total</td>
              <td>
                {{ grandTotalAmount | number: "1.1-2" }}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-md-2 offset-md-10">
        <button (click)="openTender(tenderModal)" class="btn-primary">
          Tender Amount
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="form-group">
          <label>Remarks</label>
          <input formControlName="Remarks" type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-sm-2">
        <div class="form-group">
          <div class="checkbox">
            <label> <input type="checkbox" />Do not close </label>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <div class="checkbox">
            <label> <input type="checkbox" />Print while saving </label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="box-footer">
    <div class="mb-2">
      <button
        class="btn btn-primary"
        (click)="save()"
        accSwiftFormSubmitValidationMsg
        [validationControl]="editInvoiceForm"
      >
        Save
      </button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>

<ng-template #tenderModal>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Tender Amount</h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="tenderForm" novalidate>
          <div class="form-group">
            <label>Tender Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="tenderAmount"
            />
          </div>
          <div class="form-group">
            <label>Adjust/Round Off Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="adjustAmount"
            />
          </div>
          <div class="form-group">
            <label>Payable Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="payableAmount"
            />
          </div>
          <div class="form-group">
            <label>Paid Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="paidAmount"
              step="0.01"
            />
          </div>
          <div class="form-group">
            <label>Return Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="returnAmount"
            />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modalRef.hide()">
      Pay
    </button>
    <button
      class="btn btn-secondary ml-2"
      type="button"
      (click)="modalRef.hide()"
    >
      Cancel
    </button>
  </div>
</ng-template>
