<section>
  <div class="modal-header">
    <h3 class="modal-title pull-left"></h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    [formGroup]="forgetPwForm"
    (ngSubmit)="onSubmit()"
    [hidden]="forgetSubmitted"
  >
    <div class="modal-body">
      <fieldset>
        <legend>Forgot Password</legend>
        <div class="form-group">
          <label>Email<sup>*</sup></label>
          <input
            class="form-control"
            formControlName="email"
            accSwiftFormValidator
          />
        </div>
      </fieldset>
    </div>

    <div class="modal-footer">
      <div class="cus-btns">
        <button
          type="submit"
          class="btn btn-primary"
          accSwiftFormSubmitValidationMsg
          [validationControl]="forgetPwForm"
        >
          Next
        </button>
      </div>
    </div>
  </form>

  <form
    [formGroup]="resetPwForm"
    (ngSubmit)="onSubmitReset()"
    *ngIf="forgetSubmitted"
  >
    <div class="modal-body">
      <fieldset>
        <legend>Reset Password</legend>
        <div class="form-group">
          <label>Token<sup>*</sup></label>
          <input
            class="form-control"
            formControlName="Token"
            accSwiftFormValidator
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            class="form-control"
            formControlName="Password"
            type="password"
            name="password"
            accSwiftFormValidator
          />
        </div>
        <div class="form-group">
          <label>Retype Password</label>
          <input
            class="form-control"
            formControlName="VerifyPassword"
            type="password"
            name="verifypassword"
            accSwiftFormValidator
          />
        </div>
      </fieldset>
    </div>

    <div class="modal-footer">
      <div class="cus-btns">
        <button
          type="submit"
          class="btn btn-primary"
          accSwiftFormSubmitValidationMsg
          [validationControl]="resetPwForm"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</section>
