<div class="box box-body">
  <div class="col-md-3 border">
    <ul id="myUL">
      <li>
        <span class="boxes">General</span>
        <ul class="nested">
          <li>
            <a role="button" (click)="selectedNode('options')">Options</a>
          </li>
          <li>
            <a role="button" (click)="selectedNode('accounts')">Accounts</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul id="myUL">
      <li>
        <span class="boxes">Sales and Purchases</span>
        <ul class="nested">
          <li>
            <a role="button" (click)="selectedNode('settings')">Settings</a>
          </li>
          <li>
            <a role="button" (click)="selectedNode('slabs')">Slabs</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul id="myUL">
      <li>
        <span class="boxes">Others</span>
        <ul class="nested">
          <li>
            <a role="button" (click)="selectedNode('defaults')">Defaults</a>
          </li>
          <li>
            <a role="button" (click)="selectedNode('backUp')"
              >Backup and Restore</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="col-md-9">
    <div *ngIf="nodeName === 'accounts'">
      <fieldset>
        <legend>Cash Account</legend>
        <div class="row">
          <div class="col-md-3">
            <label>Default Cash Account: </label>
          </div>
          <div class="col-md-5">
            <select class="form-control">
              <option>Cash in Hand</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <label>Negative Cash: </label>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Allow
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Warn
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Deny
                </label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Bank Account</legend>
        <div class="row">
          <div class="col-md-3">
            <label>Default Bank Account: </label>
          </div>
          <div class="col-md-5">
            <select class="form-control">
              <option></option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <label>Negative Bank: </label>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Allow
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Warn
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Deny
                </label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Credit Limits</legend>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" />
                  Enable Credit Limit on Creditors
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Warn Only
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Deny
                </label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Budget Limits</legend>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Allow
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Warn Only
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Deny
                </label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Transactions</legend>
        <div class="row">
          <div class="col-md-3">
            <label>Post Date Transactions:</label>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Allow
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Warn Only
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" />
                  Deny
                </label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-danger  pull-right ml-3">
            Cancel
          </button>
          <button type="button" class="btn btn-primary pull-right ml-3">
            Apply
          </button>
          <button type="button" class="btn btn-success pull-right ">
            Ok
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="nodeName === 'settings'">
      <fieldset>
        <legend>Purchase Account</legend>
        <div class="row">
          <div class="col-md-4">
            <label>Default Purchase Account: </label>
          </div>
          <div class="col-md-5">
            <select class="form-control">
              <option>Purchase A/C</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Sales Account</legend>
        <div class="row">
          <div class="col-md-4">
            <label>Default Sales Account: </label>
          </div>
          <div class="col-md-5">
            <select class="form-control">
              <option>Sales A/C</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <label>Negative Stock: </label>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="negativeStock" value="allow" />
                  Allow
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="negativeStock" value="warn" />
                  Warn
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="negativeStock" value="deny" />
                  Deny
                </label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Sales Receipt</legend>
        <div class="row">
          <div class="col-md-4">
            <label>Sales Report Preference: </label>
          </div>
          <div class="col-md-5">
            <select class="form-control">
              <option>General</option>
            </select>
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-danger  pull-right ml-3">
            Cancel
          </button>
          <button type="button" class="btn btn-primary pull-right ml-3">
            Apply
          </button>
          <button type="button" class="btn btn-success pull-right ">
            Ok
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="nodeName === 'options'">
      <fieldset>
        <legend>Date</legend>
        <div class="row">
          <div class="col-md-3">
            <label>Default Date: </label>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="date" value="english" />
                  English
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="date" value="nepali" />
                  Nepali
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <label>Format: </label>
          </div>
          <div class="col-md-4">
            <select class="form-control">
              <option>YYYY/MM/DD</option>
            </select>
          </div>
          <div class="col-md-2">
            <label>Sample: </label>
          </div>
          <div class="col-md-3">
            <input
              type="number"
              class="form-control"
              placeholder="2020/03/12"
            />
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Decimal Format</legend>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input
                    type="radio"
                    name="decimalForm"
                    value="decimal"
                  />(422.30)
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input
                    type="radio"
                    name="decimalForm"
                    value="decimals"
                  />(-422.30)
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label>No. of Decimal Places:</label>
          </div>
          <div class="col-md-3">
            <select class="form-control">
              <option>2</option>
            </select>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" />
                  Comma Seperated Numbers
                </label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Currency</legend>
        <div class="row">
          <div class="col-md-3">
            <label>Default Language: </label>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="currency" value="english" />
                  English
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="currency" value="nepali" />
                  Nepali
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" />
                  Multi Currency
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" />
                  VAT Applicable
                </label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Previous Year P/L</legend>
        <div class="row">
          <div class="col-md-3">
            <label>Amount: </label>
          </div>
          <div class="col-md-4">
            <input type="number" class="form-control" />
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-danger  pull-right ml-3">
            Cancel
          </button>
          <button type="button" class="btn btn-primary pull-right ml-3">
            Apply
          </button>
          <button type="button" class="btn btn-success pull-right ">
            Ok
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="nodeName === 'backUp'">
      <fieldset>
        <legend>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" style="font-size: 1000;" /><span
                  style="font-weight: bold;"
                  >Automatic Backup</span
                >
              </label>
            </div>
          </div>
        </legend>
        <div class="row">
          <div class="col-md-3">
            <label>Backup Interval: </label>
          </div>
          <div class="col-md-2">
            <input type="number" class="form-control" />
          </div>
          <div class="col-md-1">
            Days
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="backup" value="default" />Default
                  Path
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="backup" value="custom" /> Custom
                  Path
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Custom Path: </label>
          </div>
          <div class="col-md-6">
            <input type="file" class="form-control" />
          </div>
          <div class="col-md-1">
            <button class="btn btn-secondary" type="menu">Browse</button>
          </div>
        </div>
      </fieldset>
    </div>

    <div *ngIf="nodeName === 'defaults'">
      <fieldset>
        <div class="row mt-4">
          <div class="col-md-3">
            <label>Prepared By: </label>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <label>Checked By: </label>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <label>Approved By: </label>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" />
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="row mt-4">
          <div class="col-md-3">
            <label>Authorised Capital: </label>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <label>Issued Capital: </label>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" />
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Email Settings</legend>
        <div class="row">
          <div class="col-md-3">
            <label>Mail Server: </label>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <label>Server Port: </label>
          </div>
          <div class="col-md-5">
            <input type="number" class="form-control" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <label>User Email: </label>
          </div>
          <div class="col-md-5">
            <input type="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <label>Password: </label>
          </div>
          <div class="col-md-5">
            <input type="password" class="form-control" />
          </div>
        </div>
      </fieldset>
    </div>

    <div *ngIf="nodeName === 'slabs'">
      <fieldset>
        <legend>
          Slabs
        </legend>
        <div class="row">
          <div class="col-md-6">
            <fieldset>
              <legend>Sales</legend>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="checkbox">
                      <label> <input type="checkbox" />Tax 1 </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <label>On</label>
                </div>
                <div class="col-md-6">
                  <select class="form-control">
                    <option>Net Amt</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="checkbox">
                      <label> <input type="checkbox" />Tax 2 </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <label>On</label>
                </div>
                <div class="col-md-6">
                  <select class="form-control">
                    <option>Tax 1</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="checkbox">
                      <label> <input type="checkbox" />Tax 3 </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <label>On</label>
                </div>
                <div class="col-md-6">
                  <select class="form-control">
                    <option>Tax 2</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-3">
                  <div class="form-group">
                    <div class="checkbox">
                      <label> <input type="checkbox" checked /> VAT</label>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <legend>Purchase</legend>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="checkbox">
                      <label> <input type="checkbox" />Tax 1 </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <label>On</label>
                </div>
                <div class="col-md-6">
                  <select class="form-control">
                    <option>Net Amt</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="checkbox">
                      <label> <input type="checkbox" />Tax 2 </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <label>On</label>
                </div>
                <div class="col-md-6">
                  <select class="form-control">
                    <option>Tax 1</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="checkbox">
                      <label> <input type="checkbox" />Tax 3 </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <label>On</label>
                </div>
                <div class="col-md-6">
                  <select class="form-control">
                    <option>Tax 2</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-3">
                  <div class="form-group">
                    <div class="checkbox">
                      <label> <input type="checkbox" checked /> VAT</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-3">
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" checked /> Custom Duty</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-danger  pull-right ml-3">
            Cancel
          </button>
          <button type="button" class="btn btn-primary pull-right ml-3">
            Apply
          </button>
          <button type="button" class="btn btn-success pull-right ">
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
