<div class="row">
  <div class="col-md-5" style="height: 76vh; overflow: scroll;">
    <kendo-tabstrip>
      <kendo-tabstrip-tab [title]="'Tree View'" [selected]="true">
        <ng-template kendoTabContent>
          <div class="col-md-12 mt-3">
            <div class="treeview-wrapper">
              <button class="btn btn-secondary" (click)="expandAllNode()">
                Expand All
              </button>
              <button
                class="btn btn-secondary ml-2"
                (click)="collapseAllNode()"
              >
                Collapse All
              </button>
              <kendo-treeview
                #kendoTreeView
                [nodes]="ledgerTreeList"
                textField="Title"
                kendoTreeViewExpandable
                kendoTreeViewSelectable
                kendoTreeViewHierarchyBinding
                childrenField="Child"
                [expandBy]="'Title'"
                [(expandedKeys)]="expandedKeys"
              >
                <ng-template kendoTreeViewNodeTemplate let-dataItem>
                  <span
                    [ngClass]="colorGroupOrLedger(dataItem)"
                    (click)="selectedNode(dataItem)"
                  >
                    {{ dataItem.Title }}
                  </span>
                </ng-template>
              </kendo-treeview>
              <div *ngIf="treeViewLoading" class="k-i-loading"></div>
            </div>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab [title]="'List View'">
        <ng-template kendoTabContent>
          <div class="row">
            <div class="col-md-12">
              <h5>List View</h5>
            </div>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12 mr-2">
        <kendo-tabstrip>
          <kendo-tabstrip-tab [title]="'Account Group'" [selected]="selectedGroupTab ? true : false">
            <ng-template kendoTabContent>
              <app-account-group [selectedItem]="selectedItem"></app-account-group>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab [title]="'Account Ledger'" [selected]="selectedLedgerTab? true: false">
            <ng-template kendoTabContent>
              <app-account-ledger [selectedItem]="selectedItem"></app-account-ledger>
            </ng-template>
          </kendo-tabstrip-tab>
        </kendo-tabstrip>
      </div>
    </div>
  </div>
</div>
