<div class="box box-default">
  <form [formGroup]="cashPaymentForm" novalidate>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Series </label>
            <select
              class="form-control"
              id="seriesId"
              formControlName="SeriesID"
            >
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="let series of cashPaymentService.seriesLists"
                [ngValue]="series.ID"
              >
                {{ series.Name }}</option
              >
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <accSwift-cash-account
            formControlName="LedgerID"
          ></accSwift-cash-account>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <accSwift-project-forms
            formControlName="ProjectID"
          ></accSwift-project-forms>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Voucher #</label>
            <input
              class="form-control"
              formControlName="VoucherNo"
              accSwiftFormValidator
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Date</label>
            <input
              formControlName="Date"
              class="form-control"
              bsDatepicker
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 p-0">
      <div class="box-body">
        <accSwift-details-entry-grid
          [entryArray]="cashPaymentForm.controls.CashPaymentDetailsList"
          [voucherType]="'CASH_PMNT'"
        ></accSwift-details-entry-grid>
      </div>
    </div>
  </form>
  <div class="box-footer">
    <div class="mb-2">
      <button
        class="btn btn-primary"
        (click)="save()"
        accSwiftFormSubmitValidationMsg
        [validationControl]="cashPaymentForm"
      >
        Save
      </button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
