<div class="box box-default">
  <div class="col-md-12">
    <button class="btn btn-primary m-2 pull-right" (click)="addLedgerGroup()">
      <i class="fa fa-plus" aria-hidden="true"></i> New
    </button>
  </div>
  <h5 class="form_heading">
    {{ title }}
    <span *ngIf="ledgerGroupDetails">{{ ledgerGroupDetails.Name }}</span>
  </h5>

  <form [formGroup]="accountGroupForm" novalidate>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-md-6 col-sm-6 col-xs-6 pr-0">
          <div class="form-group">
            <label>Group Name <sup>*</sup></label>
            <input
              class="form-control"
              formControlName="Name"
              accSwiftFormValidator
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 pr-0">
          <div class="form-group">
            <label>Group Code<sup>*</sup></label>
            <input
              class="form-control"
              formControlName="LedgerCode"
              accSwiftFormValidator
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 col-sm-6 col-xs-6 pr-0">
          <div class="form-group">
            <label>Parent Group <sup>*</sup></label>
            <kendo-dropdownlist
              class="form-control"
              [data]="ledgerGroup"
              [filterable]="true"
              [textField]="'CodeName'"
              [valueField]="'ID'"
              [valuePrimitive]="true"
              [formControl]="accountGroupForm.get('ParentGroupID')"
              (filterChange)="ledgerGroupDDFilter($event)"
            >
            </kendo-dropdownlist>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 pr-0">
          <div class="form-group">
            <label>Remarks</label>
            <textarea class="form-control" formControlName="Remarks"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="box-footer" style="display: table; margin: auto">
    <div class="mb-2">
      <button
        class="btn btn-primary"
        (click)="saveAccountGroup()"
        accSwiftFormSubmitValidationMsg
        [validationControl]="accountGroupForm"
      >
        <i class="fas fa-save"></i>&nbsp;&nbsp;
        <span *ngIf="editMode">Update</span>
        <span *ngIf="addMode">Save</span>
      </button>
      <button
        class="btn btn-danger ml-2"
        [disabled]="!selectedLedgerGroupId"
        (click)="deleteLedgerGroup()"
      >
        <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete
      </button>
      <button class="btn btn-secondary ml-2" (click)="cancelAccountGroup()">
        Cancel
      </button>
    </div>
  </div>
</div>
