<div class="col-md-12 p-0 mt-3">
  <div class="col-md-12 mt-3">
    <div #dynamicProductContentDiv></div>
  </div>

  <div class="col-md-12 m-2">
    <button class="btn btn-primary mr-3" (click)="addProduct()">
      <i class="fa fa-plus" aria-hidden="true"></i> Add
    </button>
    <button
      class="btn btn-success mr-3"
      (click)="editProduct()"
      [disabled]="!selectedProductId"
    >
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
    </button>
    <button
      class="btn btn-danger mr-3"
      [disabled]="!selectedProductId"
      (click)="deleteProductByID(selectedProductId)"
    >
      <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete
    </button>
  </div>
</div>
