<div class="box box-default">
  <form [formGroup]="purchaseOrderForm" novalidate>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-md-3 col-xs-6 col-sm-6">
          <div class="form-group">
            <label>Order No.</label>
            <input
              class="form-control"
              formControlName="OrderNo"
              accSwiftFormValidator
            />
          </div>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <div class="form-group">
            <label>Date</label>
            <input
              type="text"
              class="form-control"
              formControlName="Date"
              bsDatepicker
            />
          </div>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <div class="form-group">
            <sup>*</sup> <label>Cash/Party/A/C</label>
            <select
              class="form-control"
              formControlName="CashPartyLedgerID"
              accSwiftFormValidator
            >
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="let cashParty of purchaseOrderService.cashPartyList"
                [ngValue]="cashParty.LedgerID"
              >
                {{ cashParty.LedgerName }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <div class="form-group">
            <label>Project</label>
            <select class="form-control" formControlName="ProjectID">
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="let project of purchaseOrderService.projectList"
                [ngValue]="project.ID"
              >
                {{ project.EngName }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="box box-default">
  <div class="box-body">
    <div class="col-md-12 p-0">
      <div class="grid-wrapper">
        <kendo-grid
          [data]="getPurchaseOrderEntryList.value"
          (remove)="removeHandler($event)"
          (add)="addHandler($event)"
          (edit)="editHandler($event)"
          (save)="saveHandler($event)"
          (cancel)="cancelHandler($event)"
        >
          <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand>Add New</button>
          </ng-template>

          <kendo-grid-column field="ProductName" title="Product" width="300">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <div class="col-xs-12 col-md-12 p-0">
                <div class="col-md-4 pl-0">
                  <div class="form-group">
                    <label>
                      Code
                    </label>
                    <input
                      #input
                      class="k-textbox"
                      style="width: 100px;"
                      placeholder="Product Code"
                      [formControl]="
                        getPurchaseOrderEntryList.controls[rowIndex].get('ProductCode')
                      "
                      (change)="handelProductCode(dataItem, rowIndex)"
                    />
                    <kendo-popup
                      [anchor]="input"
                      *ngIf="
                        getPurchaseOrderEntryList.controls[rowIndex].get('ProductCode')
                          .invalid
                      "
                      popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
                    >
                      <span class="k-icon k-i-warning"></span>
                      Product Code is invalid
                    </kendo-popup>
                  </div>
                </div>
                <div class="col-md-8 pr-0">
                  <div class="form-group">
                    <label>Name</label>
                    <input
                      #input
                      class="k-textbox"
                      [readonly]="true"
                      style="width: 150px; display: inherit;"
                      [formControl]="
                        getPurchaseOrderEntryList.controls[rowIndex].get('ProductName')
                      "
                    />
                    <a (click)="openModal(rowIndex)"
                      ><i
                        class="fa fa-eye pull-right ledgerSelectIcon"
                        style="right: 0px; top: 30px;"
                        aria-hidden="true"
                      ></i>
                    </a>
                    <kendo-popup
                      [anchor]="input"
                      *ngIf="
                      getPurchaseOrderEntryList.controls[rowIndex].get('ProductName')
                        .invalid &&
                      getPurchaseOrderEntryList.controls[rowIndex].get('ProductName')
                        .untouched
                    "
                      popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
                    >
                      <span class="k-icon k-i-warning"></span>
                      Prodcut Name is required
                    </kendo-popup>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-12 p-0">
                <div class="col-md-6 pl-0">
                  <div class="form-group">
                    <label>Purchse Rate</label>
                    <kendo-numerictextbox
                      popupAnchor
                      style="width: 120px;"
                      [decimals]="decimals"
                      [spinners]="false"
                      [format]="c0"
                      [formControl]="
                        getPurchaseOrderEntryList.controls[rowIndex].get('PurchaseRate')
                      "
                    >
                    </kendo-numerictextbox>
                  </div>
                </div>
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="Quantity" title="Quantity" width="140">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-column="column"
              let-rowIndex="rowIndex"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width: 120px;"
                [formControl]="
              getPurchaseOrderEntryList.controls[rowIndex].get('Quantity')
            "
              >
              </kendo-numerictextbox>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="Amount" title="Amount" width="140">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-rowIndex="rowIndex"
              let-isNew="isNew"
              let-formGroup="formGroup"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width: 120px;"
                [decimals]="decimals"
                [spinners]="false"
                [format]="c0"
                [formControl]="
                  getPurchaseOrderEntryList.controls[rowIndex].get('Amount')
                "
              >
              </kendo-numerictextbox>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            field="UpdatedQuantity"
            title="Updated Quantity"
            width="140"
          >
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-rowIndex="rowIndex"
              let-isNew="isNew"
              let-formGroup="formGroup"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width: 120px;"
                [formControl]="
                  getPurchaseOrderEntryList.controls[rowIndex].get(
                    'UpdatedQuantity'
                  )
                "
              >
              </kendo-numerictextbox>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            field="PenndingQuantity"
            title="Pennding Quantity"
            width="140"
          >
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-rowIndex="rowIndex"
              let-isNew="isNew"
              let-formGroup="formGroup"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width: 120px;"
                [formControl]="
                  getPurchaseOrderEntryList.controls[rowIndex].get('PenndingQuantity')
                "
              >
              </kendo-numerictextbox>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-command-column title="Action" width="150">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
            >
              <button
                kendoGridEditCommand
                (click)="edit(dataItem)"
                data-toggle="modal"
                data-target="#viewModal"
                [primary]="true"
              >
                Edit
              </button>
              <button
                kendoGridRemoveCommand
                (click)="openConfirmationDialogue(dataItem)"
              >
                Delete
              </button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>

        <div *ngIf="listLoading" class="k-i-loading"></div>
      </div>
      <div class="box-footer">
        <div class="mb-2">
          <button
            class="btn btn-primary"
            (click)="save()"
            accSwiftFormSubmitValidationMsg
            [validationControl]="purchaseOrderForm"
          >
            Save
          </button>
          <button class="btn btn-secondary ml-2" (click)="cancel()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
