<div class="box box-default">
  <form [formGroup]="journalVoucherForms" novalidate>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Series </label>
            <select
              class="form-control"
              id="seriesId"
              formControlName="SeriesID"
            >
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="let series of journalService.journalSeriesList"
                [value]="series.ID"
                >{{ series.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-5">
          <accSwift-project-forms
            formControlName="ProjectID"
          ></accSwift-project-forms>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <accSwift-voucher-forms
            *ngIf="!journalVoucherForms.get('VoucherNo').value"
            formControlName="VoucherNo"
            [series]="journalVoucherForms.get('SeriesID').value"
          ></accSwift-voucher-forms>
          <accSwift-voucher-forms
            *ngIf="journalVoucherForms.get('VoucherNo').value"
            formControlName="VoucherNo"
            [series]="null"
          ></accSwift-voucher-forms>
          <!-- <div class="form-group">
            <label>Voucher #</label>
            <input
              class="form-control"
              formControlName="VoucherNo"
              id="voucherNo"
              accSwiftFormValidator
            />
          </div> -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Date</label>
            <input
              type="text"
              class="form-control"
              formControlName="Date"
              bsDatepicker
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
            />
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="box-body">
          <accSwift-details-entry-grid
            [entryArray]="journalVoucherForms.controls.Journaldetails"
            [voucherType]="'JRNL'"
          ></accSwift-details-entry-grid>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Remarks</label>
            <input formControlName="Remarks" type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-sm-2">
          <div class="form-group">
            <div class="checkbox">
              <label> <input type="checkbox" />Do not close </label>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <div class="checkbox">
              <label> <input type="checkbox" />Print while saving </label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-secondary" disabled>
            <i class="fa fa-plus" aria-hidden="true"></i>Group Voucher Posting
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="box-footer">
    <div class="mb-2">
      <button class="btn btn-primary" (click)="save()">Save</button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
