<div class="box box-default">
  <form [formGroup]="journalVoucherForms" novalidate>
    <div class="row">
      <accSwift-create-reports
        [formGroup]="journalVoucherForms"
        [voucherType]="'JRNL'"
      ></accSwift-create-reports>
    </div>
    <div class="col-md-12">
      <div
        class="alert alert-warning"
        style="display: inline-block"
        role="alert"
      >
        NOTE : Transaction amount on debit side and credit side must be equal
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <accSwift-series-forms
            formControlName="SeriesID"
            [voucherType]="'JRNL'"
          ></accSwift-series-forms>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <accSwift-voucher-forms
            formControlName="VoucherNo"
            [series]="journalVoucherForms.get('SeriesID').value"
          ></accSwift-voucher-forms>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-5">
          <accSwift-project-forms
            formControlName="ProjectID"
          ></accSwift-project-forms>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div *ngIf="selectedDate == 'English'" class="form-group">
            <label>Date</label>
            <input
              class="form-control"
              formControlName="Date"
              bsDatepicker
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
            />
            <span class="glyphicon glyphicon-calendar calendar-icon"></span>

            <!-- (change)="dateChange($event.traget.value)"
              bsDatepicker
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" -->
          </div>

          <div *ngIf="selectedDate == 'Nepali'" class="form-group">
            <label>Date</label>
            <np-datepicker formControlName="Date"> </np-datepicker>
            <span class="glyphicon glyphicon-calendar calendar-icon"></span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <accSwift-details-entry-grid
          [entryArray]="journalVoucherForms.controls.Journaldetails"
          [voucherType]="'JRNL'"
        ></accSwift-details-entry-grid>
      </div>
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Remarks</label>
            <input formControlName="Remarks" type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-sm-2">
          <div class="form-group">
            <div class="checkbox">
              <label> <input type="checkbox" />Do not close </label>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <div class="checkbox">
              <label> <input type="checkbox" />Print while saving </label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-secondary" disabled>
            <i class="fa fa-plus" aria-hidden="true"></i>Group Voucher Posting
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="box-footer">
    <div class="mb-2">
      <button class="btn btn-primary" (click)="save()">
        <i class="fas fa-save"></i>&nbsp;&nbsp;Save
      </button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
