<div class="box box-default">
  <form [formGroup]="addPurchaseReturnForm" novalidate>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Series</label>
            <select class="form-control" formControlName="seriesId">
              <option [ngValue]="0" disabled>Select</option>
            </select>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <sup>*</sup><label>Voucher No.</label>
            <input class="form-control" formControlName="voucher" />
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <sup>*</sup><label>Date</label>
            <input
              class="form-control"
              type="text"
              formControlName="date"
              bsDatepicker
            />
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <sup>*</sup> <label>Cash/Party/A/C </label>
            <select class="form-control" formControlName="cashPartyACId">
              <option [ngValue]="0" disabled>Select</option>
            </select>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Depot/Location </label>
            <select class="form-control" formControlName="depotLocationId">
              <option [ngValue]="0" disabled>Select</option>
            </select>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <sup>*</sup> <label>Order No.</label>
            <input class="form-control" formControlName="orderNo" />
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Purchase A/C </label>
            <select class="form-control" formControlName="purchaseACId">
              <option [ngValue]="0" disabled>Select</option>
            </select>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Project </label>
            <select
              class="form-control"
              id="projectId"
              formControlName="projectId"
            >
              <option [ngValue]="0">Select</option>
            </select>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <sup>*</sup><label>Remarks</label>
            <input class="form-control" formControlName="remarks" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="box box-default">
  <div class="box-body">
    <div class="col-md-12 p-0">
      <div class="grid-wrapper">
        <kendo-grid
          [data]="getPurchaseReturnEntryList.value"
          (remove)="removeHandler($event)"
          (add)="addHandler($event)"
          (edit)="editHandler($event)"
          (save)="saveHandler($event)"
          (cancel)="cancelHandler($event)"
        >
          <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand>Add New</button>
          </ng-template>

          <kendo-grid-column
            field="ProductName"
            title="Product Name"
            width="150"
          >
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-isNew="isNew"
              let-formGroup="formGroup"
              let-rowIndex="rowIndex"
              let-column="column"
            >
              <input
                style="width: 120px"
                [formControl]="
                  getPurchaseReturnEntryList.controls[rowIndex].get(
                    'ProductName'
                  )
                "
              />
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Quantity" title="Qty" width="120">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-isNew="isNew"
              let-formGroup="formGroup"
              let-rowIndex="rowIndex"
              let-column="column"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width: 100px;"
                [decimals]="decimals"
                [format]="c0"
                [formControl]="
                  getPurchaseReturnEntryList.controls[rowIndex].get('Quantity')
                "
              ></kendo-numerictextbox>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Unit" title="Unit" width="80">
          </kendo-grid-column>
          <kendo-grid-column
            field="PurchaseRate"
            title="Purchase Rate"
            width="80"
          >
          </kendo-grid-column>
          <kendo-grid-column field="Amount" title="Amount" width="120">
          </kendo-grid-column>
          <kendo-grid-column
            field="SpecialDiscount"
            title="Spl. Disc%"
            width="150"
          >
          </kendo-grid-column>
          <kendo-grid-column field="NetAmount" title="Net Amount" width="150">
          </kendo-grid-column>
          <kendo-grid-column field="VAT" title="VAT" width="80">
          </kendo-grid-column>
          <kendo-grid-command-column title="Action" width="150">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
            >
              <button
                kendoGridEditCommand
                (click)="edit(dataItem)"
                data-toggle="modal"
                data-target="#viewModal"
                [primary]="true"
              >
                Edit
              </button>
              <button
                kendoGridRemoveCommand
                (click)="openConfirmationDialogue(dataItem)"
              >
                Delete
              </button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
      </div>

      <div class="box-footer">
        <div class="mb-2">
          <button class="btn btn-primary" disabled (click)="save()">
            Save
          </button>
          <button class="btn btn-secondary ml-2" (click)="cancel()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
