<h3>Defaults</h3>
<form [formGroup]="defaultsForm">
  <fieldset>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label>Prepared By</label>
            <input class="form-control" formControlName="PREPARED_BY" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Checked By</label>
            <input class="form-control" formControlName="CHECKED_BY" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Approved By</label>
            <input class="form-control" formControlName="APPROVED_BY" />
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label> Authorised Capital</label>
            <input class="form-control" formControlName="AUTHORISED_CAPITAL" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label> Issued Capital</label>
            <input class="form-control" formControlName="ISSUED_CAPITAL" />
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Email Settings</legend>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label>Mail Server</label>
            <input
              class="form-control"
              type="text"
              formControlName="MAIL_SERVER"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Server Port</label>
            <input
              class="form-control"
              type="text"
              formControlName="SERVER_PORT"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>User Email</label>
            <input
              class="form-control"
              type="text"
              formControlName="USER_EMAIL"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Password</label>
            <input
              class="form-control"
              type="text"
              formControlName="PASSWORD"
            />
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<div class="row">
  <div class="col-md-12">
    <button
      type="button"
      class="btn btn-danger pull-right ml-3"
      (click)="cancel()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary pull-right ml-3"
      (click)="save()"
    >
      Save
    </button>
  </div>
</div>
