<div class="box box-default">
  <div class="col-md-12 col-xs-12" style="margin-top: 18px">
    <div class="move-right">
      <button class="btn btn-default mr-2 mt-2" tooltip="Generate Pdf" disabled>
        <i class="{{ iconConst.EXPORT_TO_PDF }}"></i>
      </button>
      <button class="btn btn-default mr-2 mt-2" tooltip="CSV Export" disabled>
        <i class="{{ iconConst.EXPORT_TO_CSV }}"></i>
      </button>
      <button
        class="btn btn-default mr-2 mt-2"
        tooltip="Print"
        (click)="print()"
      >
        <i class="{{ iconConst.PRINT }}"></i>
      </button>
      <!-- <button
        class="btn btn-default mr-2 mt-2"
        tooltip="Print"
        printSectionId="print-section"
        ngxPrint
        [useExistingCss]="true"
        (click)="invoiceBilling()"
      >
       
       //  (click)="invoiceBilling()"
         //[routerLink]="['invoice-billing']" 

        <i class="{{ iconConst.PRINT }}"></i>
      </button> -->
      <button class="btn btn-default mr-2 mt-2" disabled tooltip="Email">
        <i class="{{ iconConst.EMAIL }}"></i>
      </button>
    </div>
  </div>
  <form [formGroup]="bankReceiptForm" novalidate>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <accSwift-series-forms
            formControlName="SeriesID"
            [voucherType]="'BANK_RCPT'"
          ></accSwift-series-forms>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <accSwift-bank-account
            formControlName="LedgerID"
          ></accSwift-bank-account>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Voucher</label>
            <input
              class="form-control"
              formControlName="VoucherNo"
              accSwiftFormValidator
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <accSwift-project-forms
            formControlName="ProjectID"
          ></accSwift-project-forms>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Date</label>
            <input
              type="text"
              class="form-control"
              formControlName="Date"
              bsDatepicker
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 p-0">
      <div class="box-body">
        <accSwift-details-entry-grid
          [entryArray]="bankReceiptForm.controls.BankReceiptDetailsList"
          [voucherType]="'BANK_RCPT'"
        ></accSwift-details-entry-grid>
      </div>
    </div>
  </form>
  <div class="box-footer">
    <div class="mb-2">
      <button
        class="btn btn-primary"
        (click)="save()"
        accSwiftFormSubmitValidationMsg
        [validationControl]="bankReceiptForm"
      >
        Save
      </button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
