<h3>Options</h3>
<form [formGroup]="settingsForm" novalidate>
  <fieldset>
    <legend>Date</legend>
    <div class="row">
      <div class="col-md-2">
        <label>Default Date: </label>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <div class="radio">
            <label>
              <input
                type="radio"
                name="DEFAULT_DATE"
                formControlName="DEFAULT_DATE"
                value="English"
              />
              English
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <div class="radio">
            <label>
              <input
                type="radio"
                name="DEFAULT_DATE"
                formControlName="DEFAULT_DATE"
                value="Nepali"
              />
              Nepali
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="form-group">
          <label>Format</label>
          <select
            class="form-control"
            formControlName="DATE_FORMAT"
            (change)="dateFormatChange(settingsForm.get('DATE_FORMAT').value)"
          >
            <option [ngValue]="null">Choose Option...</option>
            <option *ngFor="let date of dateFormats" [ngValue]="date.ID">{{
              date.Format
            }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Sample</label>

          {{ dateSampleValue }}
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Decimal Preference</legend>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Number of Decimal Places</label>
            <select
              class="form-control"
              formControlName="DEFAULT_DECIMALPLACES"
            >
              <option>2</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="flex-item">
          <div class="col-md-12">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input
                    type="checkbox"
                    name="comma"
                    formControlName="COMMA_SEPARATED"
                  />
                  <label>Comma Seperated numbers</label>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-item">
          <div class="col-md-12">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input
                    type="radio"
                    name="DEFAULT_DECIMALPLACES"
                    value="false"
                    formControlName="DEFAULT_DECIMALPLACES"
                  />
                  <label>(422.30) </label>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-item">
          <div class="col-md-12">
            <div class="form-group">
              <div class="radio">
                <label>
                  <input
                    type="radio"
                    name="DEFAULT_DECIMALPLACES"
                    value="true"
                    formControlName="DEFAULT_DECIMALPLACES"
                  />
                  <label>(-422.30)</label>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Currency</legend>
    <div class="row">
      <div class="col-md-3">
        <label>Default Language: </label>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <div class="radio">
            <label>
              <input
                type="radio"
                name="DEFAULT_LANGUAGE"
                value="English"
                formControlName="DEFAULT_LANGUAGE"
              />
              English
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <div class="radio">
            <label>
              <input
                type="radio"
                name="DEFAULT_LANGUAGE"
                value="Nepali"
                formControlName="DEFAULT_LANGUAGE"
              />
              Nepali
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="MULTI_CURRENCY" />
              Multi Currency
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="VAT" />
              VAT Applicable
            </label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Previous Year P/L</legend>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Prev. Year Amount</label>
          <input
            type="number"
            class="form-control"
            formControlName="PL_AMOUNT"
          />
        </div>
      </div>
    </div>
  </fieldset>
</form>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-danger pull-right ml-3">
      Cancel
    </button>
    <button type="button" class="btn btn-primary pull-right ml-3">
      Save
    </button>
  </div>
</div>
