<div class="box-header">
  <button [routerLink]="['add']" class="btn btn-primary">
    <i class="fa fa-plus pull-left" aria-hidden="true"></i>Add Stock Transfer
  </button>
</div>
<div class="accordion" id="accordion">
  <div class="box  box-default">
    <div
      class="box-header with-border collapsed"
      data-toggle="collapse"
      href="#collapseOne"
    >
      <h3 class="box-title">Search Terms</h3>
    </div>

    <div id="collapseOne" class="box-body collapse" data-parent="#accordion">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="stockTransferForm" novalidate>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Series</label>
                <select class="form-control" formControlName="series">
                  <option [ngValue]="null">Choose Option...</option>
                </select>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Voucher No. <sup>*</sup></label>
                <input
                  class="form-control"
                  type="number"
                  formControlName="voucherNo"
                  accSwiftFormValidator
                />
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Date<sup>*</sup></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="date"
                  bsDatepicker
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                  accSwiftFormValidator
                />
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>From Depot/Location</label>
                <select class="form-control" formControlName="fromDepotLoc">
                  <option [ngValue]="null">Choose Option...</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="col-md-3 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label>To Depot/Location</label>
                    <select class="form-control" formControlName="toDepotLoc">
                      <option [ngValue]="null">Choose Option...</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label>Remarks</label>
                    <input class="form-control" formControlName="remarks" />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="box-footer">
        <div class="mb-2">
          <button class="btn btn-primary btn-flat" (click)="searchForm()">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box box-default">
  <div class="box-body">
    <div class="col-md-12 p-0">
      <div class="grid-wrapper">
        <kendo-grid
          [data]="gridView"
          [filterable]="true"
          [filter]="filter"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="{
            allowUnsort: allowUnsort,
            mode: 'single'
          }"
          [sort]="sort"
          (sortChange)="sortChange($event)"
          [pageable]="true"
          (pageChange)="pageChange($event)"
          (filterChange)="filterChange($event)"
        >
          <kendo-grid-column field="code" title="Code" width="100">
          </kendo-grid-column>
          <kendo-grid-column
            field="productName"
            title="Product Name"
            width="150"
          >
          </kendo-grid-column>
          <kendo-grid-column field="quantity" title="Quantity" width="150">
          </kendo-grid-column>
          <kendo-grid-column
            field="pruchaseRate"
            title="Purchase Rate"
            width="150"
          >
          </kendo-grid-column>
          <kendo-grid-column field="amount" title="Amount" width="150">
          </kendo-grid-column>
          <kendo-grid-command-column title="Action" width="150">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
            >
              <button
                kendoGridEditCommand
                (click)="edit(dataItem)"
                data-toggle="modal"
                data-target="#viewModal"
                [primary]="true"
              >
                Edit
              </button>
              <button
                kendoGridRemoveCommand
                (click)="openConfirmationDialogue(dataItem)"
              >
                Delete
              </button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>

        <div *ngIf="listLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</div>
