.listButton {
  width: 100px;
  height: 80px;
  margin: 5px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

tr.selected {
  background-color: #cfd8dc;
  color: white;
}
