<div class="box box-default">
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary" (click)="getProductGroup()">
        Back to Main
      </button>
      <div class="btn-group-vertical" style="height: 600px; overflow: scroll">
        <div class="col-md-12 p-0">
          <div class="col-md-3" *ngFor="let product of productOrGroupList">
            <div class="form-group">
              <button
                type="button"
                class="btn btn-secondary listButton"
                (click)="productClick(product)"
              >
                {{ product.Title }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 p-0">
      <div class="col-md-12">
        <div class="form-group">
          <label>Item Bar Code</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="col-md-10">
        <div class="form-group">
          <label>Quantity</label>
          <!-- <ng-numeric-input
            [layout]="'number'"
            [entertext]="'Next'"
            [placeholder]="'Enter Quantity'"
            [disabled]="false"
            [(ngModel)]="quantityNo"
            (ngModelChange)="quantityChange()"
          >
          </ng-numeric-input> -->
          <input
            type="number"
            class="form-control"
            [(ngModel)]="quantityNo"
            (change)="quantityChange()"
          />
        </div>
      </div>
      <div class="col-md-2 mt-4">
        <div class="form-group">
          <button class="btn btn-seconday" type="button">Add</button>
        </div>
      </div>
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Quantity</th>
              <th>Item</th>
              <th>Rate</th>
              <th>Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let product of productList; let i = index"
              (click)="selectProduct(i, product)"
              [class.selected]="i === selectedRow"
            >
              <td>{{ product.Quantity }}</td>
              <td>{{ product.Title }}</td>
              <td>{{ product.SalesRate }}</td>
              <td>{{ product.Amount }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="deleteProduct(i)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <div class="pull-left">
          <h6>Total Qty: &nbsp; {{ totalQty }}</h6>
        </div>
        <div class="pull-right">
          <h6>Amount: &nbsp; {{ totalAmount }}</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <select class="form-control" type="number" placeholder="Customer All">
          <option></option>
          <option>Main User</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" type="number" placeholder="Default">
          <option></option>
          <option>Main User</option>
        </select>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-secondary">REFRESH</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-secondary">PAY ACCOUNT</button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Payment Method</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Account</td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="accoutNumber"
              />
            </td>
          </tr>
          <tr>
            <td>Cash</td>
            <td>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="cashAmount"
              />
            </td>
          </tr>
          <tr>
            <td>Discount</td>
            <td>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="discountAmount"
              />
            </td>
          </tr>
          <tr>
            <td>EFT POS</td>
            <td></td>
          </tr>
          <tr>
            <td>Gift Voucher</td>
            <td></td>
          </tr>
          <tr>
            <td>Lay-By</td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Remening</td>
            <td>Rs 27</td>
          </tr>
        </tfoot>
      </table>
      <div class="col-md-6">
        <div class="form-group">
          <button type="button" class="btn btn-secondary">CLEAR</button>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-secondary">
            RECEIPT <br />37342
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <button type="button" class="btn btn-secondary">TILL</button>
        </div>

        <div class="form-group">
          <button
            type="button"
            (click)="openCommit(commitModal)"
            class="btn btn-secondary"
          >
            COMMIT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #commitModal>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Amount</h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <h3>Show available notes here</h3>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modalRef.hide()">OK</button>
    <button
      class="btn btn-secondary ml-2"
      type="button"
      (click)="modalRef.hide()"
    >
      Cancel
    </button>
  </div>
</ng-template>
