<div class="box box-default">
  <div class="row" style="margin: 15px">
    <div class="col-md-12">
      <h3>Favourite Items</h3>
      <div class="col-md-2" *ngFor="let favProduct of favProductOrGroupList">
        <div class="form-group">
          <button
            type="button"
            class="btn btn-secondary listButton"
            (click)="productClick(favProduct)"
          >
            {{ favProduct.Title }}
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button
          type="button"
          class="btn btn-primary"
          (click)="getProductGroup()"
        >
          Back to Main
        </button>
        <div class="btn-group-vertical" style="height: 600px; overflow: scroll">
          <div class="col-md-12 p-0">
            <h5 *ngIf="productOrGroupList.length == 0">No Item Found</h5>
            <div class="col-md-3" *ngFor="let product of productOrGroupList">
              <div class="form-group">
                <button
                  type="button"
                  class="btn btn-secondary listButton"
                  (click)="productClick(product)"
                >
                  {{ product.Title }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 p-0">
        <div class="col-md-12">
          <div class="form-group">
            <label>Item Bar Code</label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="col-md-10">
          <div class="col-md-3">
            <div class="form-group">
              <label>Quantity</label>
              <!-- <ng-numeric-input
                [layout]="'number'"
                [entertext]="'Next'"
                [placeholder]="'Enter Quantity'"
                [disabled]="false"
                [(ngModel)]="quantityNo"
                (ngModelChange)="quantityChange()"
              >
              </ng-numeric-input> -->
              <input
                type="number"
                class="form-control"
                [(ngModel)]="quantityNo"
                (change)="quantityChange()"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Rate</label>

              <input
                type="number"
                class="form-control"
                [(ngModel)]="salesRate"
                (change)="rateChange()"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Discount</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="discountItem"
                (change)="discountChange()"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Discount %</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="discountPercItem"
                (change)="discountPerChange()"
              />
            </div>
          </div>
        </div>
        <div class="col-md-2 mt-4">
          <!-- <div class="form-group">
            <button class="btn btn-seconday" type="button">Add</button>
          </div> -->
        </div>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th align="center">Quantity</th>
                <th align="center">Item</th>
                <th align="center">Rate</th>
                <th align="center">Amount</th>
                <th align="center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let product of productList; let i = index"
                (click)="selectProduct(i, product)"
                [class.selected]="i === selectedRow"
              >
                <td align="right">{{ product.Quantity }}</td>
                <td>{{ product.ProductName }}</td>
                <td align="right">
                  <span [innerHTML]="product.SalesRate | currencyFormat"></span>
                </td>
                <td align="right">
                  <span [innerHTML]="product.Amount | currencyFormat"></span>
                </td>
                <td align="right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteProduct(i)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-12">
          <div class="pull-left">
            <h6>Total Qty: &nbsp; {{ totalQty }}</h6>
          </div>
          <div class="pull-right">
            <h6>
              Amount: &nbsp;
              <span [innerHTML]="totalAmount | currencyFormat"></span>
            </h6>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">
            <div class="clearfix">
              Sub Amount: &nbsp;
              <b> <span [innerHTML]="totalAmount | currencyFormat"></span></b>
            </div>
          </div>
          <div class="col-md-3">
            <div class="clearfix">
              Discount: &nbsp;
              <b><span [innerHTML]="discountAmount | currencyFormat"></span></b>
            </div>
          </div>
          <div class="col-md-3">
            <div class="clearfix">
              Tax : &nbsp;
              <b> <span [innerHTML]="taxAmount | currencyFormat"></span></b>
            </div>
          </div>
          <div class="col-md-3">
            <div class="clearfix">
              Total Amount: &nbsp;
              <b>
                <span [innerHTML]="grandTotalAmount | currencyFormat"></span>
              </b>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" (click)="checkOut()">
            CheckOut
          </button>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <select
            class="form-control"
            type="number"
            [(ngModel)]="seriesID"
            placeholder="select Series "
          >
            <option [ngValue]="null">Select Series...</option>
            <option
              *ngFor="let series of posServices.seriesList"
              [ngValue]="series.ID"
            >
              {{ series.Name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <select
            class="form-control"
            type="number"
            [(ngModel)]="projectID"
            placeholder="Select project"
          >
            <option [ngValue]="null">Select Project...</option>
            <option
              *ngFor="let project of posServices.projectList"
              [ngValue]="project.ID"
            >
              {{ project.EngName }}
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-secondary">REFRESH</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-secondary">PAY ACCOUNT</button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Payment Method</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Account</td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="accoutNumber"
                />
              </td>
            </tr>
            <tr>
              <td>Cash</td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="cashAmount"
                />
              </td>
            </tr>

            <tr>
              <td>EFT POS</td>
              <td></td>
            </tr>
            <tr>
              <td>Gift Voucher</td>
              <td></td>
            </tr>
            <tr>
              <td>Lay-By</td>
              <td></td>
            </tr>
          </tbody>
          <tfoot>
            <!-- <tr>
              <td>Remaining</td>
              <td>Rs 27</td>
            </tr> -->
          </tfoot>
        </table>
        <div class="col-md-6">
          <div class="form-group">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="clearAll()"
            >
              CLEAR
            </button>
          </div>
          <!-- <div class="form-group">
             <button type="button" class="btn btn-secondary">
              RECEIPT <br />37342
            </button> 
          </div>-->
        </div>
        <div class="col-md-6">
          <!-- <div class="form-group">
            <button type="button" class="btn btn-secondary">TILL</button>
          </div> -->

          <div class="form-group">
            <button
              type="button"
              (click)="openCommit(commitModal)"
              class="btn btn-secondary"
            >
              COMMIT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #commitModal>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Amount</h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Amount</label>
          <input type="number" class="form-control" [(ngModel)]="totalAmount" />
        </div>
        <div class="form-group">
          <label>Tender </label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="tenderAmount"
          />
        </div>

        <div class="form-group">
          <label>Change</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="changeAmount"
            step="0.01"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modalRef.hide()">OK</button>
    <button
      class="btn btn-secondary ml-2"
      type="button"
      (click)="modalRef.hide()"
    >
      Cancel
    </button>
  </div>
</ng-template>
