<div class="box box-default">
  <form>
    <div class="col-md-12 mt-5 mr-2">
      <div class="col-md-4">
        <div class="row clearfix">
          <div class="col-md-5">
            <label class="float-right">Series:</label>
          </div>
          <div class="col-md-7">
            <select class="form-control" id="seriesId">
              <option value="null"></option>
              <option></option>
            </select>
          </div>
        </div>

        <div class="row clearfix mt-3">
          <div class="col-md-5">
            <label class="float-right">Bank Account:</label>
          </div>
          <div class="col-md-7">
            <select class="form-control" id="cashAccountNo">
              <option value="null"></option>
              <option></option>
            </select>
          </div>
        </div>

        <div class="row clearfix mt-3">
          <div class="col-md-5">
            <input
              type="checkbox"
              [value]=""
              (change)="onCheckChange($event)"
            />
            Cash Party/Customer
          </div>
          <div class="col-md-7">
            <select class="form-control" id="series">
              <option value="null"></option>
              <option></option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row clearfix">
          <div class="col-md-5">
            <label class="float-right">Voucher #:</label>
          </div>
          <div class="col-md-7">
            <input class="form-control" />
          </div>
        </div>

        <div class="row clearfix mt-3">
          <div class="col-md-5">
            <label class="float-right">Project:</label>
          </div>
          <div class="col-md-7">
            <input class="form-control" id="projectId" />
            <option value="null"></option>
            <option></option>
          </div>
        </div>

        <div class="row clearfix mt-0">
          <div class="col-md-5">
            <label class="float-right">Current Balance:</label>
          </div>
          <div class="col-md-7">
            <span>0.00</span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row clearfix">
          <div class="col-md-5">
            <label class="float-right">Date:</label>
          </div>
          <div class="col-md-7">
            <input
              type="date"
              [value]="date | date: 'MM/dd/yyyy'"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row clearfix"></div>

      <div class="col-md-12 mt-5 ml-2">
        <kendo-grid
          [data]="gridData"
          (edit)="editHandler($event)"
          (cancel)="cancelHandler($event)"
          (save)="saveHandler($event)"
          (remove)="removeHandler($event)"
          (add)="addHandler($event)"
        >
          <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand>Add New</button>
          </ng-template>

          <kendo-grid-column
            field="particularsOraccountingHead"
            title="Particulars Or Accouting Head"
            width="300"
          >
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <div class="col-xs-12 col-md-12 p-0">
                <div class="col-md-8 pr-0">
                  <input
                    #input
                    class="k-textbox"
                    [readonly]="true"
                    [formControl]=""
                  />
                  <a href="#" (click)="openModal(rowIndex)" data-toggle="modal">
                    <i
                      class="fa fa-eye pull-right ledgerSelectIcon"
                      aria-hidden="true"
                    ></i>
                  </a>

                  <kendo-popup
                    [anchor]="input"
                    *ngIf=""
                    popupClass="k-widget k-tooltip-validation k-invalid-msg"
                  >
                    <span class="k-icon k-i-warning"></span>
                    Ledger name is required
                  </kendo-popup>
                </div>
              </div>
            </ng-template>
          </kendo-grid-column>
          <!-- End of one Kendo Column -->

          <kendo-grid-column field="voucherNo" title="Voucher No" width="150">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <input
                #ntb="popupAnchor"
                popupAnchor
                style="width:130px"
                [formControl]="
                  getCashReceiptEntryList.controls[rowIndex].get(column.field)
                "
              />
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="amount" title="Amount" width="150">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <kendo-numerictextbox
                style="width: 130px;"
                [readonly]="true"
                [decimals]="decimals"
                [format]="c0"
                [formControl]="
                  getCashReceiptEntryList.controls[rowIndex].get(
                    'currentBalance'
                  )
                "
              >
              </kendo-numerictextbox>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            field="currentBalance"
            title="Current Balance"
            width="150"
          >
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <kendo-numerictextbox
                popupAnchor
                style="width:130px"
                [readonly]="true"
                [decimals]="decimals"
                [format]="'c0'"
                [formControl]="
                  getCashReceiptEntryList.controls[rowIndex].get(
                    'currentBalance'
                  )
                "
              >
              </kendo-numerictextbox>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="vType" title="V.type" width="150">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <input
                #input
                class="k-textbox"
                [formControl]="
                  getCashReceiptEntryList.controls[rowIndex].get(column.field)
                "
              />
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="remarks" title="Remarks" width="150">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <input
                #input
                class="k-textbox"
                [formControl]="
                  getCashReceiptEntryList.controls[rowIndex].get('remarks')
                "
              />
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-command-column title="Action" width="100">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
              <button class="k-button" kendoGridAddCommand></button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
      </div>
    </div>
  </form>
</div>
