<div class="box box-default">
    <form>
        <div class="col-md-12 mt-5 mr-2">
            <div class="col-md-4">
                <div class="row clearfix">
                    <div class="col-md-5">
                        <label class="float-right">Series no:</label>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control" id="seriesId">
                            <option value=""></option>
                            <option *ngFor="let series of cashPaymentService.seriesLists" [ngValue]="series.ID">
                                {{ series.EngName }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row clearfix mt-3">
                    <div class="col-md-5">
                        <label class="float-right">Cash Account: </label>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control">
                            <option value="null"></option>
                            <option *ngFor="let account of cashPaymentService.cashAccountLists"></option>
                        </select>
                    </div>
                </div>

                <div class="row clearfix mt-3">
                    <div class="col-md-5">
                        <label class="float-right">Cash Party/Customer</label>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control">
                            <option value="null"> </option>
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row clearfix">
                    <div class="col-md-5">
                        <label class="float-right">Voucher#:</label>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control">
                            <option value="null"></option>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row clearfix mt-3">
                    <div class="col-md-5">
                        <label class="float-right">Project:</label>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control">
                            <option value="null"></option>
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="row clearfix mt-3">
                    <div class="col-md-5">
                        <label class="float-right">Current Balance </label>
                    </div>
                    <div class="col-md-7">
                        <span>0.00</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row clearfix">
                    <div class="col-md-5">
                        <label class="float-right">Date:</label>
                    </div>
                    <div class="col-md-7">
                        <input type="date" class="form-control" value="date | date: 'MM/DD/YYYY'" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-5 ml-2">
            <kendo-grid>
                <ng-template kendoGridToolbarTemplate>
                    <button kendoGridAddCommand>Add New</button>
                </ng-template>

                <kendo-grid-column title="Particulars Or Accounting Head" width="300">
                    <ng-template kendoGridCellTemplate>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <input type="" placeholder="Ledger Code" />
                            </div>
                        </div>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Voucher No">
                    <ng-template kendoGridCellTemplate>
                        <input style="width: 130px;" />
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column title="Amount">
                    <ng-template kendoGridCellTemplate>
                        <kendo-numerictextbox>

                        </kendo-numerictextbox>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Current Balance">
                    <ng-template kendoGridCellTemplate>
                        <kendo-numerictextbox>

                        </kendo-numerictextbox>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="V. Type">
                    <ng-template>
                        <input class="k-textbox" />
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Remarks">
                    <ng-template>
                        <input type="" class="k-textbox" />
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column title="Action">
                    <ng-template>

                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </form>
</div>