<h5 class="form_heading">Upload Image</h5>
<div class="row">
  <div class="col-md-12">
    <img *ngFor="let url of urls" [src]="url" height="200" />
    <br />
    <input type="file" (change)="fileChangeEvent($event)" multiple />
    <!-- <kendo-fileselect
      [multiple]="true"
      (change)="fileChangeEvent($event)"
    ></kendo-fileselect> -->
    <img
      *ngIf="croppedImage"
      [src]="croppedImage"
      style="width: 400px; height: 200px; margin-top: 20px"
    />

    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
      style="width: 400px; object-fit: cover; margin: 15px 0"
    ></image-cropper>

    <div class="box-footer" style="display: table; margin: auto">
      <div class="mb-2">
        <button class="btn btn-primary" (click)="saveCroppedImg()">
          <i class="fas fa-save"></i>&nbsp;&nbsp;Save
        </button>
        <button class="btn btn-secondary ml-2" (click)="cancel($event)">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
