.padding-top
{
    padding-top:40px;
}
.padding-bottom
{
    padding-top:40px;
}
.margin-top
{
    padding-top:40px;
}
.margin-bottom
{
    padding-top:40px;
}
.line
{
    height: 1px;
    width: 100%;
    background-color: #C2C2C2;
    margin: 20px 0;
}
.title
{
    color:rgb(60,141,188);
    font-weight:700;
    font-size:20px;
}
.view
{
    font-size:16px;
    margin-bottom:10px;
}