<div class="col-md-12 p-0">
  <kendo-grid
    [data]="entryArray.value"
    (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)"
    (add)="addHandler($event)"
    (remove)="removeHandler($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand>Add New</button>
    </ng-template>

    <kendo-grid-column field="ProductID" title="Product" width="280">
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-rowIndex="rowIndex"
      >
        <div class="form-group mt-5">
          <kendo-dropdownlist
            class="form-control"
            [data]="productList"
            [textField]="'CodeName'"
            [valueField]="'ProductID'"
            [filterable]="true"
            [valuePrimitive]="true"
            [formControl]="entryArray.controls[rowIndex].get(column.field)"
            (filterChange)="productDDFilter($event, rowIndex)"
            (valueChange)="handleProductChange($event, rowIndex)"
          >
            <ng-template kendoDropDownListItemTemplate let-dataItem>
              <span class="template"
                >{{ dataItem.ProductCode }} ({{ dataItem.ProductName }})</span
              >
            </ng-template>
            <ng-template kendoDropDownListNoDataTemplate>
              <div>
                No data found.
                <br />
                <button class="k-button" (click)="addNewProduct(addProduct)">
                  Add new product
                </button>
              </div>
            </ng-template>
          </kendo-dropdownlist>
          <a (click)="openModal(rowIndex)"
            ><i
              class="fa fa-eye pull-right ledgerSelectIcon"
              style="margin: 0px; font-size: 16px; position: relative;"
              aria-hidden="true"
            ></i>
          </a>
          <span *ngIf="entryArray.controls[rowIndex].get('QtyUnitName').value"
            ><b>Unit : </b>&nbsp; &nbsp;{{
              entryArray.controls[rowIndex].get("QtyUnitName").value
            }}
            <a
              #anchor
              style="
                color: blue;
                font-size: 12px;
                cursor: pointer;
                margin: 5px;
              "
              (click)="unitPopup(rowIndex)"
            >
              Change
            </a></span
          >

          <kendo-popup
            #popup
            [anchor]="anchor"
            *ngIf="showUnitPopup && rowPopupIndexUnit == rowIndex"
          >
            <div class="contentPopup" style="min-height: 70px; padding: 15px;">
              <div class="form-group">
                <label>Unit</label>
                <kendo-dropdownlist
                  class="form-control"
                  [data]="relatedUnits"
                  textField="Name"
                  valueField="ID"
                  [valuePrimitive]="true"
                  [formControl]="entryArray.controls[rowIndex].get('QtyUnitID')"
                >
                </kendo-dropdownlist>
              </div>
            </div>
          </kendo-popup>
        </div>
      </ng-template>
    </kendo-grid-column>
    <!-- <kendo-grid-column field="QtyUnitID" title="Unit" width="100">
    <ng-template
      kendoGridCellTemplate
      let-dataItem="dataItem"
      let-column="column"
      let-formGroup="formGroup"
      let-isNew="isNew"
      let-column="column"
      let-rowIndex="rowIndex"
    >
      <kendo-dropdownlist
        class="form-control"
        [data]="relatedUnits"
        textField="Name"
        valueField="ID"
        [valuePrimitive]="true"
        [formControl]="
entryArray.controls[rowIndex].get('QtyUnitID')
"
      >
      </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column> -->
    <kendo-grid-column field="Quantity" title="Quantity" width="80">
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-column="column"
        let-rowIndex="rowIndex"
      >
        <kendo-numerictextbox
          popupAnchor
          class="form-control"
          [format]="'n0'"
          [min]="1"
          [formControl]="entryArray.controls[rowIndex].get(column.field)"
          (valueChange)="changeInvoiceValues(dataItem, rowIndex)"
        >
        </kendo-numerictextbox>
      </ng-template>
      <ng-template
        kendoGridFooterTemplate
        let-column
        let-columnIndex="columnIndex"
      >
        <span class="pull-right"> Total QTY: {{ totalQty }} </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="SalesRate" title="Sales Rate" width="80">
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-column="column"
        let-rowIndex="rowIndex"
      >
        <kendo-numerictextbox
          popupAnchor
          class="form-control"
          [decimals]="decimals"
          [spinners]="false"
          [format]="c0"
          [formControl]="entryArray.controls[rowIndex].get('SalesRate')"
          (valueChange)="changeInvoiceValues(dataItem, rowIndex)"
        >
        </kendo-numerictextbox>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="DiscPercentage" title="Disc%" width="80">
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-rowIndex="rowIndex"
        let-isNew="isNew"
        let-formGroup="formGroup"
      >
        <button #anchor class="btn-secondary" (click)="discountToggle(true,rowIndex)">
          Discount
        </button>
        <kendo-popup
          #popup
          [anchor]="anchor"
          *ngIf="showDiscPopup && rowPopupIndexDisc == rowIndex"  
        >
          <div
            class="contentPopup"
            style="min-height: 120px; width: fit-content; padding: 15px;"
          >
            <div class="form-group">
              <label> Discount %</label>
              <kendo-numerictextbox
                [format]="'p'"
                [step]="0.1"
                [min]="0"
                class="form-control"
                [max]="1"
                [valuePrimitive]="true"
                [value]="percentage"
                [formControl]="
                  entryArray.controls[rowIndex].get('DiscPercentage')
                "
                (valueChange)="changeInvoiceValues(dataItem, rowIndex)"
              ></kendo-numerictextbox>
            </div>
            <div class="form-group">
              <label> Discount Amount</label>
              <kendo-numerictextbox
                popupAnchor
                class="form-control"
                [decimals]="decimals"
                [spinners]="false"
                [format]="c0"
                [formControl]="
                  entryArray.controls[rowIndex].get('DiscountAmount')
                "
              >
              </kendo-numerictextbox>
            </div>
          </div>
        </kendo-popup>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="TaxID" title="Select Tax" width="110">
      <ng-template
        kendoGridCellTemplate
        let-isNew="isNew"
        let-dataItem="dataItem"
        let-rowIndex="rowIndex"
        let-formGroup="formGroup"
        let-column="column"
      >
        <kendo-dropdownlist
          class="form-control"
          [data]="gridServices.taxList"
          textField="Name"
          valueField="ID"
          [valuePrimitive]="true"
          [formControl]="entryArray.controls[rowIndex].get(column.field)"
          (valueChange)="handleTaxChange($event, rowIndex)"
        >
          <ng-template kendoDropDownListItemTemplate let-dataItem>
            <span class="template">{{ dataItem.Name }}</span
            >({{ dataItem.Rate }} %)
          </ng-template>
        </kendo-dropdownlist>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Amount" title="Amount" width="100">
      <ng-template
        kendoGridCellTemplate
        let-isNew="isNew"
        let-dataItem="dataItem"
        let-rowIndex="rowIndex"
        let-formGroup="formGroup"
        let-column="column"
      >
        <span style="margin-bottom: 0; display: flex;"
          >Total :&nbsp; &nbsp;{{
            entryArray.controls[rowIndex].get("Amount").value | number: "3.1-3"
          }}</span
        >
        <span style="margin-bottom: 0; display: flex;"
          >Discount :&nbsp; &nbsp;{{
            entryArray.controls[rowIndex].get("DiscountAmount").value
              | number: "3.1-3"
          }}</span
        >
        <span style="margin-bottom: 0; display: flex;"
          >Net :&nbsp; &nbsp;{{
            entryArray.controls[rowIndex].get("NetAmount").value
              | number: "3.1-3"
          }}</span
        >
      </ng-template>
      <ng-template
        kendoGridFooterTemplate
        let-column
        let-columnIndex="columnIndex"
      >
        <label> Gross : {{ totalGrossAmount }} </label>

        <label> Net : {{ totalNetAmount }} </label>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="Remarks" title="Remarks" width="120">
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-rowIndex="rowIndex"
        let-isNew="isNew"
        let-formGroup="formGroup"
      >
        <input
          #ntb="popupAnchor"
          popupAnchor
          class="k-textbox"
          class="form-control"
          [formControl]="entryArray.controls[rowIndex].get(column.field)"
        />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-command-column title="Action" width="60">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <!-- <button class="k-button" kendoGridAddCommand>
        <i
          class="fa fa-plus cursor-pointer"
          aria-hidden="true"
          tooltip="Add New"
        ></i>
      </button> -->
        <button kendoGridRemoveCommand>
          <i class="fas fa-trash-alt mr-2 cursor-pointer" tooltip="Delete"></i>
        </button>
        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
          {{ isNew ? "Add" : "Update" }}
        </button>
        <button kendoGridCancelCommand>
          {{ isNew ? "Discard changes" : "Cancel" }}
        </button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>
