<div class="col-md-12" *ngIf="userType == 'Advanced'">
  <kendo-grid
    [data]="entryArray.value"
    (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)"
    (add)="addHandler($event)"
    (remove)="removeHandler($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand>Add New</button>
    </ng-template>

    <kendo-grid-column
      field="ProductID"
      title="Product"
      width="280"
      [hidden]="!columns.includes('ProductID')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-rowIndex="rowIndex"
      >
        <div class="form-group mt-4">
          <div class="col-md-11 pl-0">
            <kendo-dropdownlist
              class="form-control"
              [data]="productList"
              [filterable]="true"
              [textField]="'CodeName'"
              [valueField]="'ProductID'"
              [valuePrimitive]="true"
              [formControl]="entryArray.controls[rowIndex].get('ProductID')"
              (filterChange)="productDDFilter($event, rowIndex)"
              (valueChange)="handleProductChange($event, rowIndex)"
            >
              <ng-template kendoDropDownListItemTemplate let-dataItem>
                <span class="template">{{ dataItem.CodeName }} </span>
              </ng-template>
              <ng-template kendoDropDownListNoDataTemplate>
                <div>
                  No data found.
                  <br />
                  <button class="k-button" (click)="addNewProduct()">
                    Add new product
                  </button>
                </div>
              </ng-template>
            </kendo-dropdownlist>
          </div>
          <div class="col-md-1 p-0">
            <a (click)="openProductModal(rowIndex)"
              ><i
                class="fa fa-eye pull-right ledgerSelectIcon"
                style="margin: 0px; font-size: 16px; position: relative"
                aria-hidden="true"
              ></i>
            </a>
          </div>
          <div *ngIf="voucherType == 'SALES'">
            <div
              class="col-md-12"
              *ngIf="entryArray.controls[rowIndex].get('QtyUnitName').value"
            >
              <span
                ><b>Unit : </b>&nbsp; &nbsp;{{
                  entryArray.controls[rowIndex].get("QtyUnitName").value
                }}
              </span>
              <button
                #anchor
                style="
                  color: blue;
                  font-size: 12px;
                  cursor: pointer;
                  padding: 0px;
                "
                class="btn"
                (click)="unitToggle(rowIndex)"
              >
                Change
              </button>
              <kendo-popup
                #popup
                [anchor]="anchor"
                *ngIf="showUnitPopup && rowPopupIndexUnit == rowIndex"
                (anchorViewportLeave)="unitToggle(null)"
              >
                <div class="contentPopup">
                  <div class="form-group">
                    <label>Unit</label>
                    <kendo-dropdownlist
                      class="form-control"
                      [data]="relatedUnits"
                      textField="Name"
                      valueField="ID"
                      [valuePrimitive]="true"
                      [formControl]="
                        entryArray.controls[rowIndex].get('QtyUnitID')
                      "
                    >
                    </kendo-dropdownlist>
                  </div>
                  <button
                    class="btn btn-primary"
                    style="margin: auto; display: table"
                    (click)="unitToggle(null)"
                  >
                    Ok
                  </button>
                </div>
              </kendo-popup>
            </div>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="LedgerName"
      title="Particulars Or Accounting Head"
      width="300"
      [hidden]="!columns.includes('LedgerName')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-rowIndex="rowIndex"
      >
        <div class="form-group mt-4">
          <div class="col-md-11 pl-0">
            <kendo-dropdownlist
              class="form-control"
              [data]="ledgerList"
              [filterable]="true"
              [textField]="'CodeName'"
              [valueField]="'LedgerID'"
              [valuePrimitive]="true"
              [formControl]="entryArray.controls[rowIndex].get('LedgerID')"
              (filterChange)="ledgerDDFilter($event, rowIndex)"
              (valueChange)="handleLedgerChange($event, rowIndex)"
            >
              <ng-template kendoDropDownListItemTemplate let-dataItem>
                <span class="template">{{ dataItem.CodeName }} </span>
              </ng-template>
              <ng-template kendoDropDownListNoDataTemplate>
                <div>
                  No data found.
                  <br />
                  <!-- <button class="k-button" (click)="addNewProduct(addProduct)">
                  Add new product
                </button> -->
                </div>
              </ng-template>
            </kendo-dropdownlist>
          </div>
          <div class="col-md-1 p-0">
            <a (click)="openLedgerModal(rowIndex)"
              ><i
                class="fa fa-eye pull-right ledgerSelectIcon"
                style="margin: 0px; font-size: 16px; position: relative"
                aria-hidden="true"
              ></i>
            </a>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      title="Sub +"
      width="80"
      [hidden]="!columns.includes('TransactionSubLedger')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-rowIndex="rowIndex"
        let-isNew="isNew"
        let-formGroup="formGroup"
      >
        <div class="form-group">
          <button
            type="button"
            class="btn btn-secondory mr-2"
            (click)="openSubLedgerModal(entryArray, rowIndex)"
            tooltip="Sub Ledger "
          >
            Sub Ledger
          </button>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="DrAmount"
      title="Debit"
      width="150"
      [hidden]="!columns.includes('DrAmount')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-rowIndex="rowIndex"
      >
        <kendo-numerictextbox
          #ntb="popupAnchor"
          popupAnchor
          class="form-control"
          [decimals]="decimals"
          [format]="currencyFormat"
          [formControl]="entryArray.controls[rowIndex].get('DrAmount')"
          (change)="checkDebitValue(dataItem, rowIndex)"
        ></kendo-numerictextbox>
        <kendo-popup
          [anchor]="ntb.element"
          *ngIf="
            entryArray.controls[rowIndex].get('DrAmount').invalid &&
            rowSubmitted &&
            !entryArray.controls[rowIndex].get('DrAmount').untouched
          "
          popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
        >
          <span class="k-icon k-i-warning"></span>
          Debit Amount is required
        </kendo-popup>
      </ng-template>
      <ng-template
        kendoGridFooterTemplate
        let-column
        let-columnIndex="columnIndex"
      >
        <span class="pull-right">
          Debit Total:
          <span [innerHTML]="calculateDebitTotal() | currencyFormat"></span>
        </span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="CrAmount"
      title="Credit"
      width="150"
      [hidden]="!columns.includes('CrAmount')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-rowIndex="rowIndex"
      >
        <kendo-numerictextbox
          #ntb="popupAnchor"
          popupAnchor
          class="form-control"
          [decimals]="decimals"
          [format]="currencyFormat"
          [formControl]="entryArray.controls[rowIndex].get('CrAmount')"
          (change)="checkCreditValue(dataItem, rowIndex)"
        ></kendo-numerictextbox>

        <kendo-popup
          [anchor]="ntb.element"
          *ngIf="
            entryArray.controls[rowIndex].get('CrAmount').invalid &&
            rowSubmitted &&
            !(isNew && entryArray.controls[rowIndex].get('CrAmount').untouched)
          "
          popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
        >
          <span class="k-icon k-i-warning"></span>
          Credit Amount is required
        </kendo-popup>
      </ng-template>
      <ng-template
        kendoGridFooterTemplate
        let-column
        let-columnIndex="columnIndex"
      >
        <span class="pull-right">
          Credit Total:
          <span [innerHTML]="calculateCreditTotal() | currencyFormat"></span>
        </span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="ChequeNumber"
      title="Cheque Number"
      width="120"
      [hidden]="!columns.includes('ChequeNumber')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-rowIndex="rowIndex"
      >
        <input
          #input
          class="k-textbox"
          class="form-control"
          [formControl]="entryArray.controls[rowIndex].get('ChequeNumber')"
        />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="ChequeDate"
      title="Cheque Date"
      width="150"
      [hidden]="!columns.includes('ChequeDate')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-rowIndex="rowIndex"
      >
        <kendo-datepicker
          [valuePrimitive]="true"
          [formControl]="entryArray.controls[rowIndex].get('ChequeDate')"
          [min]="min"
          [max]="max"
          class="form-control"
        ></kendo-datepicker>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="VoucherNumber"
      title="Voucher No"
      width="150"
      [hidden]="!columns.includes('VoucherNumber')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-rowIndex="rowIndex"
      >
        <input
          #ntb="popupAnchor"
          class="k-textbox"
          popupAnchor
          class="form-control"
          [formControl]="entryArray.controls[rowIndex].get(column.field)"
        />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="Quantity"
      title="Quantity"
      width="80"
      [hidden]="!columns.includes('Quantity')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-column="column"
        let-rowIndex="rowIndex"
      >
        <kendo-numerictextbox
          popupAnchor
          class="form-control"
          [format]="'n0'"
          [min]="1"
          [formControl]="entryArray.controls[rowIndex].get(column.field)"
          (valueChange)="changeInvoiceValues(dataItem, rowIndex)"
        >
        </kendo-numerictextbox>
      </ng-template>
      <ng-template
        kendoGridFooterTemplate
        let-column
        let-columnIndex="columnIndex"
      >
        <span class="pull-right"> Total QTY: {{ calculateQtyTotal() }} </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="SalesRate"
      title="Sales Rate"
      width="80"
      [hidden]="!columns.includes('SalesRate')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-column="column"
        let-rowIndex="rowIndex"
      >
        <kendo-numerictextbox
          popupAnchor
          class="form-control"
          [decimals]="decimals"
          [spinners]="false"
          [format]="currencyFormat"
          [formControl]="entryArray.controls[rowIndex].get('SalesRate')"
          (valueChange)="changeInvoiceValues(dataItem, rowIndex)"
        >
        </kendo-numerictextbox>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="PurchaseRate"
      title="Purchase Rate"
      width="80"
      [hidden]="!columns.includes('PurchaseRate')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-column="column"
        let-rowIndex="rowIndex"
      >
        <kendo-numerictextbox
          popupAnchor
          class="form-control"
          [decimals]="decimals"
          [spinners]="false"
          [format]="currencyFormat"
          [formControl]="entryArray.controls[rowIndex].get('PurchaseRate')"
          (valueChange)="changeInvoiceValues(dataItem, rowIndex)"
        >
        </kendo-numerictextbox>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="DiscPercentage"
      title="Disc%"
      width="80"
      [hidden]="!columns.includes('DiscPercentage')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-rowIndex="rowIndex"
        let-isNew="isNew"
        let-formGroup="formGroup"
      >
        <button
          #anchor
          class="btn-secondary"
          (click)="discountToggle(rowIndex)"
        >
          Discount
        </button>
        <kendo-popup
          #popup
          [anchor]="anchor"
          *ngIf="showDiscPopup && rowPopupIndexDisc == rowIndex"
          [animate]="animate"
          (anchorViewportLeave)="discountToggle(null)"
        >
          <div class="contentPopup">
            <div class="form-group">
              <label> Discount %</label>
              <kendo-numerictextbox
                [step]="1"
                [min]="0"
                class="form-control"
                [max]="100"
                [valuePrimitive]="true"
                [value]="percentage"
                [formControl]="
                  entryArray.controls[rowIndex].get('DiscPercentage')
                "
                (valueChange)="discountPerCalc(dataItem, rowIndex)"
              ></kendo-numerictextbox>
            </div>
            <div class="form-group">
              <label> Discount Amount</label>
              <kendo-numerictextbox
                popupAnchor
                class="form-control"
                [decimals]="decimals"
                [spinners]="false"
                [format]="currencyFormat"
                [formControl]="
                  entryArray.controls[rowIndex].get('DiscountAmount')
                "
                (valueChange)="discountAmountCalc(dataItem, rowIndex)"
              >
              </kendo-numerictextbox>
            </div>
            <button
              class="btn-primary btn"
              style="margin: auto; display: table"
              (click)="discountToggle(null)"
            >
              Ok
            </button>
          </div>
        </kendo-popup>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="TaxID"
      title="Select Tax"
      width="110"
      [hidden]="!columns.includes('TaxID')"
    >
      <ng-template
        kendoGridCellTemplate
        let-isNew="isNew"
        let-dataItem="dataItem"
        let-rowIndex="rowIndex"
        let-formGroup="formGroup"
        let-column="column"
      >
        <kendo-dropdownlist
          class="form-control"
          [defaultItem]="defaultItem"
          [data]="gridServices.taxList"
          textField="Name"
          valueField="ID"
          [valuePrimitive]="true"
          [formControl]="entryArray.controls[rowIndex].get(column.field)"
          (valueChange)="handleTaxChange($event, rowIndex)"
        >
          <ng-template kendoDropDownListItemTemplate let-dataItem>
            <span class="template">{{ dataItem.Name }}</span
            ><span *ngIf="dataItem.Rate">({{ dataItem.Rate }} %)</span>
          </ng-template>
        </kendo-dropdownlist>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="Amount"
      title="Amount"
      width="120"
      [hidden]="!columns.includes('Amount') || voucherType == 'JRNL'"
    >
      <ng-template
        kendoGridCellTemplate
        let-isNew="isNew"
        let-dataItem="dataItem"
        let-rowIndex="rowIndex"
        let-formGroup="formGroup"
        let-column="column"
      >
        <kendo-numerictextbox
          *ngIf="
            voucherType == 'CASH_RCPT' ||
            voucherType == 'CASH_PMNT' ||
            voucherType == 'BANK_RCPT' ||
            voucherType == 'BANK_PMNT' ||
            voucherType == 'SLS_ORDER'
          "
          #ntb="popupAnchor"
          popupAnchor
          class="form-control"
          [decimals]="decimals"
          [spinners]="false"
          [format]="currencyFormat"
          [formControl]="entryArray.controls[rowIndex].get(column.field)"
        ></kendo-numerictextbox>
        <div *ngIf="voucherType == 'SALES' || voucherType == 'PURCH'">
          <span class="small_text"
            >Total :&nbsp; &nbsp;
            <span
              [innerHTML]="
                entryArray.controls[rowIndex].get('Amount').value
                  | currencyFormat
              "
            ></span
          ></span>

          <span class="small_text"
            >Discount :&nbsp; &nbsp;
            <span
              [innerHTML]="
                entryArray.controls[rowIndex].get('DiscountAmount').value
                  | currencyFormat
              "
            ></span
          ></span>
          <span class="small_text"
            >Net :&nbsp; &nbsp;
            <span
              [innerHTML]="
                entryArray.controls[rowIndex].get('NetAmount').value
                  | currencyFormat
              "
            ></span
          ></span>
          <span class="small_text"
            >Tax :&nbsp; &nbsp;
            <span
              [innerHTML]="
                entryArray.controls[rowIndex].get('TaxAmount').value
                  | currencyFormat
              "
            ></span
          ></span>
        </div>
      </ng-template>
      <ng-template
        kendoGridFooterTemplate
        let-column
        let-columnIndex="columnIndex"
        *ngIf="voucherType == 'SALES'"
      >
        <label>
          Gross :
          <span [innerHTML]="calculateGrossTotal() | currencyFormat"></span>
        </label>

        <label>
          Net : <span [innerHTML]="calculateNetTotal | currencyFormat"></span>
        </label>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="UpdatedQuantity"
      title="Updated Quantity"
      width="140"
      [hidden]="!columns.includes('UpdatedQuantity')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-rowIndex="rowIndex"
        let-isNew="isNew"
        let-formGroup="formGroup"
      >
        <kendo-numerictextbox
          popupAnchor
          class="form-control"
          [format]="'n0'"
          [min]="0"
          [formControl]="entryArray.controls[rowIndex].get('UpdatedQuantity')"
        >
        </kendo-numerictextbox>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="PenndingQuantity"
      title="Pennding Quantity"
      width="140"
      [hidden]="!columns.includes('PenndingQuantity')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-rowIndex="rowIndex"
        let-isNew="isNew"
        let-formGroup="formGroup"
      >
        <kendo-numerictextbox
          popupAnchor
          class="form-control"
          [format]="'n0'"
          [min]="0"
          [formControl]="entryArray.controls[rowIndex].get('PenndingQuantity')"
        >
        </kendo-numerictextbox>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="LedgerBalance"
      title="Ledger Balance"
      width="150"
      [hidden]="!columns.includes('LedgerBalance')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-rowIndex="rowIndex"
      >
        <input
          #input
          class="k-textbox"
          style="text-align: right"
          class="form-control"
          [readonly]="true"
          [formControl]="entryArray.controls[rowIndex].get(column.field)"
        />
      </ng-template>
      <ng-template
        kendoGridFooterTemplate
        let-column
        let-columnIndex="columnIndex"
        *ngIf="voucherType == 'JRNL'"
      >
        <span class="pull-right">
          Difference :
          <span [innerHTML]="debitTotal - creditTotal | currencyFormat"></span>
        </span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="VoucherType"
      title="V. Type"
      width="150"
      [hidden]="!columns.includes('VoucherType')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-formGroup="formGroup"
        let-isNew="isNew"
        let-rowIndex="rowIndex"
      >
        <kendo-dropdownlist
          class="form-control"
          [data]="gridServices.voucherType"
          textField="VouchName"
          valueField="VouchType"
          [valuePrimitive]="true"
          [formControl]="entryArray.controls[rowIndex].get(column.field)"
        >
        </kendo-dropdownlist>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="Remarks"
      title="Remarks"
      width="120"
      [hidden]="!columns.includes('Remarks')"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-column="column"
        let-rowIndex="rowIndex"
        let-isNew="isNew"
        let-formGroup="formGroup"
      >
        <input
          #ntb="popupAnchor"
          popupAnchor
          class="k-textbox"
          class="form-control"
          [formControl]="entryArray.controls[rowIndex].get(column.field)"
        />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-command-column title="Action" width="60">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridRemoveCommand>
          <i class="fas fa-trash-alt mr-2 cursor-pointer" tooltip="Delete"></i>
        </button>
        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
          {{ isNew ? "Add" : "Update" }}
        </button>
        <button kendoGridCancelCommand>
          {{ isNew ? "Discard changes" : "Cancel" }}
        </button>
      </ng-template>
    </kendo-grid-command-column>

    <!-- <ng-template kendoGridDetailTemplate let-dataItem>
      <div class="row">
        <h1>This is THIS</h1>
        <p><strong>In Stock:</strong> units</p>
        <p><strong>On Order:</strong> units</p>
        <p><strong>Reorder Level:</strong> units</p>
        <p><strong>Discontinued:</strong></p>
        <p><strong>Category:</strong></p>
      </div>
      <section *ngIf="!columns.includes('LedgerName')">
        <h1>This is THIS</h1>
        <p><strong>In Stock:</strong> units</p>
        <p><strong>On Order:</strong> units</p>
        <p><strong>Reorder Level:</strong> units</p>
        <p><strong>Discontinued:</strong></p>
        <p><strong>Category:</strong></p>
      </section>
    </ng-template> -->
  </kendo-grid>
</div>

<div *ngIf="userType == 'Basic'">
  <section
    id="basic_new_invoice_contents"
    class="info-table-items-wrap margin-top"
  >
    <button class="edit-column"><i class="fas fa-pen"></i>Edit columns</button>
    <div class="info-table table-responsive">
      <table>
        <thead>
          <tr class="item-head">
            <th class="text-left" colspan="1">Product</th>
            <th class="text-left" colspan="1">Quantity</th>
            <th class="text-left" colspan="1">Sales Rate</th>
            <th class="text-left" colspan="1">Select Tax</th>
            <th class="text-left" colspan="1">Amount</th>
            <th class="text-left" colspan="1">Remarks</th>
            <th class="text-left" colspan="1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let p of entryArray.controls; let i = index"
            class="item-details"
          >
            <td colspan="1">
              <div class="form-group">
                <kendo-dropdownlist
                  style="width: 290px"
                  [data]="productList"
                  [filterable]="true"
                  [textField]="'CodeName'"
                  [valueField]="'ProductID'"
                  [valuePrimitive]="true"
                  [virtual]="virtual"
                  [formControl]="entryArray.controls[i].get('ProductID')"
                  (filterChange)="productDDFilter($event, i)"
                  (valueChange)="handleProductChange($event, i)"
                >
                  <ng-template kendoDropDownListItemTemplate let-dataItem>
                    <span class="template">{{ dataItem.CodeName }} </span>
                  </ng-template>
                  <ng-template kendoDropDownListNoDataTemplate>
                    <div>
                      No data found.
                      <br />
                      <button class="k-button" (click)="addNewProduct()">
                        Add new product
                      </button>
                    </div>
                  </ng-template>
                </kendo-dropdownlist>
              </div>
            </td>

            <td>
              <div class="form-group">
                <kendo-numerictextbox
                  style="width: 110px"
                  [format]="'n0'"
                  [min]="1"
                  [formControl]="entryArray.controls[i].get('Quantity')"
                  (valueChange)="changeInvoiceValues(dataItem, i)"
                >
                </kendo-numerictextbox>
              </div>
            </td>

            <td>
              <div class="form-group">
                <kendo-numerictextbox
                  style="width: 110px"
                  [decimals]="decimals"
                  [spinners]="false"
                  [format]="currencyFormat"
                  [formControl]="entryArray.controls[i].get('SalesRate')"
                  (valueChange)="changeInvoiceValues(dataItem, i)"
                ></kendo-numerictextbox>
              </div>
            </td>
            <td>
              <div class="form-group">
                <kendo-dropdownlist
                  style="width: 140px"
                  [defaultItem]="defaultItem"
                  [data]="gridServices.taxList"
                  textField="Name"
                  valueField="ID"
                  [valuePrimitive]="true"
                  [formControl]="entryArray.controls[i].get('TaxID')"
                  (valueChange)="handleTaxChange($event, i)"
                >
                  <ng-template kendoDropDownListItemTemplate let-dataItem>
                    <span class="template">{{ dataItem.Name }}</span
                    ><span *ngIf="dataItem.Rate">({{ dataItem.Rate }} %)</span>
                  </ng-template>
                </kendo-dropdownlist>
              </div>
            </td>
            <td>
              <div class="form-group">
                <kendo-numerictextbox
                  style="width: 130px"
                  *ngIf="
                    voucherType == 'CASH_RCPT' ||
                    voucherType == 'CASH_PMNT' ||
                    voucherType == 'BANK_RCPT' ||
                    voucherType == 'BANK_PMNT' ||
                    voucherType == 'SLS_ORDER'
                  "
                  #ntb="popupAnchor"
                  popupAnchor
                  [decimals]="decimals"
                  [spinners]="false"
                  [format]="currencyFormat"
                  [formControl]="entryArray.controls[i].get('Amount')"
                ></kendo-numerictextbox>
                <div *ngIf="voucherType == 'SALES' || voucherType == 'PURCH'">
                  <span class="small_text"
                    >Total :&nbsp; &nbsp;
                    <span
                      [innerHTML]="
                        entryArray.controls[i].get('Amount').value
                          | currencyFormat
                      "
                    ></span
                  ></span>
                  <span class="small_text"
                    >Net :&nbsp; &nbsp;
                    <span
                      [innerHTML]="
                        entryArray.controls[i].get('NetAmount').value
                          | currencyFormat
                      "
                    ></span
                  ></span>
                  <span class="small_text"
                    >Tax :&nbsp; &nbsp;
                    <span
                      [innerHTML]="
                        entryArray.controls[i].get('TaxAmount').value
                          | currencyFormat
                      "
                    ></span
                  ></span>
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <kendo-textbox
                  style="width: 130px"
                  [formControl]="entryArray.controls[i].get('Remarks')"
                >
                </kendo-textbox>
              </div>
            </td>
            <td>
              <div class="form-group text-right">
                <div style="width: 40px">
                  <button type="button" (click)="removeRow($event, i)">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <tr class="add-item">
            <td colspan="7">
              <div class="add-wrap">
                <button class="add-item-btn" (click)="addNewRow($event)">
                  <i class="fas fa-plus-circle"></i>Add an Item
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
