<div style="background: #efecec !important;">
  <form [formGroup]="journalForm" novalidate>
    <div class="contanier-fluid">
      <div class="row mt-5 mr-2">
        <div class="col-md-4">
          <div class="row clearfix">
            <div class="col-md-5">
              <label class="float-right">Series: </label>
            </div>
            <div class="col-md-7">
              <select class="form-control" id="contry" formControlName="series">
                <option *ngFor="let series of SeriesList" [value]="series.id">{{series.name}}</option>
              </select>
            </div>
          </div>
          <div class="row clearfix mt-3">
            <div class="col-md-5">
              <label class="float-right">Project: </label>
            </div>
            <div class="col-md-7">
              <select class="form-control" id="contry" formControlName="series">
                <option *ngFor="let series of SeriesList" [value]="series.id">{{series.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row clearfix">
            <div class="col-md-5">
              <label class="float-right">Voucher #: </label>
            </div>
            <div class="col-md-7">
              <input class="form-control" formControlName="voucherNo" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row clearfix">
            <div class="col-md-5">
              <label class="float-right">Date :</label>
            </div>
            <div class="col-md-7">
              <input formControlName="journalDate" type="date" [value]="journalDate | date: 'MM/dd/yyyy'"
                class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 ml-2" style="background: #fff">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>Particulars/Accounting Head<sup>*</sup></th>
              <th>Debit</th>
              <th>Credit</th>
              <th>Balance</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody formArrayName="journalEntryList" *ngFor="let item of journalEntryListData.controls ; let i = index;">
            <tr [formGroupName]="i">
              <td>
                <input class="form-control" formControlName="particularsORaccountingHead"
                  placeholder="Particulars OR Accounting Head" required>
                <span class="error-msg"
                  *ngIf="item.get('particularsORaccountingHead').errors?.required && submitted">Particulars/Accounting
                  Head is required</span>
              </td>
              <td> <input class="form-control" type="number" formControlName="debit" placeholder="Debit"
                  (change)="checkValueDebit($event, i)">
              </td>
              <td>
                <input class="form-control" type="number" formControlName="credit" placeholder="credit"
                  (change)="checkValueCredit($event, i)">
              </td>
              <td> <input class="form-control" formControlName="balance" placeholder="balance">
              </td>
              <td>
                <input class="form-control" formControlName="remarks" placeholder="remarks">
              </td>
              <td>
                <i class="fas fa-plus-circle" (click)="addNewJournalEntry()"></i>
                <i class="fas fa-trash-alt mr-2 cursor-pointer" style="margin-top: 45px; float: right; "
                  *ngIf="journalForm.get('journalEntryList').controls.length > 1"
                  (click)="deleteJournalEntryRow(i)"></i>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"></td>
              <td colspan="1"> Debit Total: {{debitTotal}}</td>
              <td colspan="1"> Credit Total: {{creditTotal}}</td>
              <td colspan="1"> Difference : {{debitTotal - creditTotal}}</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="row mt-2 ml-2 clearfix">
        <div class="col-md-2">
          <label class="float-right">Narration :</label>
        </div>
        <div class="col-md-8">
          <input formControlName="narration" type="text" class="form-control" />
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row mt-2 ml-2 clearfix">
        <div class="col-md-2">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="donotClose">
            <label class="form-check-label" for="donotClose">Do not close</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="printonSaving">
            <label class="form-check-label" for="printonSaving">Print while saving</label>
          </div>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-secondary" disabled><i class="fa fa-plus" aria-hidden="true"></i>Group Voucher
            Posting</button>
        </div>
      </div>
      <div class="row m-2">
        <button class="btn btn-primary" disabled (click)="save()">Save</button>
        <button class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>