<div class="row">
  <div class="col-md-12">
    <kendo-tabstrip>
      <kendo-tabstrip-tab [title]="'Ledger Details'" [selected]="true">
        <ng-template kendoTabContent>
          <div class="box box-default">
            <h5 class="form_heading">
              Account Ledger
            </h5>
            <form [formGroup]="accoutLedgerForm" novalidate>
              <div class="row clearfix mt-3">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label>Ledger Code <sup>*</sup> </label>
                    <input
                      class="form-control"
                      formControlName="ledgerCode"
                      accSwiftFormValidator
                    />
                  </div>
                  <div class="form-group">
                    <label>Account Head <sup>*</sup></label>
                    <select
                      class="form-control"
                      formControlName="accountHead"
                      accSwiftFormValidator
                    >
                      <option [ngValue]="null">Choose Option....</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Date </label>
                    <input
                      class="form-control"
                      formControlName="date"
                      bsDatepicker
                      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                      accSwiftFormValidator
                    />
                  </div>
                  <div class="form-group">
                    <label>Opening Balance <sup>*</sup></label>
                    <button
                      type="button"
                      class="btn btn-secondory"
                      data-toggle="modal"
                      data-target="#openingBalanceModal"
                    >
                      Opening Quantity Entry
                    </button>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <label>Ledger Name<sup>*</sup> </label>
                    <input
                      class="form-control"
                      formControlName="ledgerName"
                      accSwiftFormValidator
                    />
                  </div>
                  <div class="form-group">
                    <label>Currency </label>
                    <input
                      class="form-control"
                      formControlName="currency"
                      accSwiftFormValidator
                    />
                  </div>

                  <div class="form-group">
                    <label>Previous Year Balance <sup>*</sup></label>
                    <button
                      type="button"
                      class="btn btn-secondory"
                      data-toggle="modal"
                      data-target="#previousYearBalanceModal"
                    >
                      Previous Year Balance
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="box-footer" style="display: table;margin:auto">
              <div class="mb-2">
                <button
                  class="btn btn-primary"
                  (click)="save()"
                  accSwiftFormSubmitValidationMsg
                  [validationControl]="productGroupForm"
                >
                  Save
                </button>
                <button class="btn btn-secondary ml-2" (click)="cancel($event)">
                  Cancel
                </button>
              </div>
            </div>
          </div>

          <div class="col-md-12 m-2">
            <button
              class="btn btn-primary"
              disabled
              (click)="saveAccountLedger()"
            >
              Save
            </button>
            <button
              class="btn btn-secondary ml-2"
              (click)="cancelAccountLedger()"
            >
              Cancel
            </button>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab [title]="'More Details'">
        <ng-template kendoTabContent>
          <p>More Details</p>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>
</div>
<div class="col-md-12 m-2">
  <button class="btn btn-primary mr-3" (click)="addAccountLedger()">
    <i class="fa fa-plus" aria-hidden="true"></i> Add
  </button>
  <button
    class="btn btn-danger mr-3"
    [disabled]="!selectedLedgerId"
    (click)="deleteAccountLedger()"
  >
    <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete
  </button>
</div>

<!--Modal PopUp Opening Balance Modal-->
<div
  class="modal fade bd-example-modal"
  #openingBalanceModal
  id="openingBalanceModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Opening Balance</h3>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mt-2">
            <kendo-grid
              [data]="getOpeningBalanceList.value"
              (edit)="editHandler($event)"
              (cancel)="cancelHandler($event)"
              (save)="saveHandler($event)"
              (remove)="removeHandler($event)"
              (add)="addHandler($event)"
              [height]="250"
            >
              <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand>Add new</button>
              </ng-template>

              <kendo-grid-column field="accountClass" title="Account Class">
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-column="column"
                  let-formGroup="formGroup"
                  let-isNew="isNew"
                  let-rowIndex="rowIndex"
                >
                  <input
                    #input
                    class="k-textbox"
                    [formControl]="
                      getOpeningBalanceList.controls[rowIndex].get(
                        'accountClass'
                      )
                    "
                  />
                  <kendo-popup
                    [anchor]="input"
                    *ngIf="
                      getOpeningBalanceList.controls[rowIndex].get(
                        'accountClass'
                      ).invalid &&
                      rowSubmitted &&
                      !(
                        isNew &&
                        getOpeningBalanceList.controls[rowIndex].get(
                          'accountClass'
                        ).untouched
                      )
                    "
                    popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
                  >
                    <span class="k-icon k-i-warning"></span>
                    Account Class is required
                  </kendo-popup>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="openingBalance" title="Opening Balance">
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-column="column"
                  let-formGroup="formGroup"
                  let-isNew="isNew"
                  let-rowIndex="rowIndex"
                >
                  <kendo-numerictextbox
                    #ntb="popupAnchor"
                    popupAnchor
                    [formControl]="
                      getOpeningBalanceList.controls[rowIndex].get(column.field)
                    "
                  ></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="balanceType" title="Balance Type">
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-column="column"
                  let-formGroup="formGroup"
                  let-isNew="isNew"
                  let-rowIndex="rowIndex"
                >
                  <kendo-numerictextbox
                    #ntb="popupAnchor"
                    popupAnchor
                    [formControl]="
                      getOpeningBalanceList.controls[rowIndex].get(
                        'balanceType'
                      )
                    "
                  ></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-command-column title="Action">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button class="k-button" kendoGridAddCommand>Add</button>
                  <!-- <button kendoGridEditCommand [primary]="true">Edit</button> -->
                  <button kendoGridRemoveCommand>Remove</button>
                  <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
                    {{ isNew ? "Add" : "Update" }}
                  </button>
                  <button kendoGridCancelCommand>
                    {{ isNew ? "Discard changes" : "Cancel" }}
                  </button>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal">
          OK
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal PopUp Previous Year Balance-->
<div
  class="modal fade bd-example-modal"
  #previousYearBalanceModal
  id="previousYearBalanceModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Previous Year Balance</h3>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mt-2">
            <kendo-grid
              [data]="getPreviousYearBalanceList.value"
              (edit)="editHandler($event)"
              (cancel)="cancelHandler($event)"
              (save)="saveHandler($event)"
              (remove)="removeHandler($event)"
              (add)="addHandler($event)"
              [height]="250"
            >
              <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand>Add new</button>
              </ng-template>

              <kendo-grid-column field="accountClass" title="Account Class">
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-column="column"
                  let-formGroup="formGroup"
                  let-isNew="isNew"
                  let-rowIndex="rowIndex"
                >
                  <input
                    #input
                    class="k-textbox"
                    [formControl]="
                      getOpeningBalanceList.controls[rowIndex].get(
                        'accountClass'
                      )
                    "
                  />
                  <kendo-popup
                    [anchor]="input"
                    *ngIf="
                      getPreviousYearBalanceList.controls[rowIndex].get(
                        'accountClass'
                      ).invalid &&
                      rowSubmitted &&
                      !(
                        isNew &&
                        getPreviousYearBalanceList.controls[rowIndex].get(
                          'accountClass'
                        ).untouched
                      )
                    "
                    popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
                  >
                    <span class="k-icon k-i-warning"></span>
                    Account Class is required
                  </kendo-popup>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="openingBalance" title="Opening Balance">
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-column="column"
                  let-formGroup="formGroup"
                  let-isNew="isNew"
                  let-rowIndex="rowIndex"
                >
                  <kendo-numerictextbox
                    #ntb="popupAnchor"
                    popupAnchor
                    [formControl]="
                      getOpeningBalanceList.controls[rowIndex].get(column.field)
                    "
                  ></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="balanceType" title="Balance Type">
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-column="column"
                  let-formGroup="formGroup"
                  let-isNew="isNew"
                  let-rowIndex="rowIndex"
                >
                  <kendo-numerictextbox
                    #ntb="popupAnchor"
                    popupAnchor
                    [formControl]="
                      getOpeningBalanceList.controls[rowIndex].get(
                        'balanceType'
                      )
                    "
                  ></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-command-column title="Action">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button class="k-button" kendoGridAddCommand>Add</button>
                  <!-- <button kendoGridEditCommand [primary]="true">Edit</button> -->
                  <button kendoGridRemoveCommand>Remove</button>
                  <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
                    {{ isNew ? "Add" : "Update" }}
                  </button>
                  <button kendoGridCancelCommand>
                    {{ isNew ? "Discard changes" : "Cancel" }}
                  </button>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal">
          OK
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
