<div style="background: #efecec !important;">
  <form [formGroup]="editJournalForm" novalidate>
    <div class="contanier-fluid">
      <div class="row mt-5 mr-2">
        <div class="col-md-4">
          <div class="row clearfix">
            <div class="col-md-5">
              <label class="float-right">Series: </label>
            </div>
            <div class="col-md-7">
              <select
                class="form-control"
                id="seriesId"
                formControlName="seriesName"
              >
                <option
                  *ngFor="let series of journalService.journalSeriesList"
                  >{{ series.EngName }}</option
                >
              </select>
            </div>
          </div>
          <div class="row clearfix mt-3">
            <div class="col-md-5">
              <label class="float-right">Project: </label>
            </div>
            <div class="col-md-7">
              <select
                class="form-control"
                id="projectId"
                formControlName="projectName"
              >
                <option *ngFor="let project of journalService.projectLists">
                  {{ project.EngName }}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row clearfix">
            <div class="col-md-5">
              <label class="float-right">Voucher #: </label>
            </div>
            <div class="col-md-7">
              <input class="form-control" formControlName="voucherNo" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row clearfix">
            <div class="col-md-5">
              <label class="float-right">Date :</label>
            </div>
            <div class="col-md-7">
              <input
                formControlName="journalDate"
                type="date"
                class="form-control"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 ml-2" style="background: #fff">
        <kendo-grid
          [data]="getjournalEntryList.value"
          (edit)="editHandler($event)"
          (cancel)="cancelHandler($event)"
          (save)="saveHandler($event)"
          (remove)="removeHandler($event)"
          (add)="addHandler($event)"
          [height]="410"
        >
          <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand>Add new</button>
          </ng-template>

          <kendo-grid-column
            field="particularsOraccountingHead"
            title="Particulars Or AccountingHead"
            width="200"
          >
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <input
                #input
                class="k-textbox"
                [readonly]="true"
                [formControl]="
                  getjournalEntryList.controls[rowIndex].get(
                    'particularsOraccountingHead'
                  )
                "
              />
              <kendo-popup
                [anchor]="input"
                *ngIf="
                  getjournalEntryList.controls[rowIndex].get(
                    'particularsOraccountingHead'
                  ).invalid &&
                  rowSubmitted &&
                  !(
                    isNew &&
                    getjournalEntryList.controls[rowIndex].get(
                      'particularsOraccountingHead'
                    ).untouched
                  )
                "
                popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
              >
                <span class="k-icon k-i-warning"></span>
                Ledger name is required
              </kendo-popup>
              <a
                href="#"
                (click)="openModal(rowIndex)"
                data-toggle="modal"
                data-target="#ledgerSelectModal"
                ><i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="debit" title="Debit" width="150">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <kendo-numerictextbox
                #ntb="popupAnchor"
                popupAnchor
                [formControl]="
                  getjournalEntryList.controls[rowIndex].get(column.field)
                "
                (change)="checkDebitValue(dataItem, rowIndex)"
              ></kendo-numerictextbox>
              <kendo-popup
                [anchor]="ntb.element"
                *ngIf="
                  getjournalEntryList.controls[rowIndex].get('debit').invalid &&
                  rowSubmitted &&
                  !getjournalEntryList.controls[rowIndex].get('debit').untouched
                "
                popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
              >
                <span class="k-icon k-i-warning"></span>
                Debit Amount is required
              </kendo-popup>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="credit" title="Credit" width="150">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <kendo-numerictextbox
                #ntb="popupAnchor"
                popupAnchor
                [formControl]="
                  getjournalEntryList.controls[rowIndex].get('credit')
                "
                (change)="checkCreditValue(dataItem, rowIndex)"
              ></kendo-numerictextbox>

              <kendo-popup
                [anchor]="ntb.element"
                *ngIf="
                  getjournalEntryList.controls[rowIndex].get('credit')
                    .invalid &&
                  rowSubmitted &&
                  !(
                    isNew &&
                    getjournalEntryList.controls[rowIndex].get('credit')
                      .untouched
                  )
                "
                popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
              >
                <span class="k-icon k-i-warning"></span>
                Credit Amount is required
              </kendo-popup>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="balance" title="Balance" width="120">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <kendo-numerictextbox
                #ntb="popupAnchor"
                popupAnchor
                [formControl]="
                  getjournalEntryList.controls[rowIndex].get(column.field)
                "
              ></kendo-numerictextbox>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="remarks" title="Remarks" width="200">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-isNew="isNew"
              let-rowIndex="rowIndex"
            >
              <input
                #ntb="popupAnchor"
                popupAnchor
                [formControl]="
                  getjournalEntryList.controls[rowIndex].get('remarks')
                "
              />
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-command-column title="Action" width="150">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
              <button class="k-button" kendoGridAddCommand>Add</button>
              <!-- <button kendoGridEditCommand [primary]="true">Edit</button> -->
              <button kendoGridRemoveCommand>Remove</button>
              <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
                {{ isNew ? "Add" : "Update" }}
              </button>
              <button kendoGridCancelCommand>
                {{ isNew ? "Discard changes" : "Cancel" }}
              </button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td colspan="2"></td>
              <td colspan="1">Debit Total: {{ debitTotal }}</td>
              <td colspan="1">Credit Total: {{ creditTotal }}</td>
              <td colspan="1">Difference : {{ debitTotal - creditTotal }}</td>
            </tr>
          </tbody>
        </table>

        <!-- <table class="table table-borderless">
          <thead>
            <tr>
              <th>Particulars/Accounting Head<sup>*</sup></th>
              <th>Debit <sup>*</sup></th>
              <th>Credit <sup>*</sup></th>
              <th>Balance</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody
            formArrayName="journalEntryList"
            *ngFor="let item of getjournalEntryList.controls; let i = index"
          >
            <tr [formGroupName]="i">
              <td>
                <a
                  href="#"
                  class="btn btn-link btn-flat"
                  (click)="openModal(i)"
                  data-toggle="modal"
                  data-target="#ledgerSelectModal"
                  >Select</a
                >
                <span class="ledger_name">{{
                  item.value.particularsOraccountingHead
                }}</span>
                <span
                  class="error-msg"
                  *ngIf="
                    item.get('particularsOraccountingHead').errors?.required &&
                    submitted
                  "
                  style="position: relative;
                  display: inline-block;"
                  >Select the Ledger</span
                >
              </td>
              <td>
                <input
                  class="form-control"
                  type="number"
                  formControlName="debit"
                  placeholder="Debit"
                  (change)="checkDebitValue($event, i)"
                />
                <span
                  class="error-msg"
                  *ngIf="item.get('debit').errors?.required && submitted"
                >
                  Amount is Required</span
                >
              </td>
              <td>
                <input
                  class="form-control"
                  type="number"
                  formControlName="credit"
                  placeholder="credit"
                  (change)="checkCreditValue($event, i)"
                />
                <span
                  class="error-msg"
                  *ngIf="item.get('credit').errors?.required && submitted"
                >
                  Amount is Required</span
                >
              </td>
              <td>
                <input
                  class="form-control"
                  formControlName="balance"
                  placeholder="balance"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  formControlName="remarks"
                  placeholder="remarks"
                />
              </td>
              <td style="padding-left:0px;">
                <i
                  class="fa fa-plus-circle"
                  style="cursor: pointer"
                  (click)="addJournalEntry()"
                ></i>
                <i
                  class="fa fa-trash ml-2"
                  style="color: red; cursor: pointer"
                  *ngIf="
                    editJournalForm.get('journalEntryList').controls.length > 1
                  "
                  (click)="deleteJournalEntryRow(i)"
                ></i>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"></td>
              <td colspan="1">Debit Total: {{ debitTotal }}</td>
              <td colspan="1">Credit Total: {{ creditTotal }}</td>
              <td colspan="1">Difference : {{ debitTotal - creditTotal }}</td>
            </tr>
          </tfoot>
        </table> -->
      </div>
      <div class="row mt-2 ml-2 clearfix">
        <div class="col-md-2">
          <label class="float-right">Narration :</label>
        </div>
        <div class="col-md-8">
          <input formControlName="narration" type="text" class="form-control" />
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row mt-2 ml-2 clearfix">
        <div class="col-md-2">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="donotClose" />
            <label class="form-check-label" for="donotClose"
              >Do not close</label
            >
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="printonSaving"
            />
            <label class="form-check-label" for="printonSaving"
              >Print while saving</label
            >
          </div>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-secondary" disabled>
            <i class="fa fa-plus" aria-hidden="true"></i>Group Voucher Posting
          </button>
        </div>
      </div>
      <div class="row m-2">
        <button class="btn btn-primary" disabled (click)="save()">Save</button>
        <button class="btn btn-secondary ml-2" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>

<!--Modal PopUp-->
<div
  class="modal fade bd-example-modal-lg"
  #ledgerSelectModal
  id="ledgerSelectModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" style="max-width: 870px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Ledger</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- <div class="row searchBar" (click)="isCollapsed = !isCollapsed">
            <div class="col-md-10 header-text">
              Search Ledger By
            </div>
            <div class="col-md-2">
              <i
                *ngIf="!isCollapsed"
                class="fa fa-minus pull-right"
                aria-hidden="true"
              ></i>
              <i
                *ngIf="isCollapsed"
                class="fa fa-plus pull-right"
                aria-hidden="true"
              ></i>
            </div>
          </div>
          <div class="row" [hidden]="isCollapsed">
            <div class="col-md-3">
              <label>Ledger Name </label>
              <input
                class="form-control"
                [(ngModel)]="searchByLedgerName"
                placeholder="Search..."
              />
            </div>
            <div class="col-md-3">
              <label>Ledger Code</label>
              <input
                class="form-control"
                [(ngModel)]="searchByLedgerCode"
                placeholder="Search..."
              />
            </div>
            <div class="col-md-3">
              <label>Ledger Type</label>
              <input
                class="form-control"
                [(ngModel)]="searchByLedgerType"
                placeholder="Search..."
              />
            </div>
          </div> -->
          <div class="row mt-2">
            <div class="grid-wrapper">
              <kendo-grid
                [kendoGridBinding]="ledgerList"
                [filterable]="true"
                [pageSize]="pageSize"
                [skip]="skip"
                [sortable]="{
                  allowUnsort: allowUnsort,
                  mode: 'single'
                }"
                [sort]="sort"
                (sortChange)="sortChange($event)"
                [pageable]="true"
                [height]="400"
                (pageChange)="pageChange($event)"
                scrollable="none"
                (selectedKeysChange)="
                  onSelectedKeysChange($event, selectedLedgerRow)
                "
                [kendoGridSelectBy]="'LedgerID'"
                [selectedKeys]="mySelection"
              >
                <kendo-grid-column
                  field="LedgerName"
                  title="Ledger Name"
                  width="350"
                >
                  <ng-template
                    kendoGridCellTemplate
                    let-dataItem="dataItem"
                    let-rowIndex="rowIndex"
                  >
                    <a
                      class="a_link"
                      (click)="selectedLedger(dataItem, selectedLedgerRow)"
                      >{{ dataItem.LedgerName }}</a
                    >
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column
                  field="LedgerCode"
                  title="Ledger Code"
                  width="180"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="ActualBalance"
                  title="Actual Balance"
                  width="180"
                >
                  <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <span class="float-right">{{
                      dataItem.ActualBalance
                    }}</span>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column
                  field="LedgerType"
                  title="Ledger Type"
                  width="150"
                ></kendo-grid-column>
              </kendo-grid>

              <div *ngIf="ledgerListLoading" class="k-i-loading"></div>
            </div>
            <!-- <table class="table table-boardered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Balance</th>
                  <th>Actual Balance</th>
                  <th>Ledger Type</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let list of ledgerList
                      | ledgerFilter
                        : searchByLedgerName
                        : searchByLedgerCode
                        : searchByLedgerType
                      | paginate
                        : {
                            itemsPerPage: itemsPerPage,
                            currentPage: currentPage
                          }
                  "
                >
                  <td>
                    <a
                      class="a_link"
                      (click)="selectedLedger(list, selectedLedgerRow)"
                      >{{ list.LedgerName }}</a
                    >
                  </td>
                  <td>{{ list.LedgerCode }}</td>
                  <td>{{ list.Balance }}</td>
                  <td>{{ list.ActualBalance }}</td>
                  <td>{{ list.LedgerType }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <span *ngIf="ledgerListLoading"> Loading ....</span>
                    <span
                      *ngIf="
                        !ledgerListLoading &&
                        (
                          ledgerList
                          | ledgerFilter
                            : searchByLedgerName
                            : searchByLedgerCode
                            : searchByLedgerType
                        )?.length === 0
                      "
                    >
                      No Results
                    </span>
                    <data-table-pagination
                      (pageChange)="setCurrentPage($event)"
                      [totalItems]="
                        (
                          ledgerList
                          | ledgerFilter
                            : searchByLedgerName
                            : searchByLedgerCode
                            : searchByLedgerType
                        )?.length
                      "
                      [itemsPerPage]="itemsPerPage"
                      [currentPage]="currentPage"
                    >
                    </data-table-pagination>
                  </td>
                </tr>
              </tfoot>
            </table> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
