<div class="box-header">
  <button class="btn btn-primary" (click)="addDepotModal(depotFormModal)">
    <i class="fa fa-plus pull-left" aria-hidden="true"></i>Add Depot
  </button>
</div>
<div id="accordion" class="accordion">
  <div class="box box-default">
    <div
      class="box-header with-border collapsed"
      data-toggle="collapse"
      href="#collapseOne"
    >
      <h3 class="box-title">Search Terms</h3>
    </div>
    <div id="collapseOne" class="box-body collapse" data-parent="#accordion">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="depotForm" novalidate>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Depot Name<sup>*</sup> </label>
                <input
                  class="form-control"
                  id="depot"
                  formControlName="DepotName"
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>City </label>
                <input class="form-control" id="city" formControlName="City" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Telephone </label>
                <input
                  class="form-control"
                  id="telephone"
                  formControlName="Telephone"
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Contact Person</label>
                <input class="form-control" formControlName="ContactPerson" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>License No. </label>
                <input class="form-control" formControlName="LicenceNo" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Depot Address</label>
                <input class="form-control" formControlName="DepotAddress" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Postal Code</label>
                <input class="form-control" formControlName="PostalCode" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Mobile</label>
                <input class="form-control" formControlName="Mobile" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Reg. No.</label>
                <input class="form-control" formControlName="RegNo" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Remarks</label>
                <input class="form-control" formControlName="Remarks" />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="box-footer">
        <div class="mb-2">
          <button class="btn btn-primary btn-flat" (click)="searchForm()">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box box-default">
  <div class="box-body">
    <div class="col-md-12 p-0">
      <div class="grid-wrapper">
        <kendo-grid
          [data]="gridView"
          [filterable]="true"
          [filter]="filter"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="{
            allowUnsort: allowUnsort,
            mode: 'single'
          }"
          [sort]="sort"
          (sortChange)="sortChange($event)"
          [pageable]="true"
          (pageChange)="pageChange($event)"
          scrollable="none"
          (filterChange)="filterChange($event)"
        >
          <kendo-grid-column field="DepotName" title="Depot Name">
          </kendo-grid-column>
          <kendo-grid-column field="City" title="City"> </kendo-grid-column>
          <kendo-grid-column field="ContactPerson" title="Contact Person">
          </kendo-grid-column>
          <kendo-grid-column field="PostalCode" title="Postal Code">
          </kendo-grid-column>
          <kendo-grid-column field="DepotAddress" title="Address">
          </kendo-grid-column>
          <kendo-grid-column
            field="Telephone"
            title="Telephone"
          ></kendo-grid-column>
          <kendo-grid-column field="Mobile" title="Mobile"> </kendo-grid-column>
          <kendo-grid-column field="RegNo" title="Reg. No.">
          </kendo-grid-column>
          <kendo-grid-command-column title="Action" width="150">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
            >
              <button
                kendoGridEditCommand
                (click)="editDepotModal(depotFormModal, dataItem)"
                data-toggle="modal"
                data-target="#viewModal"
                [primary]="true"
              >
                Edit
              </button>
              <button
                kendoGridRemoveCommand
                (click)="openConfirmationDialogue(dataItem)"
              >
                Delete
              </button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
        <div *ngIf="listLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal starts here -->
<form [formGroup]="depotForm">
  <ng-template #depotFormModal>
    <div class="modal-header">
      <h3 class="modal-title pull-left">{{ modalTitle }}</h3>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Depot Name<sup>*</sup></label>
              <input
                class="form-control"
                formControlName="DepotName"
                id="depotName"
                name="Depot name"
                accSwiftFormValidator
              />
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>City </label>
              <input class="form-control" id="city" formControlName="City" />
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Telephone </label>
              <input
                class="form-control"
                id="telephone"
                formControlName="Telephone"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Contact Person</label>
              <input
                class="form-control"
                type="text"
                formControlName="ContactPerson"
              />
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Licence No.</label>
              <input
                class="form-control"
                type="text"
                formControlName="LicenceNo"
              />
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Depot Address</label>
              <input
                class="form-control"
                type="text"
                formControlName="DepotAddress"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Postal Code</label>
              <input
                class="form-control"
                type="number"
                formControlName="PostalCode"
              />
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Mobile</label>
              <input
                class="form-control"
                type="number"
                formControlName="Mobile"
              />
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Reg. No.</label>
              <input
                class="form-control"
                type="number"
                formControlName="RegNo"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Remarks</label>
              <input
                type="text"
                class="form-control"
                formControlName="Remarks"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" (click)="onSubmitDepot()">
          {{ submitButton }}
        </button>
        <button
          class="btn btn-secondary ml-2"
          type="button"
          (click)="modalRef.hide()"
        >
          Cancel
        </button>
      </div>
    </div>
  </ng-template>
</form>
