<div class="box box-default">
  <div class="col-md-6 p-0">
    <div class="box box-solid">
      <kendo-tabstrip (tabSelect)="onTabSelect($event)">
        <kendo-tabstrip-tab [title]="'Tree View'" [selected]="true">
          <ng-template kendoTabContent>
            <div class="col-md-12 mt-3">
              <div class="treeview-wrapper">
                <button class="btn btn-secondary" (click)="expandAllNode()">
                  Expand All
                </button>
                <button
                  class="btn btn-secondary ml-2"
                  (click)="collapseAllNode()"
                >
                  Collapse All
                </button>
                <kendo-treeview
                  #kendoTreeView
                  [nodes]="ledgerTreeList"
                  textField="Title"
                  kendoTreeViewExpandable
                  kendoTreeViewSelectable
                  kendoTreeViewHierarchyBinding
                  childrenField="Child"
                  [expandBy]="'Title'"
                  [(expandedKeys)]="expandedKeys"
                  style="height: 76vh; overflow: scroll"
                >
                  <ng-template kendoTreeViewNodeTemplate let-dataItem>
                    <span
                      [ngClass]="colorGroupOrLedger(dataItem)"
                      (click)="selectedNode(dataItem)"
                    >
                      {{ dataItem.Title }}
                    </span>
                  </ng-template>
                </kendo-treeview>
                <div *ngIf="treeViewLoading" class="k-i-loading"></div>
              </div>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'List View'">
          <ng-template kendoTabContent>
            <div class="row">
              <div class="col-md-12">
                <div class="grid-wrapper-listView">
                  <kendo-grid [data]="ledgerListView" [height]="495">
                    <kendo-grid-column field="AccGroup" title="Account Group">
                    </kendo-grid-column>
                    <kendo-grid-column field="ParentGroup" title="Parent Group">
                    </kendo-grid-column>
                    <kendo-grid-column field="Ledger" title="Ledger">
                    </kendo-grid-column>
                    <kendo-grid-column field="Type" title="Type">
                    </kendo-grid-column>
                  </kendo-grid>
                  <div *ngIf="listViewLoading" class="k-i-loading"></div>
                </div>
              </div>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </div>
  </div>
  <div class="col-md-6 p-0">
    <div class="row">
      <div class="col-md-12 mr-2">
        <div class="col-md-12">
          <button
            class="btn btn-primary m-2 pull-left"
            (click)="addLedgerGroup()"
          >
            <i class="fa fa-plus" aria-hidden="true"></i> Create Ledger Group
          </button>
          <button class="btn btn-primary m-2" (click)="addNewLedger()">
            <i class="fa fa-plus" aria-hidden="true"></i> Create Ledger
          </button>
        </div>
        <div class="col-md-12 mt-5">
          <div #dynamicContentDiv></div>
        </div>

        <!-- <kendo-tabstrip>
          <kendo-tabstrip-tab
            [title]="'Account Group'"
            [selected]="selectedGroupTab ? true : false"
          >
            <ng-template kendoTabContent>
              <accSwift-account-group
                [selectedItem]="selectedItem"
              ></accSwift-account-group>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab
            [title]="'Account Ledger'"
            [selected]="selectedLedgerTab ? true : false"
          >
            <ng-template kendoTabContent>
              <accSwift-account-ledger
                [selectedItem]="selectedItem"
              ></accSwift-account-ledger>
            </ng-template>
          </kendo-tabstrip-tab>
        </kendo-tabstrip> -->
      </div>
    </div>
  </div>
</div>
