<div *ngIf="userType == 'Advanced'">
  <div class="box box-default">
    <div class="col-md-4 p-0">
      <div class="box box-solid">
        <kendo-tabstrip (tabSelect)="onTabSelect($event)">
          <kendo-tabstrip-tab [title]="'Tree View'" [selected]="true">
            <ng-template kendoTabContent>
              <div class="col-md-12 mt-3">
                <div class="treeview-wrapper">
                  <button class="btn btn-secondary" (click)="expandAllNode()">
                    Expand All
                  </button>
                  <button
                    class="btn btn-secondary ml-2"
                    (click)="collapseAllNode()"
                  >
                    Collapse All
                  </button>
                  <kendo-treeview
                    #kendoTreeView
                    [nodes]="ledgerTreeList"
                    textField="Title"
                    kendoTreeViewExpandable
                    kendoTreeViewSelectable
                    kendoTreeViewHierarchyBinding
                    childrenField="Child"
                    [expandBy]="'Title'"
                    [(expandedKeys)]="expandedKeys"
                    style="height: 76vh; overflow: scroll"
                  >
                    <ng-template kendoTreeViewNodeTemplate let-dataItem>
                      <span
                        [ngClass]="colorGroupOrLedger(dataItem)"
                        (click)="selectedNode(dataItem)"
                      >
                        <span *ngIf="dataItem.Code">
                          ({{ dataItem.Code }})</span
                        >
                        &nbsp; {{ dataItem.Title }}
                      </span>
                    </ng-template>
                  </kendo-treeview>
                  <div *ngIf="treeViewLoading" class="k-i-loading"></div>
                </div>
              </div>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab [title]="'List View'">
            <ng-template kendoTabContent>
              <div class="row">
                <div class="col-md-12">
                  <div class="grid-wrapper-listView">
                    <kendo-grid [data]="ledgerListView" [height]="495">
                      <kendo-grid-column field="AccGroup" title="Account Group">
                      </kendo-grid-column>
                      <kendo-grid-column
                        field="ParentGroup"
                        title="Parent Group"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column field="Ledger" title="Ledger">
                      </kendo-grid-column>
                      <kendo-grid-column field="Type" title="Type">
                      </kendo-grid-column>
                    </kendo-grid>
                    <div *ngIf="listViewLoading" class="k-i-loading"></div>
                  </div>
                </div>
              </div>
            </ng-template>
          </kendo-tabstrip-tab>
        </kendo-tabstrip>
      </div>
    </div>
    <div class="col-md-8 p-0">
      <div class="row">
        <div class="col-md-12 mr-2">
          <div class="col-md-12">
            <button
              class="btn btn-primary m-2 pull-left"
              (click)="addLedgerGroup()"
            >
              <i class="fa fa-plus" aria-hidden="true"></i> Create Ledger Group
            </button>
            <button class="btn btn-primary m-2" (click)="addNewLedger()">
              <i class="fa fa-plus" aria-hidden="true"></i> Create Ledger
            </button>
          </div>
          <div class="col-md-12 mt-5">
            <div #dynamicContentDiv></div>
          </div>

          <!-- <kendo-tabstrip>
            <kendo-tabstrip-tab
              [title]="'Account Group'"
              [selected]="selectedGroupTab ? true : false"
            >
              <ng-template kendoTabContent>
                <accSwift-account-group
                  [selectedItem]="selectedItem"
                ></accSwift-account-group>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab
              [title]="'Account Ledger'"
              [selected]="selectedLedgerTab ? true : false"
            >
              <ng-template kendoTabContent>
                <accSwift-account-ledger
                  [selectedItem]="selectedItem"
                ></accSwift-account-ledger>
              </ng-template>
            </kendo-tabstrip-tab>
          </kendo-tabstrip> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="userType == 'Basic'">
  <div class="box box-default">
    <button
      class="btn btn-primary groupAddButton"
      (click)="addNewLedgerGroup()"
    >
      <i class="fa fa-plus" aria-hidden="true"></i> Add New Group
    </button>
    <div class="coa_contents">
      <kendo-tabstrip>
        <ng-container *ngFor="let item of ledgerData; index as i">
          <kendo-tabstrip-tab title="{{ item.Title }}" [selected]="i === 0">
            <ng-template kendoTabContent>
              <ng-container *ngFor="let item1 of item.Child">
                <fieldset>
                  <div class="group-tabs">
                    <h2 class="group-name">{{ item1.Title }}</h2>
                    <button
                      class="btn btn-primary pull-left"
                      (click)="addNewerLedger()"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i> Add New
                      Ledger
                    </button>
                  </div>
                  <div class="ledger-tabs">
                    <div class="row">
                      <div class="col-lg-5">
                        <div class="ledger" *ngIf="item.Title === 'Assets'">
                          <ng-container *ngIf="item1.Title == 'Current Assets'">
                            <ul
                              *ngFor="let ledger of currentAssets; index as i"
                            >
                              <span [ngClass]="colorGroupOrLedger(ledger)">
                                <span *ngIf="ledger.Code"
                                  >({{ ledger.Code }})</span
                                >
                                &nbsp; {{ ledger.Title }}
                              </span>
                              <span class="icon">
                                <i
                                  class="fas fa-edit"
                                  (click)="editNewLedger(ledger)"
                                ></i>
                                <i
                                  class="fas fa-trash-alt"
                                  (click)="deleteAccountLedger(ledger)"
                                ></i>
                              </span>
                            </ul>
                          </ng-container>
                          <ng-container *ngIf="item1.Title == 'Fixed Assests'">
                            <ul *ngFor="let ledger of fixedAssets; index as i">
                              <span [ngClass]="colorGroupOrLedger(ledger)">
                                <span *ngIf="ledger.Code"
                                  >({{ ledger.Code }})</span
                                >
                                &nbsp; {{ ledger.Title }}
                              </span>
                              <span class="icon">
                                <i
                                  class="fas fa-edit"
                                  (click)="editNewLedger(ledger)"
                                ></i>
                                <i
                                  class="fas fa-trash-alt"
                                  (click)="deleteAccountLedger(ledger)"
                                ></i>
                              </span>
                            </ul>
                          </ng-container>
                        </div>
                        <div
                          class="ledger"
                          *ngIf="item.Title === 'Liabilities'"
                        >
                          <ul
                            *ngFor="let ledger of currentLiability; index as i"
                          >
                            <span [ngClass]="colorGroupOrLedger(ledger)">
                              <span *ngIf="ledger.Code"
                                >({{ ledger.Code }})</span
                              >
                              &nbsp; {{ ledger.Title }}
                            </span>
                            <span class="icon">
                              <i
                                class="fas fa-edit"
                                (click)="editNewLedger(ledger)"
                              ></i>
                              <i
                                class="fas fa-trash-alt"
                                (click)="deleteAccountLedger(ledger)"
                              ></i>
                            </span>
                          </ul>
                        </div>
                        <div class="ledger" *ngIf="item.Title === 'Income'">
                          <ul *ngFor="let ledger of directIncome; index as i">
                            <span [ngClass]="colorGroupOrLedger(ledger)">
                              <span *ngIf="ledger.Code"
                                >({{ ledger.Code }})</span
                              >
                              &nbsp; {{ ledger.Title }}
                            </span>
                            <span class="icon">
                              <i
                                class="fas fa-edit"
                                (click)="editNewLedger(ledger)"
                              ></i>
                              <i
                                class="fas fa-trash-alt"
                                (click)="deleteAccountLedger(ledger)"
                              ></i>
                            </span>
                          </ul>
                        </div>
                        <div
                          class="ledger"
                          *ngIf="item.Title === 'Expenditure'"
                        >
                          <ul *ngFor="let ledger of directExpense; index as i">
                            <span [ngClass]="colorGroupOrLedger(ledger)">
                              <span *ngIf="ledger.Code"
                                >({{ ledger.Code }})</span
                              >
                              &nbsp; {{ ledger.Title }}
                            </span>
                            <span class="icon">
                              <i
                                class="fas fa-edit"
                                (click)="editNewLedger(ledger)"
                              ></i>
                              <i
                                class="fas fa-trash-alt"
                                (click)="deleteAccountLedger(ledger)"
                              ></i>
                            </span>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <div class="warn">
                          <p>
                            Cash you haven’t deposited in the bank. Add your
                            bank and credit card accounts to accurately
                            categorize transactions that aren’t cash.
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-2 btns">
                        <button class="modify-btn">
                          <i
                            class="fas fa-edit"
                            (click)="editNewGroup(item1)"
                          ></i>
                        </button>
                        <button class="modify-btn">
                          <i
                            class="fas fa-trash-alt"
                            (click)="deleteLedgerGroup(item1)"
                          ></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </ng-container>
              <!-- <fieldset>
                <div class="group-tabs">
                  <h2 class="group-name">{{ item.Child[1].Title }}</h2>
                  <button
                    class="btn btn-primary pull-left"
                    (click)="addNewerLedger()"
                  >
                    <i class="fa fa-plus" aria-hidden="true"></i> Add New Ledger
                  </button>
                </div>
                <div class="ledger-tabs">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="ledger" *ngIf="item.Title === 'Assets'">
                        <ul *ngFor="let ledger of fixedAssets; index as i">
                          <span [ngClass]="colorGroupOrLedger(ledger)">
                            <span *ngIf="ledger.Code">({{ ledger.Code }})</span>
                            &nbsp; {{ ledger.Title }}
                          </span>
                          <span class="icon">
                            <i
                              class="fas fa-edit"
                              (click)="selectedNewNode(ledger)"
                            ></i>
                            <i
                              class="fas fa-trash-alt"
                              (click)="deleteAccountLedger(ledger)"
                            ></i>
                          </span>
                        </ul>
                      </div>
                      <div class="ledger" *ngIf="item.Title === 'Liabilities'">
                        <ul *ngFor="let ledger of ownerFund; index as i">
                          <span [ngClass]="colorGroupOrLedger(ledger)">
                            <span *ngIf="ledger.Code">({{ ledger.Code }})</span>
                            &nbsp; {{ ledger.Title }}
                          </span>
                          <span class="icon">
                            <i
                              class="fas fa-edit"
                              (click)="selectedNewNode(ledger)"
                            ></i>
                            <i
                              class="fas fa-trash-alt"
                              (click)="deleteAccountLedger(ledger)"
                            ></i>
                          </span>
                        </ul>
                      </div>
                      <div class="ledger" *ngIf="item.Title === 'Income'">
                        <ul *ngFor="let ledger of indirectIncome; index as i">
                          <span [ngClass]="colorGroupOrLedger(ledger)">
                            <span *ngIf="ledger.Code">({{ ledger.Code }})</span>
                            &nbsp; {{ ledger.Title }}
                          </span>
                          <span class="icon">
                            <i
                              class="fas fa-edit"
                              (click)="selectedNewNode(ledger)"
                            ></i>
                            <i
                              class="fas fa-trash-alt"
                              (click)="deleteAccountLedger(ledger)"
                            ></i>
                          </span>
                        </ul>
                      </div>
                      <div class="ledger" *ngIf="item.Title === 'Expenditure'">
                        <ul *ngFor="let ledger of indirectExpense; index as i">
                          <span [ngClass]="colorGroupOrLedger(ledger)">
                            <span *ngIf="ledger.Code">({{ ledger.Code }})</span>
                            &nbsp; {{ ledger.Title }}
                          </span>
                          <span class="icon">
                            <i
                              class="fas fa-edit"
                              (click)="selectedNewNode(ledger)"
                            ></i>
                            <i
                              class="fas fa-trash-alt"
                              (click)="deleteAccountLedger(ledger)"
                            ></i>
                          </span>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="warn">
                        <p></p>
                      </div>
                    </div>
                    <div class="col-lg-1">
                      <button class="edit">
                        <i class="fas fa-edit"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="group-tabs">
                  <h2
                    class="group-name"
                    *ngIf="item.Title === 'Liabilities'; else elseBlock"
                  >
                    {{ item.Child[2].Title }}
                  </h2>
                  <ng-template #elseBlock>
                    <h2 class="group-name">Expected Payments from Customers</h2>
                  </ng-template>
                  <button
                    class="btn btn-primary pull-left"
                    (click)="addNewerLedger()"
                  >
                    <i class="fa fa-plus" aria-hidden="true"></i> Add New Ledger
                  </button>
                </div>
                <div class="ledger-tabs">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="ledger" *ngIf="item.Title === 'Liabilities'">
                        <ul *ngFor="let ledger of loanFund; index as i">
                          <span [ngClass]="colorGroupOrLedger(ledger)">
                            <span *ngIf="ledger.Code">({{ ledger.Code }})</span>
                            &nbsp; {{ ledger.Title }}
                          </span>
                          <span class="icon">
                            <i
                              class="fas fa-edit"
                              (click)="selectedNewNode(ledger)"
                            ></i>
                            <i
                              class="fas fa-trash-alt"
                              (click)="deleteAccountLedger(ledger)"
                            ></i>
                          </span>
                        </ul>
                        <ul class="no-trns">
                          Last transaction on May 5, 2021
                        </ul>
                      </div>
                    </div>

                    <div class="col-lg-5">
                      <div class="warn">
                        <p></p>
                      </div>
                    </div>
                    <div class="col-lg-1">
                      <button class="edit">
                        <i class="fas fa-edit"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="group-tabs">
                  <h2 class="group-name">Inventory</h2>
                  <button
                    class="btn btn-primary pull-left"
                    (click)="addNewerLedger()"
                  >
                    <i class="fa fa-plus" aria-hidden="true"></i> Add New Ledger
                  </button>
                </div>
                <div class="ledger-tabs">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="ledger">
                        <ul class="no-trns">
                          You haven’t added any Inventory accounts yet.
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="warn">
                        <p></p>
                      </div>
                    </div>
                    <div class="col-lg-1">
                      <button class="edit">
                        <i class="fas fa-edit"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </fieldset> -->
            </ng-template>
          </kendo-tabstrip-tab>
        </ng-container>
      </kendo-tabstrip>
    </div>
  </div>
</div>
