<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Enter Opening Balance</label>
        <input
          class="form-control"
          type="number"
          [(ngModel)]="openingBalance"
          (change)="openingBalanceChange()"
        />
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <kendo-grid
      [data]="getSubLedgerList.value"
      (add)="addHandler($event)"
      (remove)="removeHandler($event)"
    >
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>Add New</button>
      </ng-template>
      <kendo-grid-column field="Code" title="Code" width="100">
        <ng-template
          kendoGridCellTemplate
          let-dataItem="dataItem"
          let-column="column"
          let-formGroup="formGroup"
          let-isNew="isNew"
          let-rowIndex="rowIndex"
        >
          <kendo-autocomplete
            [data]="suggestCodeList"
            class="form-control"
            [formControl]="getSubLedgerList.controls[rowIndex].get('Code')"
            [valueField]="'Code'"
            [suggest]="true"
            [placeholder]="'Code'"
            (blur)="suggestCode()"
          ></kendo-autocomplete>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Name" title="Name" width="100">
        <ng-template
          kendoGridCellTemplate
          let-dataItem="dataItem"
          let-column="column"
          let-formGroup="formGroup"
          let-isNew="isNew"
          let-rowIndex="rowIndex"
        >
          <input
            #ntb="popupAnchor"
            popupAnchor
            class="form-control"
            [formControl]="
              getSubLedgerList.controls[rowIndex].get(column.field)
            "
          />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Remarks" title="Description" width="100">
        <ng-template
          kendoGridCellTemplate
          let-dataItem="dataItem"
          let-column="column"
          let-formGroup="formGroup"
          let-isNew="isNew"
          let-rowIndex="rowIndex"
        >
          <input
            class="form-control"
            [formControl]="getSubLedgerList.controls[rowIndex].get('Remarks')"
          />
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="IsActive" title="IsActive" width="70">
        <ng-template
          kendoGridCellTemplate
          let-dataItem="dataItem"
          let-column="column"
          let-formGroup="formGroup"
          let-isNew="isNew"
          let-rowIndex="rowIndex"
        >
          <input
            type="checkbox"
            kendoCheckBox
            [formControl]="getSubLedgerList.controls[rowIndex].get('IsActive')"
          />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column title="Action" width="120">
        <ng-template
          kendoGridCellTemplate
          let-dataItem="dataItem"
          let-column="column"
          let-formGroup="formGroup"
          let-isNew="isNew"
          let-rowIndex="rowIndex"
        >
          <div class="form-group">
            <button
              type="button"
              class="btn btn-secondory mr-2"
              (click)="openingBalanceOfSubLedger(getSubLedgerList, rowIndex)"
              tooltip="Opening Balance "
            >
              Ope. Bal <sup>*</sup>
            </button>
            <button kendoGridRemoveCommand>
              <i class="fas fa-trash-alt cursor-pointer" tooltip="Delete"></i>
            </button>
          </div>
        </ng-template>
      </kendo-grid-command-column>
      <!-- 
      <kendo-grid-column title="Action" width="120">
        <ng-template
          kendoGridCellTemplate
          let-dataItem="dataItem"
          let-column="column"
          let-formGroup="formGroup"
          let-isNew="isNew"
          let-rowIndex="rowIndex"
        >
          <div class="form-group">
            <button
              type="button"
              class="btn btn-secondory"
              (click)="openingBalanceOfSubLedger(getSubLedgerList, rowIndex)"
              tooltip=" Opening Balance "
            >
              Ope. Bal <sup>*</sup>
            </button>
          </div>
        </ng-template>
        <button kendoGridRemoveCommand>
          <i class="fas fa-trash-alt mr-2 cursor-pointer" tooltip="Delete"></i>
        </button>
      </kendo-grid-column> -->
    </kendo-grid>
  </div>
</div>
