<div class="box box-default">
  <form [formGroup]="addProductGroupForm" novalidate>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-md-4 col-sm-6 col-xs-6 p-0">
          <div class="form-group">
            <label>Group Name </label>
            <input class="form-control" formControlName="groupName" />
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 pr-0">
          <div class="form-group">
            <label>Parent Group</label>
            <input class="form-control" formControlName="parentGroup" />
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 pr-0">
          <div class="form-group">
            <label>Remarks</label>
            <textarea class="form-control" formControlName="remarks"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="box-footer">
    <div class="mb-2">
      <button class="btn btn-primary" disabled (click)="save()">Save</button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
