<div class="col-md-4">
  <ul class="heroes">
    <li
      *ngFor="let roles of accessRoles"
      [class.selected]="roles.ID === selectedRoles"
      (click)="onSelect(roles)"
    >
      {{ roles.Name }}
    </li>
  </ul>
</div>
<div class="col-md-8">
  <!-- <fieldset>
    <legend>Check Settings</legend>
    <div class="k-form-field" style="margin-bottom: 1em">
      <span class="right"><strong>Mode:</strong></span>
      <input
        type="radio"
        name="checkMode"
        id="singleCheck"
        value="single"
        class="k-radio right"
        [(ngModel)]="checkMode"
      />
      <label class="k-radio-label right" for="singleCheck">Single</label>
      <input
        type="radio"
        name="checkMode"
        id="multipleCheck"
        value="multiple"
        class="k-radio"
        [(ngModel)]="checkMode"
      />
      <label class="k-radio-label" for="multipleCheck">Multiple</label>
    </div>
    <div *ngIf="checkMode == 'multiple'">
      <label class="k-form-field right">
        <input
          type="checkbox"
          id="enableCheck"
          class="k-checkbox"
          [(ngModel)]="enableCheck"
        />
        <label class="k-checkbox-label" for="enableCheck">Enable</label>
      </label>
      <label class="k-form-field right">
        <input
          type="checkbox"
          id="checkChildren"
          class="k-checkbox"
          [(ngModel)]="checkChildren"
        />
        <label class="k-checkbox-label" for="checkChildren"
          >Check all children</label
        >
      </label>
      <label class="k-form-field right">
        <input
          type="checkbox"
          id="checkParents"
          class="k-checkbox"
          [(ngModel)]="checkParents"
        />
        <label class="k-checkbox-label" for="checkParents"
          >Check all parents when children are checked</label
        >
      </label>
      <label class="k-form-field right">
        <input
          type="checkbox"
          id="checkOnClick"
          class="k-checkbox"
          [(ngModel)]="checkOnClick"
        />
        <label class="k-checkbox-label" for="checkOnClick"
          >Check the node on click</label
        >
      </label>
    </div>
  </fieldset> -->
  <br />
  <kendo-treeview
    [nodes]="accessRoleTreeView"
    childrenField="Child"
    [expandBy]="'Title'"
    kendoTreeViewExpandable
    kendoTreeViewSelectable
    kendoTreeViewHierarchyBinding
    kendoTreeViewExpandable
    textField="Title"
    [kendoTreeViewCheckable]="checkableSettings"
    [(checkedKeys)]="checkedKeys"
  >
  </kendo-treeview>
  <div style="margin: 10px 0">
    <i>Press SPACE to check/uncheck the active node</i>
    <div class="example-config">Checked keys: {{ checkedKeys.join(",") }}</div>
  </div>
</div>
