<div class="box box-default">
  <div class="col-md-6 p-0">
    <div class="box box-solid">
      <kendo-tabstrip (tabSelect)="onTabSelect($event)">
        <kendo-tabstrip-tab [title]="'Tree View'" [selected]="true">
          <ng-template kendoTabContent>
            <div class="col-md-12 mt-3">
              <div class="treeview-wrapper">
                <button class="btn btn-secondary" (click)="expandAllNode()">
                  Expand All
                </button>
                <button class="btn btn-secondary ml-2" (click)="collapseAllNode()">
                  Collapse All
                </button>

                <kendo-treeview [nodes]="productTreeList" textField="Title" kendoTreeViewExpandable
                  kendoTreeViewSelectable kendoTreeViewHierarchyBinding childrenField="Child" [expandBy]="'Title'"
                  kendoTreeViewExpandable [(expandedKeys)]="expandedKeys" style="height: 76vh ; overflow:scroll">
                  <ng-template kendoTreeViewNodeTemplate let-dataItem>
                    <span [ngClass]="colorGroupOrLedger(dataItem)" (click)="selectedNode(dataItem)">
                      {{ dataItem.Title }}
                    </span>
                  </ng-template>
                </kendo-treeview>
                <div *ngIf="treeViewLoading" class="k-i-loading"></div>
              </div>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'List View'">
          <ng-template kendoTabContent>
            <div class="row">
              <div class="col-md-12">
                <div class="grid-wrapper-listView">
                  <kendo-grid [data]="productListView" [height]="495">
                    <kendo-grid-column field="EngName" title="Name">
                    </kendo-grid-column>
                    <kendo-grid-column field="GroupName" title="Group Name">
                    </kendo-grid-column>
                    <kendo-grid-column field="Code" title="Code">
                    </kendo-grid-column>
                    <kendo-grid-column field="TotalValue" title="Total Value">
                    </kendo-grid-column>
                  </kendo-grid>
                  <div *ngIf="listViewLoading" class="k-i-loading"></div>
                </div>
              </div>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </div>
  </div>
  <div class="col-md-6 p-0">
    <div class="row">
      <div class="col-md-12 mr-2">
        <kendo-tabstrip>
          <kendo-tabstrip-tab [title]="'Product Group'" [selected]="selectedProductGroupTab ? true : false">
            <ng-template kendoTabContent>
              <accSwift-product-group [selectedItem]="selectedItem"></accSwift-product-group>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab [title]="'Product'" [selected]="selectedProductTab ? true : false">
            <ng-template kendoTabContent>
              <accSwift-product [selectedItem]="selectedItem"></accSwift-product>
            </ng-template>
          </kendo-tabstrip-tab>
        </kendo-tabstrip>
      </div>
    </div>
  </div>
</div>
