<section id="budget-setup-contents">
  <div class="add-budget-form margin-top">
    <form>
      <fieldset>
        <legend>Add Budget</legend>
        <div class="add-budget">
          <div class="form-group">
            <label for="">Budget Name:</label>
            <input type="text" />
          </div>
          <div class="budget-date">
            <div class="form-group">
              <label for="">Starting Date:</label>
              <input type="text" />
            </div>
            <div class="form-group">
              <label for="">Ending Date:</label>
              <input type="text" />
            </div>
          </div>
          <div class="form-group">
            <label for="">Description:</label>
            <textarea name="" id=""></textarea>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="box-footer add-budget-btns">
    <div class="mb-2">
      <button class="btn btn-secondary ml-2">New</button>
      <button class="btn btn-secondary ml-2">Edit</button>
      <button class="btn btn-secondary ml-2">Save</button>
      <button class="btn btn-secondary ml-2">Delete</button>
      <button class="btn btn-secondary ml-2">Cancel</button>
    </div>
  </div>
  <div class="cur-up-budget margin-top">
    <fieldset>
      <legend>Current and Upcoming Budget</legend>
      <table class="add-budget-table">
        <thead>
          <tr class="add-budget-thead">
            <th class="text-left" colspan="1">S.No</th>
            <th class="text-left" colspan="1">Budget Name</th>
            <th class="text-left" colspan="1">Start Date</th>
            <th class="text-left" colspan="1">End Date</th>
          </tr>
        </thead>

        <tbody>
          <tr class="add-budget-tbody">
            <td style="width: 60px" colspan="1">1</td>
            <td style="width: 160px" colspan="1">Annual Budget</td>
            <td style="width: 160px" colspan="1">2077/04/01</td>
            <td style="width: 160px" colspan="1">2077/04/01</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</section>
