<section id="basic_new_invoice_contents">
  <div class="container-fluid">
    <section class="new-invoice-top-bar">
      <div class="row">
        <div class="col-lg-9">
          <h2 class="head-title">New Invoice</h2>
        </div>
        <div class="col-lg-3">
          <div class="top-buttons">
            <button class="create-invoice-btn">
              <span
                >Save and Continue
                <div class="down-arrow">
                  <i class="fas fa-sort-down"></i></div
              ></span>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="invoice-add-body">
      <div class="invoice-add-info">
        <button class="add-title" (click)="toggle()" id="bt">
          <h4>Business address and contact details, title, summary and logo</h4>
          <span
            [ngClass]="show ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"
          ></span>
        </button>
        <ng-container *ngIf="show">
          <div class="business-details">
            <div class="browse-logo">
              <i class="fas fa-cloud-upload-alt"></i>
              <div class="browse-info">
                <span
                  ><span class="browse">Browse</span> or drop your logo
                  here.</span
                >
                <small>Maximum 5MB in size.</small>
                <small>JPG, PNG, or GIF formats.</small>
                <small>Recommended Size: 300*200 pixels</small>
              </div>
            </div>
            <div class="business-address-details">
              <div class="invoice-details-input">
                <div class="form-group">
                  <input type="text" name="invoice" placeholder="Invoice" />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="summary"
                    placeholder="Summary(e.g. project name, description of invoice)"
                  />
                </div>
              </div>
              <div class="edit-business-details">
                <b>Business</b>
                <small>United States</small>
                <a href="">Edit your business details and contact address</a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
    <section class="invoice-highlight">
      <section class="info-customer-wrap">
        <div class="row inner-details">
          <div class="col-lg-4">
            <div class="add-customer">
              <button
                type="button"
                class="add-customer-btn"
                data-toggle="modal"
                data-target="#cash-party-acc"
              >
                <span class="user"><i class="far fa-user"></i></span
                ><span class="plus"><i class="fas fa-plus"></i></span>Add a
                Customer
              </button>

              <div class="modal fade" id="cash-party-acc">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="form-group">
                        <accSwift-cash-party-account
                          formControlName="CashPartyLedgerID"
                        ></accSwift-cash-party-account>
                      </div>
                      <button class="add-item-btn" (click)="addNewUser()">
                        <i
                          class="fas fa-plus-circle"
                          style="padding-top: 3px"
                        ></i>
                        Add a New User
                      </button>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="hotspot-wrap">
                <div class="trigger"></div>
                <div class="pulse"></div>
                <div class="transparent"></div>
                <div class="center"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="cus-invoice-details">
              <form [formGroup]="salesInvoiceForm" novalidate>
                <div class="row cus-invoice-input">
                  <div [hidden]="true" class="col-lg-4">
                    <div class="form-group">
                      <accSwift-series-forms
                        formControlName="SeriesID"
                        [voucherType]="'SALES'"
                      ></accSwift-series-forms>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Order No.</label>
                      <input
                        type="number"
                        class="form-control"
                        formControlName="OrderNo"
                        accSwiftFormValidator
                      />
                    </div>
                  </div>
                  <div [hidden]="true" class="col-lg-4">
                    <div class="form-group">
                      <label>Scan Product</label>
                      <input type="text" disabled class="form-control" />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <accSwift-voucher-forms
                        *ngIf="!salesInvoiceForm.get('VoucherNo').value"
                        formControlName="VoucherNo"
                        [series]="salesInvoiceForm.get('SeriesID').value"
                      ></accSwift-voucher-forms>
                      <accSwift-voucher-forms
                        *ngIf="salesInvoiceForm.get('VoucherNo').value"
                        formControlName="VoucherNo"
                        [series]="null"
                      ></accSwift-voucher-forms>
                    </div>
                  </div>
                  <div [hidden]="true" class="col-lg-4">
                    <div class="form-group">
                      <accSwift-cash-party-account
                        formControlName="CashPartyLedgerID"
                      ></accSwift-cash-party-account>
                    </div>
                  </div>
                  <div [hidden]="true" class="col-lg-4">
                    <div class="form-group">
                      <accSwift-sales-account
                        formControlName="SalesLedgerID"
                      ></accSwift-sales-account>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <accSwift-depot
                        formControlName="DepotID"
                      ></accSwift-depot>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Date </label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="Date"
                        bsDatepicker
                      />
                    </div>
                  </div>
                  <div [hidden]="true" class="col-lg-4">
                    <div class="form-group">
                      <accSwift-project-forms
                        formControlName="ProjectID"
                      ></accSwift-project-forms>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="invoice-add-details">
        <div class="invoice-add-amounts">
          <div class="total-amounts-line">
            <div class="amount-label">Subtotal</div>
            <div class="amount-value">$0.00</div>
          </div>
          <div class="total-amounts-line">
            <div class="amount-label">
              <div class="invoice-amount d-inline-flex">
                <label for="">Total</label>
                <input
                  type="text"
                  name="amount"
                  placeholder="USD ($) - U.S. dollar"
                />
                <div class="down-arrow">
                  <i class="fas fa-sort-down"></i>
                </div>
              </div>
            </div>
            <div class="amount-value">$0.00</div>
          </div>
        </div>
      </section>
      <hr class="bdr-light lg hline" />
      <section class="invoice-memo">
        <div class="notes">Notes/Terms</div>
        <textarea
          name="memo"
          placeholder="Enter notes or terms of service that are visible to  your customer"
        ></textarea>
      </section>
    </section>
    <section class="invoice-add-footer">
      <div class="invoice-add-info">
        <button class="add-title" (click)="toggle()" id="bt">
          <h4>Footer</h4>
          <span
            [ngClass]="show ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"
          ></span>
        </button>
        <ng-container *ngIf="show">
          <textarea
            name="memo"
            placeholder="Enter a footer for this invoice (ex:tax-information, thankyou note)"
          ></textarea>
        </ng-container>
      </div>
    </section>
    <section class="foot-save-btn top-buttons new-invoice-top-bar">
      <button class="create-invoice-btn">
        <span
          >Save and Continue
          <div class="down-arrow">
            <i class="fas fa-sort-down"></i></div
        ></span>
      </button>
    </section>
  </div>
</section>
