<div class="box box-default">
  <form [formGroup]="salesInvoiceForm" novalidate>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Series<sup>*</sup></label>
            <select
              class="form-control"
              formControlName="SeriesID"
              (change)="seriesValueChange()"
            >
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="let series of salesInvoiceService.seriesList"
                [ngValue]="series.ID"
              >
                {{ series.Name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Order No.</label>
            <input
              type="number"
              class="form-control"
              formControlName="OrderNo"
              accSwiftFormValidator
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Voucher No. <sup>*</sup></label>
            <input
              type="text"
              class="form-control"
              formControlName="VoucherNo"
              accSwiftFormValidator
            />
            <span
              *ngIf="IsAutomatic"
              style="
                top: 32px;
                margin-left: 172px;
                display: inline-block;
                position: absolute;
              "
              >Automatic</span
            >
          </div>
          <div class="form-group">
            <div class="col-md-12 p-0">
              <div class="col-md-11 pl-0">
                <label>Cash/ Party /A/C <sup>*</sup></label>
                <kendo-dropdownlist
                  class="form-control"
                  [data]="cashPartyList"
                  [filterable]="true"
                  [textField]="'LedgerName'"
                  [valueField]="'LedgerID'"
                  [valuePrimitive]="true"
                  [formControl]="salesInvoiceForm.get('CashPartyLedgerID')"
                  (filterChange)="cashPartyDDFilter($event)"
                >
                </kendo-dropdownlist>
              </div>
              <div class="col-md-1 p-0">
                <a (click)="openCashPartyModel()"
                  ><i
                    class="fa fa-eye pull-right ledgerSelectIcon"
                    style="margin-top: 25px; font-size: 18px;"
                    aria-hidden="true"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Project<sup>*</sup></label>
            <select class="form-control" formControlName="ProjectID">
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="let project of salesInvoiceService.projectList"
                [ngValue]="project.ID"
              >
                {{ project.EngName }}
              </option></select
            >
          </div>
          <div class="form-group">
            <label>Sales /A/C <sup>*</sup></label>
            <select
              class="form-control"
              formControlName="SalesLedgerID"
              accSwiftFormValidator
            >
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="
                    let salesAccount of salesInvoiceService.salesAccountList
                  "
                [ngValue]="salesAccount.LedgerID"
              >
                {{ salesAccount.LedgerName }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Depot/ Location<sup>*</sup></label>
            <select
              class="form-control"
              formControlName="DepotID"
              accSwiftFormValidator
            >
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="let depot of salesInvoiceService.depotList"
                [ngValue]="depot.ID"
              >
                {{ depot.DepotName }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Date </label>
            <input
              type="text"
              class="form-control"
              formControlName="Date"
              bsDatepicker
            />
          </div>
          <div class="form-group">
            <kendo-dropdownlist
              class="form-control"
              [data]="productList"
              style="width: 120px;"
              [filterable]="true"
              [textField]="'CodeName'"
              [valueField]="'ID'"
            >
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-bordered" style="width: 80%;">
        <thead>
          <tr>
            <th>
              Product
            </th>
            <th>
              Qty
            </th>
            <th>
              Unit
            </th>
            <th>Sales Rate</th>
            <th>Disc%</th>
            <th>Amount</th>
            <th>Tax Rate</th>
            <th>Remarks</th>
            <th>Action</th>
            <th></th>
          </tr>
        </thead>
        <tbody formArrayName="InvoiceDetails">
          <tr
            *ngFor="let n of getInvoiceEntryList.value; let rowIndex = index;"
            [formGroupName]="rowIndex"
          >
            <td>
              <!-- <div class="form-group">
                <select
                  class="form-control"
                  type="text"
                  formControlName="ProductName"
                >
                  <input
                    type="text"
                    placeholder="Search.."
                    id="myInput"
                    (onkeyup)="productDDFilter($event)"
                  />
                  <option
                    *ngFor="let product of productList"
                    [ngValue]="product.ID"
                  >
                    {{product.Name}}</option
                  >
                </select>
              </div> -->
              <div class="col-md-12">
                <div class="form-group">
                  <kendo-dropdownlist
                    class="form-control"
                    [data]="productList"
                    style="width: 120px;"
                    [filterable]="true"
                    [textField]="'CodeName'"
                    [valueField]="'ID'"
                  >
                  </kendo-dropdownlist>
                </div>
              </div>

              <!-- formControlName="ProductName"
                (filterChange)="productDDFilter($event)"
                [valuePrimitive]="true" -->

              <!-- <input
                #input
                class="k-textbox"
                formControlName="ProductName"
                style="width: 120px;"
              /> -->
              <!-- <a (click)="openModal(rowIndex)"
                ><i
                  class="fa fa-eye pull-right ledgerSelectIcon"
                  style="right: 5px; top: -24px; position: relative;"
                  aria-hidden="true"
                ></i>
              </a> -->
            </td>
            <td>
              <kendo-numerictextbox
                popupAnchor
                [format]="'n0'"
                [min]="1"
                style="width: 80px;"
                formControlName="Quantity"
                (valueChange)="changeInvoiceValues(dataItem, rowIndex)"
              >
              </kendo-numerictextbox>
            </td>
            <td>
              <kendo-dropdownlist
                [data]="relatedUnits"
                textField="Name"
                valueField="ID"
                style="width: 120px;"
                [valuePrimitive]="true"
                formControlName="QtyUnitID"
              >
              </kendo-dropdownlist>
            </td>
            <td>
              <kendo-numerictextbox
                popupAnchor
                [decimals]="decimals"
                [spinners]="false"
                [format]="c0"
                style="width: 80px;"
                formControlName="SalesRate"
              >
              </kendo-numerictextbox>
            </td>
            <td>
              <kendo-numerictextbox
                [format]="'p'"
                [step]="0.1"
                [min]="0"
                [max]="1"
                style="width: 80px;"
                [valuePrimitive]="true"
                [value]="percentage"
                formControlName="DiscPercentage"
                (valueChange)="changeInvoiceValues(dataItem, rowIndex)"
              ></kendo-numerictextbox>
            </td>
            <td>
              <kendo-numerictextbox
                popupAnchor
                [decimals]="decimals"
                [spinners]="false"
                [format]="c0"
                style="width: 100px;"
                formControlName="Amount"
              >
              </kendo-numerictextbox>
            </td>
            <td>
              <kendo-dropdownlist
                [data]="salesInvoiceService.taxList"
                textField="Name"
                valueField="ID"
                [valuePrimitive]="true"
                formControlName="TaxID"
                style="width: 120px;"
                (valueChange)="handleTaxChange($event, rowIndex)"
              >
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span class="template">{{ dataItem.Name }}</span>({{
                  dataItem.Rate }} %)
                </ng-template>
              </kendo-dropdownlist>
            </td>
            <td>
              <input
                #ntb="popupAnchor"
                popupAnchor
                class="k-textbox"
                style="width: 120px;"
                formControlName="Remarks"
              />
            </td>
            <td>
              <button class="btn btn-secondary pull-left">
                <i
                  class="fa fa-plus cursor-pointer"
                  aria-hidden="true"
                  aria-label="Add New"
                ></i>
              </button>
              <button
                class="btn btn-secondary pull-right"
                style="position: absolute; margin-left: 10px;"
              >
                <i
                  class="fas fa-trash-alt cursor-pointer"
                  (click)="removeInvoiceList(rowIndex)"
                  aria-label="Delete"
                ></i>
              </button>
              <!--   <button class="pull-left" type="button">
                <i
                  class="fa fa-plus cursor-pointer"
                  aria-hidden="true"
                  aria-label="Add New"
                ></i>
              </button> -->
              <!-- <button class="pull-right" type="button">
                <i
                  class="fas fa-trash-alt mr-2 cursor-pointer"
                  aria-label="Delete"
                ></i>
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-12">
      <div class="col-md-10 offset-md-3">
        <table
          class="table"
          width="60%"
          style="float: right; width: 45%; text-align: right;"
        >
          <tbody>
            <tr>
              <td>
                Adjustment (Rs):
              </td>
              <td>{{ adjustmentAmount | number: "1.1-2" }}</td>
              <td>Tax 1</td>
              <td>0.00</td>
              <td>Gross(Rs)</td>
              <td>{{ totalGrossAmount | number: "1.1-2" }}</td>
            </tr>
            <tr>
              <td>
                Tender:
              </td>
              <td>{{ tenderAmount | number: "1.1-2" }}</td>
              <td>Tax 2</td>
              <td>0.00</td>
              <td>Total Discount Amount (Rs)</td>
              <td>{{ totalDiscountAmount | number: "1.1-2" }}</td>
            </tr>
            <tr>
              <td>
                Change:
              </td>
              <td>{{ changeAmount | number: "1.1-2" }}</td>
              <td>Tax 2</td>
              <td>0.00</td>
              <td>VAT(13%)</td>
              <td>
                {{ vatTotalAmount | number: "1.1-2" }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Grand Total</td>
              <td>
                {{ grandTotalAmount | number: "1.1-2" }}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-md-2 offset-md-10">
        <button (click)="openTender(tenderModal)" class="btn-primary">
          Tender Amount
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="form-group">
          <label>Remarks</label>
          <input formControlName="Remarks" type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-sm-2">
        <div class="form-group">
          <div class="checkbox">
            <label> <input type="checkbox" />Do not close </label>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <div class="checkbox">
            <label> <input type="checkbox" />Print while saving </label>
            <button [routerLink]="['invoice-billing']" class="btn btn-primary">
              Print Invoice
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="box-footer">
    <div class="mb-2">
      <button
        class="btn btn-primary"
        (click)="save()"
        accSwiftFormSubmitValidationMsg
        [validationControl]="salesInvoiceForm"
      >
        Save
      </button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>

<ng-template #tenderModal>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Tender Amount</h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="tenderForm" novalidate>
          <div class="form-group">
            <label>Tender Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="tenderAmount"
            />
          </div>
          <div class="form-group">
            <label>Adjust/Round Off Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="adjustAmount"
            />
          </div>
          <div class="form-group">
            <label>Payable Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="payableAmount"
            />
          </div>
          <div class="form-group">
            <label>Paid Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="paidAmount"
              step="0.01"
            />
          </div>
          <div class="form-group">
            <label>Return Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="returnAmount"
            />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" (click)="payInvoice()">
      Pay
    </button>
    <button
      class="btn btn-secondary ml-2"
      type="button"
      (click)="modalRef.hide()"
    >
      Cancel
    </button>
  </div>
</ng-template>
