<div class="box box-default">
  <div class="col-md-12 col-xs-12" style="margin-top: 18px;">
    <div class="move-right">
      <button class="btn btn-default mr-2 mt-2" tooltip="Generate Pdf">
        <i class="{{ iconConst.EXPORT_TO_PDF }}"></i>
      </button>
      <button class="btn btn-default mr-2 mt-2" tooltip="CSV Export" disabled>
        <i class="{{ iconConst.EXPORT_TO_CSV }}"></i>
      </button>
      <button
        class="btn btn-default mr-2 mt-2"
        tooltip="Print"
        printSectionId="print-section"
        ngxPrint
        [useExistingCss]="true"
        [routerLink]="['invoice-billing']"
      >
        <i class="{{ iconConst.PRINT }}"></i>
      </button>
      <button class="btn btn-default mr-2 mt-2" disabled tooltip="Email">
        <i class="{{ iconConst.EMAIL }}"></i>
      </button>
    </div>
  </div>
  <div class="col-md-12 m-2">
    <form [formGroup]="salesInvoiceForm" novalidate>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Series<sup>*</sup></label>
              <select
                class="form-control"
                formControlName="SeriesID"
                (change)="seriesValueChange()"
              >
                <option [ngValue]="null">Choose Option....</option>
                <option
                  *ngFor="let series of salesInvoiceService.seriesList"
                  [ngValue]="series.ID"
                >
                  {{ series.Name }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Order No.</label>
              <input
                type="number"
                class="form-control"
                formControlName="OrderNo"
                accSwiftFormValidator
              />
            </div>
            <div class="form-group">
              <label>Scan Product</label>
              <input type="text" disabled class="form-control" />
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Voucher No. <sup>*</sup></label>
              <input
                type="text"
                class="form-control"
                formControlName="VoucherNo"
                accSwiftFormValidator
              />
              <span
                *ngIf="IsAutomatic"
                style="
                  top: 32px;
                  margin-left: 172px;
                  display: inline-block;
                  position: absolute;
                "
                >Automatic</span
              >
            </div>
            <div class="form-group">
              <div class="col-md-12 p-0">
                <div class="col-md-11 pl-0">
                  <label>Cash/ Party /A/C <sup>*</sup></label>
                  <kendo-dropdownlist
                    class="form-control"
                    [data]="cashPartyList"
                    [filterable]="true"
                    [textField]="'LedgerName'"
                    [valueField]="'LedgerID'"
                    [valuePrimitive]="true"
                    [formControl]="salesInvoiceForm.get('CashPartyLedgerID')"
                    (filterChange)="cashPartyDDFilter($event)"
                  >
                  </kendo-dropdownlist>
                </div>
                <div class="col-md-1 p-0">
                  <a (click)="openCashPartyModel()"
                    ><i
                      class="fa fa-eye pull-right ledgerSelectIcon"
                      style="margin-top: 25px; font-size: 18px;"
                      aria-hidden="true"
                    ></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Project<sup>*</sup></label>
              <select class="form-control" formControlName="ProjectID">
                <option [ngValue]="null">Choose Option....</option>
                <option
                  *ngFor="let project of salesInvoiceService.projectList"
                  [ngValue]="project.ID"
                >
                  {{ project.EngName }}
                </option></select
              >
            </div>
            <div class="form-group">
              <label>Sales /A/C <sup>*</sup></label>
              <select
                class="form-control"
                formControlName="SalesLedgerID"
                accSwiftFormValidator
              >
                <option [ngValue]="null">Choose Option....</option>
                <option
                  *ngFor="
                    let salesAccount of salesInvoiceService.salesAccountList
                  "
                  [ngValue]="salesAccount.LedgerID"
                >
                  {{ salesAccount.LedgerName }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Depot/ Location<sup>*</sup></label>
              <select
                class="form-control"
                formControlName="DepotID"
                accSwiftFormValidator
              >
                <option [ngValue]="null">Choose Option....</option>
                <option
                  *ngFor="let depot of salesInvoiceService.depotList"
                  [ngValue]="depot.ID"
                >
                  {{ depot.DepotName }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Date </label>
              <input
                type="text"
                class="form-control"
                formControlName="Date"
                bsDatepicker
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <accSwift-details-entry-grid
          [entryArray]="salesInvoiceForm.controls.InvoiceDetails"
          [voucherType]="'SALES'"
        ></accSwift-details-entry-grid>
      </div>

      <div class="col-md-12">
        <table
          class="table"
          width="60%"
          style="float: right; width: 60%; text-align: right;"
        >
          <tbody>
            <tr>
              <td>
                Adjustment (Rs):
              </td>
              <td>
                <span [innerHTML]="adjustmentAmount | currencyFormat "></span>
              </td>
              <td>Tax 1</td>
              <td>0.00</td>
              <td>Gross(Rs)</td>
              <td>
                <span [innerHTML]="totalGrossAmount | currencyFormat "></span>
              </td>
            </tr>
            <tr>
              <td>
                Tender:
              </td>
              <td>
                <span [innerHTML]="tenderAmount | currencyFormat "></span>
              </td>
              <td>Tax 2</td>
              <td>0.00</td>
              <td>Total Discount Amount (Rs)</td>
              <td>
                <span
                  [innerHTML]=" totalDiscountAmount | currencyFormat "
                ></span>
              </td>
            </tr>
            <tr>
              <td>
                Change:
              </td>
              <td>
                <span [innerHTML]="changeAmount | currencyFormat "></span>
              </td>
              <td>Tax 2</td>
              <td>0.00</td>
              <td>VAT(13%)</td>
              <td>
                <span [innerHTML]="vatTotalAmount | currencyFormat "></span>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="total_amount">
                Grand Total
              </td>
              <td class="total_amount">
                <span [innerHTML]=" grandTotalAmount | currencyFormat "></span>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-md-12">
        <button
          (click)="openTender(tenderModal)"
          class="btn-primary pull-right"
        >
          Tender Amount
        </button>
      </div>
      <div class="col-md-12">
        <div class="col-md-12">
          <div class="form-group">
            <label>Remarks</label>
            <input formControlName="Remarks" type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-sm-2">
          <div class="form-group">
            <div class="checkbox">
              <label> <input type="checkbox" />Do not close </label>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <div class="checkbox">
              <label> <input type="checkbox" />Print while saving </label>
              <!-- <button [routerLink]="['invoice-billing']" class="btn btn-primary">
              Print Invoice
            </button> -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="box-footer">
    <div class="mb-2">
      <button
        class="btn btn-primary"
        (click)="save()"
        accSwiftFormSubmitValidationMsg
        [validationControl]="salesInvoiceForm"
      >
        Save
      </button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
<ng-template #addProduct>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Add Product</h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row"><accSwift-add-product></accSwift-add-product></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modalRef.hide()">
      OK
    </button>
    <button
      class="btn btn-secondary ml-2"
      type="button"
      (click)="modalRef.hide()"
    >
      Cancel
    </button>
  </div>
</ng-template>
<ng-template #tenderModal>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Tender Amount</h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="tenderForm" novalidate>
          <div class="form-group">
            <label>Tender Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="tenderAmount"
            />
          </div>
          <div class="form-group">
            <label>Adjust/Round Off Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="adjustAmount"
            />
          </div>
          <div class="form-group">
            <label>Payable Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="payableAmount"
            />
          </div>
          <div class="form-group">
            <label>Paid Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="paidAmount"
              step="0.01"
            />
          </div>
          <div class="form-group">
            <label>Return Amount</label>
            <input
              type="number"
              class="form-control"
              formControlName="returnAmount"
            />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" (click)="payInvoice()">
      Pay
    </button>
    <button
      class="btn btn-secondary ml-2"
      type="button"
      (click)="modalRef.hide()"
    >
      Cancel
    </button>
  </div>
</ng-template>
