<div class="box box-default">
  <form [formGroup]="bankPaymentForm" novalidate>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Series</label>
            <select class="form-control" formControlName="SeriesID">
              <option [ngValue]="null">Choose Option....</option>
              <option
                *ngFor="let series of bankPaymentService.seriesList"
                [ngValue]="series.ID"
              >
                {{ series.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <accSwift-bank-account
            formControlName="LedgerID"
          ></accSwift-bank-account>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Voucher</label>
            <input
              class="form-control"
              formControlName="VoucherNo"
              accSwiftFormValidator
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <accSwift-project-forms
            formControlName="ProjectID"
          ></accSwift-project-forms>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Date</label>
            <input
              type="text"
              class="form-control"
              formControlName="Date"
              bsDatepicker
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 p-0">
      <div class="box-body">
        <accSwift-details-entry-grid
          [entryArray]="bankPaymentForm.controls.BankPaymentDetailsList"
          [voucherType]="'BANK_PMNT'"
        ></accSwift-details-entry-grid>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-12">
        <div class="form-group">
          <label>Remarks</label>
          <input formControlName="Remarks" type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-sm-2">
        <div class="form-group">
          <div class="checkbox">
            <label> <input type="checkbox" />Do not close </label>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <div class="checkbox">
            <label> <input type="checkbox" />Print while saving </label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="box-footer">
    <div class="mb-2">
      <button
        class="btn btn-primary"
        (click)="save()"
        accSwiftFormSubmitValidationMsg
        [validationControl]="bankPaymentForm"
      >
        Save
      </button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
