<div class="box-header">
  <button [routerLink]="['add']" class="btn btn-primary">
    <i class="fa fa-plus pull-left" aria-hidden="true"></i>Add Company
  </button>
</div>
<div class="accordion" id="accordion">
  <div class="box box-default">
    <div
      class="box-header with-border collapsed"
      data-toggle="collapse"
      href="#collapseOne"
    >
      <h3 class="box-title">Search Terms</h3>
    </div>
    <div class="box-body collapse" id="collapseOne" data-parent="#accordion">
      <div class="row">
        <form [formGroup]="companySearchForm" novalidate>
          <div class="col-md-12">
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Company Name</label>
                <input class="form-control" formControlName="Name" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label for="voucher#">Code</label>
                <input class="form-control" formControlName="Code" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label for="voucher#">Address1</label>
                <input class="form-control" formControlName="Address1" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label for="voucher#">Address2</label>
                <input class="form-control" formControlName="Address2" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Company Email</label>
                <input class="form-control" formControlName="Email" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="box-footer">
        <div class="mb-2">
          <button
            class="btn btn-primary btn-flat"
            (keyup.enter)="searchForm()"
            (click)="searchForm()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box box-default">
  <div class="box-body">
    <div class="col-md-12 p-0">
      <div class="grid-wrapper">
        <kendo-grid
          [data]="gridView"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="{
            allowUnsort: allowUnsort,
            mode: 'single'
          }"
          [sort]="sort"
          (sortChange)="sortChange($event)"
          [pageable]="true"
          (pageChange)="pageChange($event)"
          scrollable="none"
        >
          <kendo-grid-column field="Name" title="Name"> </kendo-grid-column>
          <kendo-grid-column field="Telephone" title="Telephone">
          </kendo-grid-column>
          <kendo-grid-column field="Code" title="Code"> </kendo-grid-column>
          <kendo-grid-column field="Address1" title="Address1">
          </kendo-grid-column>
          <kendo-grid-column field="Email" title="Email"> </kendo-grid-column>
          <kendo-grid-command-column title="Action" width="220">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
            >
              <button
                kendoGridEditCommand
                (click)="editCompany(dataItem)"
                [primary]="true"
              >
                Edit
              </button>
              <button
                kendoGridRemoveCommand
                (click)="openConfirmationDialogue(dataItem)"
              >
                Delete
              </button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
        <div *ngIf="listLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</div>
