<div class="box box-default">
  <form [formGroup]="salesReturnForm" novalidate>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <accSwift-voucher-forms
            formControlName="VoucherNo"
            [series]="salesReturnForm.get('SeriesID').value"
          ></accSwift-voucher-forms>
          <accSwift-sales-account
            formControlName="SalesLedgerID"
          ></accSwift-sales-account>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Order No. <sup>*</sup></label>
            <input
              class="form-control"
              type="text"
              formControlName="OrderNo"
              accSwiftFormValidator
            />
          </div>
          <accSwift-project-forms
            formControlName="ProjectID"
          ></accSwift-project-forms>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="form-group">
            <label>Date <sup>*</sup></label>
            <input
              class="form-control"
              type="text"
              formControlName="Date"
              bsDatepicker
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
            />
            <span class="glyphicon glyphicon-calendar calendar-icon"></span>
          </div>
          <accSwift-depot formControlName="DepotID"></accSwift-depot>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <accSwift-series-forms
            formControlName="SeriesID"
            [voucherType]="'SLS_RTN'"
          ></accSwift-series-forms>
          <accSwift-cash-party-account
            formControlName="CashPartyLedgerID"
          ></accSwift-cash-party-account>
        </div>
      </div>
      <div class="col-md-12">
        <accSwift-details-entry-grid
          [entryArray]="salesReturnForm.controls.ReturnDetails"
          [voucherType]="'SLS_RTN'"
        ></accSwift-details-entry-grid>
      </div>

      <div class="col-md-12">
        <table
          class="table"
          width="60%"
          style="float: right; width: 65%; text-align: right"
        >
          <tbody>
            <tr>
              <td>Adjustment (Rs):</td>
              <td>
                <span [innerHTML]="adjustmentAmount | currencyFormat "></span>
              </td>
              <td>Gov Tax 1</td>
              <td>0.00</td>
              <td>Gross(Rs)</td>
              <td>{{ totalGrossAmount | number: "1.1-2" }}</td>
            </tr>
            <tr>
              <td>Tender:</td>
              <td>
                <span [innerHTML]="tenderAmount | currencyFormat "></span>
              </td>
              <td>Gov Tax 2</td>
              <td>0.00</td>
              <td>Total Discount Amount (Rs)</td>
              <td>{{ totalDiscountAmount | number: "1.1-2" }}</td>
            </tr>
            <tr>
              <td>Change:</td>
              <td>
                <span [innerHTML]="changeAmount | currencyFormat "></span>
              </td>
              <td>Gov Tax 3</td>
              <td>0.00</td>
              <td>Gov VAT(13%)</td>
              <td>{{ vatTotalAmount | number: "1.1-2" }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="total_amount">Grand Total</td>
              <td class="total_amount">
                {{ grandTotalAmount | number: "1.1-2" }}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Remarks</label>
          <input class="form-control" formControlName="Remarks" />
        </div>
      </div>
    </div>
  </form>
  <div class="box-footer">
    <div class="mb-2">
      <button
        class="btn btn-primary"
        (click)="save()"
        accSwiftFormSubmitValidationMsg
        [validationControl]="salesReturnForm"
      >
        <i class="fas fa-save"></i>&nbsp;&nbsp;Save
      </button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
