.table-striped > th {
  font-size: 14px;
  font-weight: 600;
}

th {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: right;
  font-size: 16px;
}

.table-striped td {
  border: 1px solid black !important;
}

.table-striped td {
  border: 1px !important;
}

.table-striped tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}

tfoot > tr > td {
  font-size: 16px;
  font-weight: 700;
}

.group_name {
  font-size: 16px;
  font-weight: 700;
}

.ledger_name {
  padding-left: 50px;
  color: blue;
  font-weight: 700;
  max-width: fit-content;
}
.balance {
  text-align: right;
}

.table-box {
  width: 100%;
  max-height: 600px;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#header-fixed thead th {
  background-color: #fff;
  color: #000;
  position: sticky;
  top: 0;
}

#header-fixed tfoot td {
  background-color: #fff;
  color: #000;
  position: sticky;
  top: 0;
}

::-webkit-scrollbar {
  width: 8px !important;
  background-color: rgb(236, 235, 235);
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

#header-fixed tfoot th {
  position: sticky;
  bottom: 0;
  background-color: rgb(233, 233, 233);
}

/* #header-fixed         { overflow-y: auto; height: 100px; }


#header-fixed thead th { position: sticky; top: 0; }
*/
