<div class="box-header">
  <button [routerLink]="['add']" class="btn btn-primary">
    <i class="fa fa-plus pull-left" aria-hidden="true"></i>Add Journal
  </button>
</div>
<div class="accordion" id="accordion">
  <div class="box box-default">
    <div
      class="box-header with-border collapsed"
      data-toggle="collapse"
      href="#collapseOne"
    >
      <h3 class="box-title">Search Terms</h3>
    </div>
    <div class="box-body collapse" id="collapseOne" data-parent="#accordion">
      <div class="row">
        <form [formGroup]="journalSearchForm" novalidate>
          <div class="col-md-12">
            <div class="col-md-3 col-sm-6 col-xs-6">
              <accSwift-series-forms
                formControlName="SeriesID"
                [voucherType]="'JRNL'"
              ></accSwift-series-forms>
              <div class="form-group">
                <label for="date">To Date</label>
                <input
                  type="text"
                  placeholder="To Date"
                  class="form-control"
                  formControlName="toDate"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                  bsDatepicker
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <accSwift-voucher-forms
                formControlName="VoucherNo"
                [series]="journalSearchForm.get('SeriesID').value"
              ></accSwift-voucher-forms>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
              <accSwift-project-forms
                formControlName="ProjectID"
              ></accSwift-project-forms>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label for="date">From Date</label>
                <input
                  type="text"
                  placeholder="From Date"
                  class="form-control"
                  formControlName="fromDate"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                  bsDatepicker
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="box-footer">
        <div class="mb-2">
          <button class="btn btn-primary btn-flat" (click)="searchForm()">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box box-default">
  <div class="box-body">
    <div class="col-md-12 p-0">
      <div class="grid-wrapper">
        <kendo-grid
          [data]="gridView"
          [filterable]="false"
          [filter]="filter"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="{
            allowUnsort: allowUnsort,
            mode: 'single'
          }"
          [sort]="sort"
          (sortChange)="sortChange($event)"
          [pageable]="true"
          (pageChange)="pageChange($event)"
          scrollable="none"
        >
          <kendo-grid-column field="VoucherNo" title="Voucher No.">
          </kendo-grid-column>
          <kendo-grid-column
            field="Date"
            title="Date"
            filter="date"
            [filterable]="false"
          >
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              {{ dataItem.Date | date: "yyyy-MM-dd" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="ProjectName" title="Project Name">
          </kendo-grid-column>
          <kendo-grid-column field="SeriesName" title="Series Name">
          </kendo-grid-column>
          <kendo-grid-column field="Remarks" title="Remarks">
          </kendo-grid-column>
          <kendo-grid-command-column title="Action" width="220">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
            >
              <button
                kendoGridEditCommand
                (click)="editJournal(dataItem)"
                data-toggle="modal"
                data-target="#viewModal"
                [primary]="true"
              >
                Edit
              </button>
              <button
                kendoGridRemoveCommand
                (click)="openConfirmationDialogue(dataItem)"
              >
                Delete
              </button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>

        <div *ngIf="journalListLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</div>
