<div style="background: #efecec !important;">
    <div class="container-fluid">
        <div class="row top_bar_action">
            <button class="btn btn-primary m-2 pull-right" [routerLink]="['add']"><i class="fa fa-plus"
                    aria-hidden="true"></i>
                Add Journal</button>
        </div>
    </div>

    <form [formGroup]="journalSearchForm" novalidate>
        <div class="contanier-fluid">
            <div class="row mt-5 mr-2">
                <div class="col-md-4">
                    <div class="row clearfix">
                        <div class="col-md-5">
                            <label class="float-right">Series: </label>
                        </div>
                        <div class="col-md-7">
                            <select class="form-control" id="contry" formControlName="series">
                                <option *ngFor="let series of SeriesList" [value]="series.id">{{series.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix mt-3">
                        <div class="col-md-5">
                            <label class="float-right">Project: </label>
                        </div>
                        <div class="col-md-7">
                            <select class="form-control" id="contry" formControlName="project">
                                <option *ngFor="let series of SeriesList" [value]="series.id">{{series.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row clearfix">
                        <div class="col-md-5">
                            <label class="float-right">Voucher #: </label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" formControlName="voucherNo" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row clearfix">
                        <div class="col-md-5">
                            <label class="float-right">Date :</label>
                        </div>
                        <div class="col-md-7">
                            <input formControlName="journalDate" type="date" [value]="journalDate | date: 'MM/dd/yyyy'"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="row clearfix">
                    </div>
                </div>
            </div>
            <div class="row ml-2">
                <button class="btn btn-primary" disabled>Search</button>
            </div>
        </div>
    </form>

    <div class="container-fluid" style="margin-top:20px; background:#fff;">
        <div class="row">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Series</th>
                        <th>Project</th>
                        <th>Created Date</th>
                        <th>Modified By</th>
                        <th>Modified Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
          let list of journalList
          | paginate
          : { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                        <td> <button class="btn btn-success" (click)="editJournal(list)"><i class="far fa-edit"></i>
                                Edit</button>
                            <button class="btn btn-danger ml-2" disabled><i class="far fa-trash-alt"></i>Delete</button></td>
                        <td>{{ list.SeriesName }}</td>
                        <td>{{ list.ProjectName }} </td>
                        <td>{{ list.CreatedDate | date :'yy/mm/dd' }} </td>
                        <td>{{ list.ModifiedBy }}</td>
                        <td>{{list.ModifiedDate | date :'yy/mm/dd'}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="6">
                        <data-table-pagination (pageChange)="setCurrentPage($event)" [totalItems]="20"
                            [itemsPerPage]="itemsPerPage" [currentPage]="currentPage">
                        </data-table-pagination>
                    </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>