<div style="background: #efecec !important;">
  <div class="container-fluid">
    <div class="row top_bar_action">
      <button class="btn btn-primary m-2 pull-right" [routerLink]="['add']">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Journal
      </button>
    </div>
  </div>

  <form [formGroup]="journalSearchForm" novalidate>
    <div class="contanier-fluid">
      <div class="row mt-5 mr-2">
        <div class="col-md-4">
          <div class="row clearfix">
            <div class="col-md-5">
              <label class="float-right">Series: </label>
            </div>
            <div class="col-md-7">
              <select
                class="form-control"
                id="seriesId"
                formControlName="series"
              >
                <option *ngFor="let series of journalService.journalSeriesList">
                  {{ series.EngName }}</option
                >
              </select>
            </div>
          </div>
          <div class="row clearfix mt-3">
            <div class="col-md-5">
              <label class="float-right">Project: </label>
            </div>
            <div class="col-md-7">
              <select
                class="form-control"
                id="projectId"
                formControlName="project"
              >
                <option *ngFor="let project of journalService.projectLists">
                  {{ project.EngName }}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row clearfix">
            <div class="col-md-5">
              <label class="float-right">Voucher #: </label>
            </div>
            <div class="col-md-7">
              <input class="form-control" formControlName="voucherNo" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row clearfix">
            <div class="col-md-5">
              <label class="float-right">Date :</label>
            </div>
            <div class="col-md-7">
              <input
                formControlName="journalDate"
                type="date"
                [value]="journalDate | date: 'MM/dd/yyyy'"
                class="form-control"
              />
            </div>
          </div>
          <div class="row clearfix"></div>
        </div>
      </div>
      <div class="row ml-2">
        <button class="btn btn-primary" disabled>Search</button>
      </div>
    </div>
  </form>

  <div class="container-fluid" style="margin-top:20px; background:#fff;">
    <div class="row">
      <div class="grid-wrapper">
        <kendo-grid
          [kendoGridBinding]="journalList"
          [filterable]="true"
          [pageSize]="pageSize"
          [skip]="skip"
          [pageable]="true"
          [height]="400"
          (pageChange)="pageChange($event)"
          scrollable="none"
        >
          <kendo-grid-column field="VoucherNo" title="Voucher No.">
          </kendo-grid-column>
          <kendo-grid-column
            field="JournalDate"
            title="Journal Date"
            filter="date"
            format="{0: yyyy-mm-dd}"
          >
            <!-- <ng-template
            kendoGridCellTemplate
            let-isNew="isNew"
            let-dataItem="dataItem"
          >
          <a  style="color: blue;">{{dataItem.JournalDate}}</a>
          </ng-template> -->
          </kendo-grid-column>
          <kendo-grid-column field="ProjectName" title="Project Name">
          </kendo-grid-column>
          <kendo-grid-column field="SeriesName" title="Series Name">
          </kendo-grid-column>
          <kendo-grid-column field="Remarks" title="Remarks">
          </kendo-grid-column>
          <kendo-grid-command-column title="Action" width="220">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
            >
              <button
                kendoGridEditCommand
                (click)="editJournal(dataItem)"
                data-toggle="modal"
                data-target="#viewModal"
                [primary]="true"
              >
                Edit
              </button>
              <button kendoGridRemoveCommand>Delete</button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>

        <div *ngIf="journalListLoading" class="k-i-loading"></div>
      </div>
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Voucher No</th>
            <th>Journal Date</th>
            <th>Series Name</th>
            <th>Project Name</th>
            <th>Remarks</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let list of journalList
                | paginate
                  : { itemsPerPage: itemsPerPage, currentPage: currentPage }
            "
          >
            <td>{{ list.VoucherNo }}</td>
            <td>{{ list.JournalDate | date: "yyyy/mm/dd" }}</td>
            <td>{{ list.SeriesName }}</td>
            <td>{{ list.ProjectName }}</td>
            <td>{{ list.Remarks }}</td>
            <td>
              <button class="btn btn-success" (click)="editJournal(list)">
                <i class="far fa-edit"></i> Edit
              </button>
              <button class="btn btn-danger ml-2" disabled>
                <i class="far fa-trash-alt"></i>Delete
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td colspan="6">
            <span *ngIf="journalListLoading"> Loading ....</span>
            <span *ngIf="!journalListLoading && journalList.length === 0">
              No Results
            </span>
            <data-table-pagination
              (pageChange)="setCurrentPage($event)"
              [totalItems]="journalList.length"
              [itemsPerPage]="itemsPerPage"
              [currentPage]="currentPage"
            >
            </data-table-pagination>
          </td>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!-- Model-->
<div
  class="modal fade bd-example-modal-lg"
  #viewModal
  id="viewModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" style="max-width: 1000px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Page</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
