<div class="modal-header">
  <h3 class="modal-title pull-left">Date Converter</h3>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="onCancel()"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="journalVouchForm">
    <div class="form-group">
      <label>Date in BS</label>
      <input
        class="form-control"
        (change)="getChangedDate($event.target.value)"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
      />
    </div>

    <div class="form-group">
      <label>Date in AD</label>
      <input
        class="form-control"
        formControlName="Date"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
      />
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onCancel()">Ok</button>
  <button type="button" class="btn btn-danger" (click)="onCancel()">
    Cancel
  </button>
</div>
