<div class="modal-header">
  <h3 class="modal-title pull-left">Date Converter</h3>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="onCancel()"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="journalVouchForm">
    <div class="form-group">
      <label>Enter Date(AD) to convert</label>
      <input
        type="date"
        class="form-control"
        (change)="getAdToBs($event.target.value)"
      />
    </div>

    <div class="form-group">
      <label>Enter Date(BS) to convert</label>
      <input
        type="date"
        class="form-control"
        (change)="getBsToAd($event.target.value)"
      />
    </div>

    <fieldset>
      <legend>Converted Date(AD/BS)</legend>
      <div class="form-group">
        <input
          class="form-control"
          formControlName="Date"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        />
      </div>
    </fieldset>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onCancel()">Ok</button>
  <button type="button" class="btn btn-danger" (click)="onCancel()">
    Cancel
  </button>
</div>
