<div class="accordion" class="accordion">
  <div class="card mb-0">
    <div
      class="card-header collapsed"
      data-toggle="collapse"
      href="#collapseOne"
    >
      <a class="card-title">
        <h3 class="box-title" style="background-color: #fff; padding: 5px;">
          Search
          <button [routerLink]="['add']" class="btn btn-primary">
            <i class="fa fa-plus pull-right" aria-hidden="true"></i>Add Purchase
            Invoice
          </button>
        </h3>
      </a>
    </div>
  </div>
  <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
    <div class="col-md-12 m-3">
      <form [formGroup]="purchaseForm" novalidate>
        <div class="col-md-4">
          <div class="row clearfix">
            <div class="col-md-5">
              <label class="float-right">Series Name: </label>
            </div>
            <div class="col-md-7">
              <select
                class="form-control"
                id="seriesNameId"
                formControlName="seriesName"
              >
                <option value="null"> </option>
                <!-- <option *ngFor="let series of cashPaymentService.seriesLists" [ngValue]="series.ID">
                  {{ series.EngName }}</option> -->
              </select>
            </div>
          </div>
          <div class="row clearfix mt-3">
            <div class="col-md-5">
              <label class="float-right">Cash/ Party/ A/C : </label>
            </div>
            <div class="col-md-7">
              <select
                class="form-control"
                id="cashAccountNo"
                formControlName="cashParty"
              >
                <option value="null"> </option>
              </select>
            </div>
          </div>
          <div class="row clearfix mt-3">
            <div class="col-md-5">
              <label class="float-right">
                Purchase A/C:
              </label>
            </div>
            <div class="col-md-7">
              <select
                class="form-control"
                id="purchaseAcId"
                formControlName="purchaseAc"
              >
                <option value="null"></option>
              </select>
            </div>
          </div>

          <div class="row clearfix mt-3">
            <div class="col-md-5">
              <label class="float-right">
                Party Bill No:
              </label>
            </div>
            <div class="col-md-7">
              <input
                class="form-control"
                id="partyBillNoId"
                formControlName="partyBillNo"
              />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row clearfix">
            <div class="col-md-5">
              <label class="float-right">Voucher No: </label>
            </div>
            <div class="col-md-7">
              <input class="form-control" formControlName="voucherNo" />
            </div>
          </div>
          <div class="row clearfix mt-3">
            <div class="col-md-5">
              <label class="float-right">Depot/ Location: </label>
            </div>
            <div class="col-md-7">
              <select class="form-control" id="depotId" formControlName="depot">
                <option value="null"> </option>
              </select>
            </div>
          </div>
          <div class="row clearfix mt-3">
            <div class="col-md-5">
              <label class="float-right">Project: </label>
            </div>
            <div class="col-md-7">
              <select
                class="form-control"
                formControlName="project"
                id="projectId"
              >
                <option value="null"></option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row clearfix ">
            <div class="col-md-5">
              <label class="float-right">Date :</label>
            </div>
            <div class="col-md-7">
              <input
                formControlName="date"
                type="date"
                [value]="date | date: 'MM/dd/yyyy'"
                class="form-control"
              />
            </div>
          </div>

          <div class="row clearfix mt-3">
            <div class="col-md-5">
              <label class="float-right">Order No:</label>
            </div>
            <div class="col-md-7">
              <input formControlName="orderNo" class="form-control" />
            </div>
          </div>

          <div class="row clearfix mt-3">
            <div class="col-md-5">
              <label class="float-right">Remarks :</label>
            </div>
            <div class="col-md-7">
              <input formControlName="remarks" class="form-control" />
            </div>
          </div>
          <div class="row clearfix"></div>
        </div>
        <div class="col-md-12 ml-2">
          <div class="mb-2">
            <button class="btn btn-primary btn-flat" (click)="searchForm()">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="box box-default">
    <div class="col-md-12 mt-5 mr-2">
      <div class="grid-wrapper">
        <kendo-grid
          [data]="gridView"
          [filterable]="true"
          [filter]="filter"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="{
            allowUnsort: allowUnsort,
            mode: 'single'
          }"
          [sort]="sort"
          (sortChange)="sortChange($event)"
          [pageable]="true"
          (pageChange)="pageChange($event)"
          scrollable="scrollable"
          [resizable]="true"
          (filterChange)="filterChange($event)"
        >
          <kendo-grid-column field="Code" title="Code" width="80">
          </kendo-grid-column>
          <kendo-grid-column
            field="ProductName"
            title="Product Name"
            width="110"
          >
          </kendo-grid-column>
          <kendo-grid-column field="Quantity" title="Qty" width="80">
          </kendo-grid-column>
          <kendo-grid-column field="Unit" title="Unit" width="80">
          </kendo-grid-column>
          <kendo-grid-column
            field="PurchaseRate"
            title="Purchase Rate"
            width="110"
          >
          </kendo-grid-column>
          <kendo-grid-column field="Amount" title="Amount" width="80">
          </kendo-grid-column>
          <kendo-grid-column
            field="SpecialDiscount"
            title="Spl. Disc%"
            width="110"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="SpecialDiscounts"
            title="Spl. Disc"
            width="110"
          >
          </kendo-grid-column>
          <kendo-grid-column field="NetAmount" title="Net Amount" width="120">
          </kendo-grid-column>
          <kendo-grid-column field="VAT" title="VAT" width="80">
          </kendo-grid-column>
          <kendo-grid-column
            field="CustomDuty"
            title="Custom Duty %"
            width="120"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="CustomDutyAmt"
            title="Custom Duty Amt"
            width="140"
          >
          </kendo-grid-column>
          <kendo-grid-column field="Freight" title="Freight" width="80">
          </kendo-grid-column>
          <kendo-grid-column field="TC" title="TC" width="80">
          </kendo-grid-column>
          <kendo-grid-column field="TCAmount" title="TC Amount" width="110">
          </kendo-grid-column>

          <kendo-grid-command-column title="Action" width="150">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
            >
              <button
                kendoGridEditCommand
                (click)="edit(dataItem)"
                data-toggle="modal"
                data-target="#viewModal"
                [primary]="true"
              >
                Edit
              </button>
              <button
                kendoGridRemoveCommand
                (click)="openConfirmationDialogue(dataItem)"
              >
                Delete
              </button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
      </div>
    </div>
  </div>
</div>
