<div class="box-header">
  <button class="btn btn-primary">
    <i class="fa fa-plus pull-left" aria-hidden="true"></i>Add Sales Invoice
  </button>
</div>

<div class="box box-default">
  <div class="box-body">
    <div class="col-md-12 p-0">
      <div class="grid-wrapper">
        <kendo-grid
          [data]="gridView"
          [filterable]="false"
          [filter]="filter"
          [pageSize]="pageSize"
          [resizable]="true"
          [skip]="skip"
          [sortable]="{
            allowUnsort: allowUnsort,
            mode: 'single'
          }"
          [sort]="sort"
          (sortChange)="sortChange($event)"
          [pageable]="true"
          (pageChange)="pageChange($event)"
        >
          <kendo-grid-column title="S.N." width="80">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-rowIndex="rowIndex"
            >
              <div class="col-sm-12">
                <span>{{ rowIndex + 1 }}</span>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column title="Code" width="80">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-rowIndex="rowIndex"
            >
              <div class="col-sm-12">
                <span>{{ dataItem.DeliveryProductsList[0].ProductCode }}</span>
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column title="Product Name" width="130">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-rowIndex="rowIndex"
            >
              <div class="col-sm-12">
                <span>{{ dataItem.DeliveryProductsList[0].ProductName }}</span>
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column title="General Name" width="130">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-rowIndex="rowIndex"
            >
              <div class="col-sm-12">
                <span>{{ dataItem.DeliveryProductsList[0].GeneralName }}</span>
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            field="CashPartName"
            title="Description"
            width="130"
          >
          </kendo-grid-column>

          <kendo-grid-column field="ClientAddress" title="Quantity" width="100">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              <span class="float-right">{{
                dataItem.DeliveryProductsList[0].ProductCode
              }}</span>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-command-column title="Action" width="120">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
            >
              <button
                kendoGridEditCommand
                data-toggle="modal"
                data-target="#viewModal"
                [primary]="true"
              >
                Edit
              </button>
              <button kendoGridRemoveCommand>Delete</button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>

        <div *ngIf="listLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</div>
