<kendo-tabstrip>
  <kendo-tabstrip-tab [title]="'Product Details'" selected="true">
    <ng-template kendoTabContent>
      <div class="box box-default">
        <h5 class="form_heading" *ngIf="productDetails">
          Details of {{ productDetails.Name }}
        </h5>

        <form [formGroup]="productForm" novalidate>
          <div class="row clearfix mt-3">
            <div class="col-md-6">
              <div class="form-group">
                <label>Product Code<sup>*</sup> </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="productCode"
                  accSwiftFormValidator
                />
              </div>
              <div class="form-group">
                <label>Product Group<sup>*</sup> </label>
                <select
                  class="form-control"
                  id="productGroupId"
                  formControlName="productGroupId"
                  accSwiftFormValidator
                >
                  <option [ngValue]="null">Choose Option....</option>
                  <option
                    *ngFor="let productGroup of productService.productGroupList"
                    [ngValue]="productGroup.ID"
                  >
                    {{ productGroup.Name }}</option
                  >
                </select>
              </div>
              <div class="form-group">
                <label>Base Unit<sup>*</sup></label>
                <select
                  class="form-control"
                  id="baseUnitId"
                  formControlName="baseUnitId"
                  accSwiftFormValidator
                >
                  <option [ngValue]="null">Choose Option....</option>
                  <option
                    *ngFor="let unit of productService.unitList"
                    [ngValue]="unit.ID"
                  >
                    {{ unit.UnitName }}</option
                  >
                </select>
              </div>
              <div class="form-group">
                <label>Opening Balance <sup>*</sup></label>
                <button
                  type="button"
                  class="btn btn-secondory"
                  (click)="openModal()"
                  data-toggle="modal"
                  data-target="#openingBalanceModal"
                >
                  Opening Quantity Entry
                </button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Product Name<sup>*</sup> </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="productName"
                  accSwiftFormValidator
                />
              </div>
              <div class="form-group">
                <label>Depot/Location <sup>*</sup></label>
                <select
                  class="form-control"
                  id="departmentandLocationId"
                  formControlName="departmentandLocationId"
                  accSwiftFormValidator
                >
                  <option [ngValue]="null">Choose Option....</option>
                  <option
                    *ngFor="let depot of productService.depotList"
                    [ngValue]="depot.ID"
                  >
                    {{ depot.DepotName }}</option
                  >
                </select>
              </div>
              <div class="form-group">
                <label>Remarks</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="remarks"
                />
              </div>

              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="isVatApplicable" />
                    IsVat Applicable
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input
                      type="checkbox"
                      formControlName="isInventoryApplicable"
                    />
                    IsInventory Applicable
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input
                      type="checkbox"
                      formControlName="isDecimalApplicable"
                    />
                    IsDecimal Applicable
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="col-md-12 m-2" *ngIf="showActions">
          <button
            class="btn btn-primary"
            (click)="saveProduct()"
            accSwiftFormSubmitValidationMsg
            [validationControl]="productForm"
          >
            Save
          </button>
          <button class="btn btn-secondary ml-2" (click)="cancelProduct()">
            Cancel
          </button>
        </div>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'More Details'">
    <ng-template kendoTabContent>
      <p>More Details</p>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Image'">
    <ng-template kendoTabContent>
      <p>Image</p>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>

<!--Modal PopUp Opening Balance Modal-->
<div
  class="modal fade bd-example-modal"
  #openingBalanceModal
  id="openingBalanceModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Opening Balance</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mt-2">
            <kendo-grid
              [data]="getOpeningBalanceList.value"
              (edit)="editHandler($event)"
              (cancel)="cancelHandler($event)"
              (save)="saveHandler($event)"
              (remove)="removeHandler($event)"
              (add)="addHandler($event)"
              [height]="250"
            >
              <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand>Add new</button>
              </ng-template>

              <kendo-grid-column field="productId" title="Product">
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-column="column"
                  let-formGroup="formGroup"
                  let-isNew="isNew"
                  let-rowIndex="rowIndex"
                >
                  <input
                    #input
                    class="k-textbox"
                    [formControl]="
                      getOpeningBalanceList.controls[rowIndex].get('productId')
                    "
                  />
                  <kendo-popup
                    [anchor]="input"
                    *ngIf="
                      getOpeningBalanceList.controls[rowIndex].get('productId')
                        .invalid &&
                      rowSubmitted &&
                      !(
                        isNew &&
                        getOpeningBalanceList.controls[rowIndex].get(
                          'productId'
                        ).untouched
                      )
                    "
                    popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
                  >
                    <span class="k-icon k-i-warning"></span>
                    Product is required
                  </kendo-popup>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="accountClassId" title="Account Class">
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-column="column"
                  let-formGroup="formGroup"
                  let-isNew="isNew"
                  let-rowIndex="rowIndex"
                >
                  <kendo-numerictextbox
                    #ntb="popupAnchor"
                    popupAnchor
                    [formControl]="
                      getOpeningBalanceList.controls[rowIndex].get(column.field)
                    "
                  ></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="quantity" title="Quantity ">
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-column="column"
                  let-formGroup="formGroup"
                  let-isNew="isNew"
                  let-rowIndex="rowIndex"
                >
                  <kendo-numerictextbox
                    #ntb="popupAnchor"
                    popupAnchor
                    [formControl]="
                      getOpeningBalanceList.controls[rowIndex].get(column.field)
                    "
                  ></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="purchaseRate" title="Purchase Rate">
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-column="column"
                  let-formGroup="formGroup"
                  let-isNew="isNew"
                  let-rowIndex="rowIndex"
                >
                  <kendo-numerictextbox
                    #ntb="popupAnchor"
                    popupAnchor
                    [formControl]="
                      getOpeningBalanceList.controls[rowIndex].get(column.field)
                    "
                  ></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="salesRate" title="Sales Rate">
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-column="column"
                  let-formGroup="formGroup"
                  let-isNew="isNew"
                  let-rowIndex="rowIndex"
                >
                  <kendo-numerictextbox
                    #ntb="popupAnchor"
                    popupAnchor
                    [formControl]="
                      getOpeningBalanceList.controls[rowIndex].get(column.field)
                    "
                  ></kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-command-column title="Action">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button class="k-button" kendoGridAddCommand>Add</button>
                  <button kendoGridRemoveCommand>Remove</button>
                  <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
                    {{ isNew ? "Add" : "Update" }}
                  </button>
                  <button kendoGridCancelCommand>
                    {{ isNew ? "Discard changes" : "Cancel" }}
                  </button>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
