<div class="modal-header">
  <h3 class="modal-title pull-left">Invoices</h3>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row mt-2">
      <div class="grid-wrapper">
        <!-- <h5>{{ entryArray.getRawValue() | json }}</h5>
        <h5>{{ salesInvoiceForm.getRawValue() | json }}</h5> -->

        <kendo-grid
          [data]="gridView"
          [filterable]="true"
          [filter]="state.filter"
          [pageSize]="pageSize"
          [resizable]="true"
          [skip]="skip"
          [sortable]="{
            allowUnsort: allowUnsort,
            mode: 'single'
          }"
          [sort]="sort"
          [pageable]="true"
          (sortChange)="sortChange($event)"
          (pageChange)="pageChange($event)"
          (dataStateChange)="dataStateChange($event)"
        >
          <kendo-grid-column field="VoucherNo" title="Voucher No" width="80">
          </kendo-grid-column>

          <kendo-grid-column title="Product Name" width="100">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-rowIndex="rowIndex"
            >
              <div class="col-sm-12">
                <span>{{ dataItem.InvoiceDetails[0].ProductName }}</span>
                <!-- <a
                class="pull-right"
                title="More Products..."
                (click)="openProductModal(openProductModalPopup, dataItem)"
                ><i
                  class="fa fa-eye pull-right ledgerSelectIcon"
                  aria-hidden="true"
                ></i>
              </a> -->
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            field="CashPartName"
            title="Cash Party"
            width="130"
          >
          </kendo-grid-column>

          <kendo-grid-column
            field="TotalAmount"
            title="Total Amount"
            width="80"
          >
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              <span class="float-right">{{ dataItem.TotalAmount }}</span>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="Status" title="Status" width="90">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              <span *ngIf="dataItem.Status == 'PAID'">
                <span class="badge" style="background: green">Paid</span></span
              >
              <span *ngIf="dataItem.Status == 'UNPAID'"
                ><span class="badge" style="background: red">Unpaid</span></span
              >

              <span *ngIf="dataItem.Status == 'DRAFT'"
                ><span class="badge" style="background: yellow; color: #000"
                  >Draft</span
                ></span
              >
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="IsPay" title="Checkbox" width="50">
            <ng-template kendoGridCellTemplate let-dataItem>
              <input
                type="checkbox"
                [checked]="dataItem.IsPay"
                (click)="payInvoice()"
              />
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
        <div *ngIf="listLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" (click)="onCancel()">Ok</button>
  <button class="btn btn-secondary ml-2" type="button" (click)="onCancel()">
    Cancel
  </button>
</div>
