<div class="box box-header">
  <button class="btn btn-primary" (click)="openAddModal(openCompoundUnit)">
    <i class="fa fa-plus pull-left" aria-hidden="true"> &nbsp; Add Unit</i>
  </button>
</div>

<form [formGroup]="compoundUnitForm" novalidate>
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="col-md-5">
        <div class="col-md-5 p-0">
          <div class="form-group">
            <label for="first-unit">Value of First Unit</label>
            <input
              type="number"
              min="0"
              [attr.disabled]="true"
              id="first-unit"
              class="form-control"
              formControlName="firstUnitValue"
            />
          </div>
        </div>
        <div class="col-md-7 pr-0">
          <label for="first-unit">Name of First Unit</label>
          <select class="form-control" formControlName="FirstUnitID">
            <option [ngValue]="null">Select option...</option>
            <option
              *ngFor="let firstUnit of compoundUnitService.compoundUnitList"
              [ngValue]="firstUnit.ID"
            >
              {{ firstUnit.UnitName }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-1 compound">
        <h1>=</h1>
      </div>
      <div class="col-md-5">
        <div class="col-md-5 p-0">
          <label for="second-unit">Value of Second Unit</label>
          <input
            type="number"
            min="0"
            id="second-unit"
            class="form-control"
            formControlName="RelationValue"
          />
        </div>
        <div class="col-md-7 pr-0">
          <label for="first-unit">Name of Second Unit</label>
          <select class="form-control" formControlName="SecondUnitID">
            <option [ngValue]="null">Select option...</option>
            <option
              *ngFor="let secondUnit of compoundUnitService.compoundUnitList"
              [ngValue]="secondUnit.ID"
            >
              {{ secondUnit.UnitName }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <div class="mb-2">
      <button class="btn btn-primary btn-flat" (click)="searchForm()">
        Search
      </button>
    </div>
  </div>
</form>
<div class="box box-default">
  <div class="box-body">
    <div class="col-md-12 p-0">
      <div class="grid-wrapper">
        <kendo-grid
          [data]="gridView"
          [filterable]="false"
          [filter]="filter"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="{
            allowUnsort: allowUnsort,
            mode: 'single'
          }"
          [sort]="sort"
          (sortChange)="sortChange($event)"
          [pageable]="true"
          (pageChange)="pageChange($event)"
          scrollable="none"
          (filterChange)="filterChange($event)"
        >
          <kendo-grid-column field="FirstUnitName" title="First Unit">
          </kendo-grid-column>
          <kendo-grid-column title="Value" width="2">
            <ng-template kendoGridCellTemplate>
              <span>1</span>
            </ng-template></kendo-grid-column
          >
          <kendo-grid-column title="Equals" width="2">
            <ng-template kendoGridCellTemplate>
              <span style="display: table; margin: auto">=</span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="SecondUnitName"
            title="Second Unit"
          ></kendo-grid-column>
          <kendo-grid-column field="RelationValue" title="Value">
          </kendo-grid-column>
          <kendo-grid-column
            field="Remarks"
            title="Remarks"
          ></kendo-grid-column>
          <kendo-grid-command-column title="Action" width="150">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
            >
              <button
                kendoGridEditCommand
                (click)="openEditModal(openCompoundUnit, dataItem)"
                [primary]="true"
              >
                Edit
              </button>
              <button
                kendoGridRemoveCommand
                (click)="openConfirmationDialogue(dataItem)"
              >
                Delete
              </button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
        <div *ngIf="listLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Pop up -->
<ng-template #openCompoundUnit>
  <div class="modal-header">
    <h3 class="modal-title pull-left">{{ modalTitle }}</h3>
    <button
      type="button"
      class="close pull-right"
      arial-label="Close"
      (click)="close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="compoundUnitForm" novalidate>
      <div class="row mt-5">
        <div class="col-md-12">
          <div class="col-md-5">
            <div class="col-md-5 p-0">
              <div class="form-group">
                <label for="first-unit">Value of First Unit</label>
                <input
                  type="number"
                  min="0"
                  placeholder="1"
                  [attr.disabled]="true"
                  id="first-unit"
                  class="form-control"
                  formControlName="firstUnitValue"
                />
              </div>
            </div>
            <div class="col-md-7 pr-0">
              <label for="first-unit">Name of First Unit</label>
              <select
                class="form-control"
                formControlName="FirstUnitID"
                accSwiftFormValidator
              >
                <option value="null">Select option...</option>
                <option
                  *ngFor="let firstUnit of compoundUnitService.compoundUnitList"
                  value="{{ firstUnit.ID }}"
                >
                  {{ firstUnit.UnitName }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-1 compound">
            <h1>=</h1>
          </div>
          <div class="col-md-5">
            <div class="col-md-5 p-0">
              <label for="second-unit">Value of Second Unit</label>
              <input
                type="number"
                min="0"
                id="second-unit"
                class="form-control"
                formControlName="RelationValue"
                accSwiftFormValidator
              />
            </div>
            <div class="col-md-7 pr-0">
              <label for="first-unit">Name of Second Unit</label>
              <select
                class="form-control"
                formControlName="SecondUnitID"
                accSwiftFormValidator
              >
                <option [ngValue]="null">Select option...</option>
                <option
                  *ngFor="
                    let secondUnit of compoundUnitService.compoundUnitList
                  "
                  [ngValue]="secondUnit.ID"
                >
                  {{ secondUnit.UnitName }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Remarks</label>
              <textarea
                class="form-control"
                formControlName="Remarks"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-primary"
      (click)="onSubmitCompoundUnit()"
      accSwiftFormSubmitValidationMsg
      [validationControl]="compoundUnitForm"
    >
      {{ submitButton }}
    </button>
    <button class="btn btn-secondory ml-2" type="button" (click)="close()">
      Cancel
    </button>
  </div>
</ng-template>
