<div class="box  box-default">
  <form [formGroup]="compoundUnitForm" novalidate>
    <div class="row">
      <div class="col-md-12 mt-3">
        <div class="col-md-3 col-xs-6 col-sm-6">
          <div class="form-group">
            <label>Value of first unit</label>
            <input
              class="form-control"
              formControlName="firstUnitValue"
              type="number"
            />
          </div>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <div class="form-group">
            <label>Name of first unit</label>
            <input
              class="form-control"
              formControlName="firstUnitName"
              type="text"
            />
          </div>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
          <div class="form-group">
            <label> s</label>
            <input
              class="form-control"
              formControlName="firstUnitName"
              type="text"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
