<div class="box-header">
  <button [routerLink]="['add']" class="btn btn-primary">
    <i class="fa fa-plus pull-left" aria-hidden="true"></i>Add Bank Payment
  </button>
</div>

<div id="accordion" class="accordion">
  <div class="box box-default">
    <div
      class="box-header with-border collapsed"
      data-toggle="collapse"
      href="#collapseOne"
    >
      <h3 class="box-title">Search Terms</h3>
    </div>
    <div id="collapseOne" class="box-body collapse" data-parent="#accordion">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="bankPaymentForm" novalidate>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Series</label>
                <select class="form-control" formControlName="SeriesID">
                  <option [ngValue]="null">Choose Option....</option>
                  <option
                    *ngFor="let series of bankPaymentService.seriesList"
                    [ngValue]="series.ID"
                  >
                    {{ series.Name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <accSwift-bank-account
                formControlName="LedgerID"
              ></accSwift-bank-account>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Voucher</label>
                <input class="form-control" formControlName="VoucherNo" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <accSwift-project-forms
                formControlName="ProjectID"
              ></accSwift-project-forms>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Date</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="Date"
                  bsDatepicker
                />
              </div>
            </div>
          </form>
        </div>
        <div class="box-footer">
          <div class="mb-2">
            <button class="btn btn-primary btn-flat" (click)="searchForm()">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box box-default">
  <div class="box-body">
    <div class="col-md-12 p-0">
      <div class="grid-wrapper">
        <kendo-grid
          [data]="gridView"
          [filterable]="false"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="{
            allowUnsort: allowUnsort,
            mode: 'single'
          }"
          [sort]="sort"
          (sortChange)="sortChange($event)"
          [pageable]="true"
          [resizable]="true"
          (pageChange)="pageChange($event)"
          scrollable="true"
        >
          <kendo-grid-column field="VoucherNo" title="VoucherNo." width="100">
          </kendo-grid-column>
          <kendo-grid-column title="Ledger Name" width="230">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-rowIndex="rowIndex"
            >
              <div class="col-sm-12">
                <span>{{ dataItem.BankPaymentDetailsList[0].LedgerName }}</span>
                <a
                  class="pull-right"
                  title="More Products..."
                  (click)="openLedgerModal(openInvoiceModalPopup, dataItem)"
                  ><i
                    class="fa fa-eye pull-right ledgerSelectIcon"
                    aria-hidden="true"
                  ></i>
                </a>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column title="Ledger Code" width="100">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-rowIndex="rowIndex"
            >
              <div class="col-sm-12">
                <span>{{ dataItem.BankPaymentDetailsList[0].LedgerCode }}</span>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column title="Ledger Balance" width="120">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-rowIndex="rowIndex"
            >
              <div class="col-sm-12">
                <span class="pull-right">{{
                  dataItem.BankPaymentDetailsList[0].LedgerBalance
                }}</span>
              </div>
            </ng-template>
          </kendo-grid-column>
          <!-- <kendo-grid-column field="SeriesName" title="Series" width="100">
          </kendo-grid-column>
          <kendo-grid-column field="ProjectName" title="Project" width="100">
          </kendo-grid-column> -->
          <kendo-grid-column
            field="CreatedDate"
            title="Cheque Date"
            filter="date"
            [filterable]="false"
            format="{0: yyyy-mm-dd}"
            width="100"
          >
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              {{ dataItem.CreatedDate | dateStringFormat: "yyyy-MM-dd" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Remarks" title="Remarks" width="120">
          </kendo-grid-column>
          <kendo-grid-command-column title="Action" width="110">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
            >
              <button
                kendoGridEditCommand
                (click)="edit(dataItem)"
                data-toggle="modal"
                data-target="#viewModal"
                [primary]="true"
              >
                Edit
              </button>
              <button
                kendoGridRemoveCommand
                (click)="openConfirmationDialogue(dataItem)"
              >
                Delete
              </button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>

        <div *ngIf="listLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #openInvoiceModalPopup>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Payment List</h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <kendo-grid
          [data]="ledgerList"
          [filterable]="false"
          [sortable]="{
            allowUnsort: allowUnsort,
            mode: 'single'
          }"
          [sort]="sort"
          (sortChange)="sortChange($event)"
        >
          <kendo-grid-column field="LedgerName" title="Ledger Name" width="200">
          </kendo-grid-column>
          <kendo-grid-column field="LedgerCode" title="Ledger Code" width="110">
          </kendo-grid-column>
          <kendo-grid-column
            field="LedgerBalance"
            title="Ledger Balance "
            width="110"
          >
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-rowIndex="rowIndex"
            >
              <span class="pull-right">{{ dataItem.LedgerBalance }}</span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Amount" title="Amount" width="100">
            <ng-template
              kendoGridCellTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
              let-rowIndex="rowIndex"
            >
              <span class="pull-right">{{ dataItem.Amount }}</span>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modalRef.hide()">
      OK
    </button>
    <button
      class="btn btn-secondary ml-2"
      type="button"
      (click)="modalRef.hide()"
    >
      Cancel
    </button>
  </div>
</ng-template>
