<div class="box-header">
  <button class="btn btn-success" (click)="openAddModal(openUnitModal)">
    <i class="fa fa-plus pull-left" aria-hidden="true"></i>Add New Unit
  </button>
</div>
<div class="accordion" id="accordion">
  <div class="box box-default">
    <div
      class="box-header with-border collapsed"
      data-toggle="collapse"
      href="#collapseOne"
    >
      <h3 class="box-title">Search Terms</h3>
    </div>
    <div class="box-body collapse" id="collapseOne" data-parent="#accordion">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="unitForm" novalidate>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label for="voucher#">Unit Name</label>
                <input class="form-control" formControlName="UnitName" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label for="series">Symbol</label>
                <input class="form-control" formControlName="Symbol" />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group">
                <label>Remarks</label>
                <textarea
                  row="2"
                  class="form-control"
                  formControlName="Remarks"
                >
                </textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="box-footer">
        <div class="mb-2">
          <button class="btn btn-primary btn-flat" (click)="searchForm()">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box box-default">
  <div class="box-body">
    <div class="col-md-12 p-0">
      <div class="grid-wrapper">
        <kendo-grid
          [data]="gridView"
          [filterable]="true"
          [filter]="filter"
          [pageSize]="pageSize"
          [skip]="skip"
          [sortable]="{
            allowUnsort: allowUnsort,
            mode: 'single'
          }"
          [sort]="sort"
          (sortChange)="sortChange($event)"
          [pageable]="true"
          (pageChange)="pageChange($event)"
          scrollable="none"
          (filterChange)="filterChange($event)"
          style="width: 800px"
        >
          <kendo-grid-column field="UnitName" title="Unit Name" width="200">
          </kendo-grid-column>
          <kendo-grid-column field="Symbol" title="Symbol" width="150">
          </kendo-grid-column>
          <kendo-grid-column field="Remarks" title="Remarks" width="250">
          </kendo-grid-column>
          <kendo-grid-command-column title="Action" width="150">
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
            >
              <button
                kendoGridEditCommand
                (click)="openEditModal(openUnitModal, dataItem)"
                [primary]="true"
              >
                Edit
              </button>
              <button
                kendoGridRemoveCommand
                (click)="openConfirmationDialogue(dataItem)"
              >
                Delete
              </button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
        <div *ngIf="listLoading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</div>

<!-- Add Unit Modal -->
<form [formGroup]="unitForm">
  <ng-template #openUnitModal>
    <div class="modal-header">
      <h3 class="modal-title pull-left">{{ modalTitle }}</h3>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Unit Name <sup>*</sup></label>
              <input
                type="text"
                class="form-control"
                formControlName="UnitName"
                accSwiftFormValidator
              />
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <label>Symbol <sup>*</sup></label>
              <input
                class="form-control"
                formControlName="Symbol"
                id="symbol"
                name="Symbol"
                accSwiftFormValidator
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                  <label>Remarks</label>
                  <textarea
                    class="form-control"
                    formControlName="Remarks"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button
        class="btn btn-primary"
        (click)="onSubmitUnitMaintenance()"
        accSwiftFormSubmitValidationMsg
        [validationControl]="unitForm"
      >
        {{ submitButton }}
      </button>
      <button class="btn btn-secondary ml-2" type="button" (click)="close()">
        Cancel
      </button>
    </div>
  </ng-template>
</form>
