@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  position: relative;

  overflow-x: hidden !important;
}

/* for background -1 */

/* body{
    background-image: url('../../../../../assets/images
/Web\ 1920\ –\ 3.svg');
    background-size: auto;
} */

body {
  background: url("../../../../../assets/images/background_image.png");
  background-repeat: no-repeat;
}

.overlay {
  background-color: rgb(18, 71, 15);
  opacity: 0.8;
  background-blend-mode: multiply !important;
  width: 100vw;
  height: 100vh;
}

#login-card {
  z-index: 1 !important;
  /* background-color: aquamarine; */
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  box-shadow: 15px 30px 80px rgba(0, 0, 0, 0.12);
}

#welcome-section {
  background: linear-gradient(to top, #32812e, #318c30, #30a533);

  /* background-color: #32812E; */
  color: #ffffff;
  /* height: 700px!important; */
  height: 680px !important;
}

#welcome-section h1 {
  font-size: 4.7rem;
  margin: auto;
  margin-top: 63%;
  font-weight: 500;
}

.login-form {
  height: 100px !important;
  padding: 3% 0;
}

.logo {
  display: flex;
  /* background-color: bisque; */
  justify-content: center;
}

#main-form {
  width: 400px;
  margin: auto;
  margin-top: 10%;
}

#login-card input[type="text"],
#login-card input[type="password"] {
  height: 54px;
  border: 2px solid #a29e9e;
}

#login-card input[type="text"]:focus,
#login-card input[type="password"]:focus {
  border: 2px solid #32812e;
}

#login-card input[type="text"] {
  background: url("../../../../../assets/images/user.svg") no-repeat;
  background-position: 13px 13px;
  background-attachment: fixed;
  padding-left: 45px;
}

#login-card input[type="text"]:focus {
  background: url("../../../../../assets/images/user-active.svg") no-repeat;
  background-position: 13px 13px;
  padding-left: 45px;
}

#login-card input[type="password"] {
  background: url("../../../../../assets/images/padlock.svg") no-repeat;
  background-position: 13px 13px;
  padding-left: 45px;
}

#login-card input[type="password"]:focus {
  background: url("../../../../../assets/images/padlock-active.svg") no-repeat;
  background-position: 13px 13px;
  padding-left: 45px;
}

.pwd-util-row {
  display: flex;
  justify-content: space-between;
}

.btn-login {
  width: 100%;
  background-color: #32812e;
  color: #fff !important;
  font-size: 1.125rem !important;
  font-weight: 700 !important;
  padding: 14px 0 !important;
  margin-top: 25px;
}

.btn-login:hover {
  /* background-color: rgb(44, 114, 40); */
  transition-delay: 0.1s;
  animation: hover-login 0.3s ease forwards;
}

@keyframes hover-login {
  0% {
    background-color: #32812e;
  }
  100% {
    background-color: rgb(0, 100, 17);
  }
}

.secondary-link {
  color: #0056b3;
  font-size: 1.125rem !important;
}

.secondary-link:hover {
  text-decoration: none;
}

h5 {
  font-size: 1rem;
  color: #b2b0b0 !important;
}

.alt-login-container {
  margin: auto;
  /* background-color: bisque; */
  margin-top: 8%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

#alt-login {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: auto;
}

.alt-login-btn {
  width: 182px !important;
  padding: 14px 0;
  border: 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.alt-login-btn:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.google-btn {
  background: url("../../../../../assets/images/Google__G__Logo.svg") no-repeat;
  background-position: 15px 14px;
}

.fb-btn {
  background: url("../../../../../assets/images/Path17.svg") no-repeat;
  background-position: 15px 14px;
}

.social {
  list-style: none;
  margin-bottom: 0 !important;
}

.welcome-footer {
  display: flex;
  position: absolute;
  bottom: 40px;
  justify-content: space-between;
  align-items: flex-end;
  /* background-color: antiquewhite; */
  width: 92%;
}

.social li {
  display: inline;
  margin-right: 4px;
}

.social li a {
  color: #fff;
  font-size: 1.5625rem;
}

.white {
  color: rgb(218, 218, 218);
}

a.white:hover {
  color: #fff;
}

/* media queries---------------------------- */

@media screen and (max-width: 1536px) {
  #login-card {
    width: 60%;
  }
  #welcome-section h1 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 1366px) {
  #login-card,
  #welcome-section {
    height: 500px !important;
  }
  .alt-login-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 1200px) {
  #welcome-section h1 {
    font-size: 2.6rem;
  }
  .welcome-footer {
    flex-direction: column;
    align-items: flex-start;
  }
  #main-form,
  #alt-login {
    width: 330px;
  }
}

@media screen and (max-width: 1024px) {
  #welcome-section h1 {
    font-size: 2rem;
  }
  #main-form,
  #alt-login {
    width: 91%;
  }
}

@media screen and (max-width: 767px) {
  #welcome-section h1 {
    font-size: 0;
    margin-top: 80vh;
  }

  #welcome-section {
    height: auto !important;
  }
  .welcome-footer {
    flex-direction: row;
  }
}

@media screen and (max-width: 648px) {
  #login-card {
    width: 80%;
  }
  .welcome-footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 480px) {
  /* #main-form,#alt-login{max-width: 300px;} */
  body {
    font-size: 10px;
  }
  #login-card {
    max-height: 500px;
  }

  #login-card input[type="email"],
  #login-card input[type="password"] {
    height: 40px;
  }
  .btn-login {
    padding: 7px 0 !important;
  }

  .secondary-link {
    font-size: 1rem !important;
  }
  #welcome-section h1 {
    margin-bottom: 6vh;
  }
  .welcome-footer {
    align-items: flex-end;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 360px) {
  #login-card {
    width: 90% !important;
    margin: auto;
    background-color: #fff;
  }

  #welcome-section h1 {
    margin-top: 102vh;
  }
}
