<body class="bg-gradient-primary">
  <div class="container-fluid">
    <!--  style="background:url(../../../../../assets/images/hisabmilena.jpg) no-repeat center; background-size:cover;" -->
    <div class="login-box">
      <div class="login-logo">
        <img src="../../../../../assets/images/AccSwift-Logo.png" />
      </div>
      <!-- /.login-logo -->

      <div class="login-box-body">
        <p class="login-box-msg">Sign in to AccSwift</p>
        <div class="col-md-12 error-msgLogin" *ngIf="errorMsg">
          {{ errorMsg }}
        </div>
        <div class="col-md-12">
          <div class="form-group clearfix">
            <div class="input-group mb-3">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="glyphicon glyphicon-user"></span>
                </div>
              </div>
              <input
                type="Username Or Email"
                class="form-control"
                placeholder="Email"
                id="username"
                [(ngModel)]="username"
                class="form-control"
                tabindex="1"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="form-group clearfix">
            <div class="input-group mb-3">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="glyphicon glyphicon-lock"></span>
                </div>
              </div>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                id="accPwd"
                [(ngModel)]="password"
                tabindex="2"
                ng-enter="login()"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-xs-offset-4">
            <div class="checkbox icheck">
              <label>
                <input
                  type="checkbox"
                  ng-click="handleRememberMe()"
                  onclick="onRememberPwdChange()"
                  tabindex="3"
                />
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-12">
            <button
              type="submit"
              (click)="login()"
              class="btn btn-primary btn-block btn-flat"
            >
              Sign In
            </button>
          </div>
          <!-- /.col -->
        </div>
        <!-- </form> -->

        <div class="social-auth-links text-center">
          <p>- OR -</p>
          <!-- <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"
            ><i class="fa fa-facebook"></i> Sign in using Facebook</a
          >
          <a href="#" class="btn btn-block btn-social btn-google btn-flat"
            ><i class="fa fa-google-plus"></i> Sign in using Google+</a
          > -->
        </div>
        <!-- /.social-auth-links -->

        <a href="#">I forgot my password</a><br />
        <a [routerLink]="['/register']" class="text-center"
          >Register a new account</a
        >
      </div>
      <!-- /.login-box-body -->
    </div>
    <div class="footer">
      <div
        class="col-xs-6 col-md-4 col-md-push-4 social-links-wrapper  clearfix"
      >
        <ul class="social-icons clearfix pull-right">
          <li>
            <a
              href="https://www.facebook.com/accswift.accounting.software"
              target="_blank"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/bent-ray-technologies"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
<!-- <body class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image">
                <img src="../../../../../assets/images/AccSwift-Logo.png" />
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input
                        type="text"
                        id="username"
                        [(ngModel)]="username"
                        class="form-control"
                        placeholder="Username/Email"
                        tabindex="1"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        id="accPwd"
                        [(ngModel)]="password"
                        tabindex="2"
                        ng-enter="login()"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <span
                          class="character-checkbox"
                          ng-click="handleRememberMe()"
                          onclick="onRememberPwdChange()"
                          tabindex="3"
                        ></span>
                        <span class="label">Remember me</span>
                      </div>
                    </div>
                    <a
                      class="btn btn-primary btn-user btn-block"
                      (click)="login()"
                    >
                      Login
                    </a>
                    <hr />
                  </form>
                  <hr />
                  <div class="text-center">
                    <a class="small">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" [routerLink]="['/register']"
                      >Create an Account!</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> -->

<script>
  function onRememberPwdChange() {
    if (!$("#accPwd").prop("checked")) {
      $(".checkbox").addClass("show");
      $("#accPwd").prop("checked", true);
    } else {
      $("#accPwd").prop("checked", false);
      $(".checkbox").removeClass("show");
    }
  }

  setTimeout(function() {
    $("#login-page").css({ visibility: "visible" });
  }, 1000);

  $(window).load(function() {
    $("#login-page").css({ "min-height": $(window).height() - 78 });
  });
  $(window).resize(function() {
    $("#login-page").css({ "min-height": $(window).height() - 78 });
  });
</script>
