/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr.css";
@import "./assets/scss/main.scss";
$color_1: red;
$color_2: #6c7178;
$color_3: #007bff;
$font_family_1: Roboto, "Helvetica Neue", sans-serif;
$background_color_1: #007bff;
$background_color_2: #fff;

sup {
  color: $color_1;
}

.error-msg {
  color: $color_1;
}

.edit_button {
  background: green;
  color: #fff;
  margin: 2px;
}
.delete_button {
  background: red;
  margin: 2px;
}

.a_link {
  color: #007bff !important;
  cursor: pointer;
}
.a_link:hover {
  text-decoration: underline !important;
}
.ledger_name {
  max-width: 150px;
  word-break: break-word;
  display: inline-block;
  position: absolute;
  margin: 5px;
}
.searchBar {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;
  background-color: #b1afaf;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin-bottom: 10px;
  text-decoration: none;
}
.btn-link {
  font-weight: 400;
  color: #007bff !important;
  text-decoration: none;
}

legend {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: 100%;
  background-color: #4891ec;
  border: 1px solid #e2e2e2;
  padding: 10px 20px;
  border-radius: 0.25rem;
  color: #fff;
}

//kendo input text overFlow Css
.k-numeric-wrap .k-input {
  text-overflow: inherit !important;
  text-align: right;
}

.k-grid th,
.k-grid td {
  text-overflow: inherit !important;
}

 .ledgerSelectIcon{
  position: absolute;
  right: 16px;
  top: 8px;
 }

 