<form [formGroup]="budgetForm" novalidate>
  <kendo-tabstrip>
    <kendo-tabstrip-tab [title]="'Budget Allocation'" [selected]="true">
      <ng-template kendoTabContent>
        <div class="budget-alc-form">
          <fieldset>
            <legend
              [ngClass]="{
                add_component: selectedItem == null,
                edit_component: selectedItem != null
              }"
            >
              Budget
            </legend>
            <div class="add-budget">
              <div class="col-md-6">
                <div class="form-group">
                  <label> Budget Name</label>
                  <input
                    class="form-control"
                    formControlName="Name"
                    accSwiftFormValidator
                  />
                </div>
                <div class="form-group" style="position: relative">
                  <label>End Date <sup>*</sup></label>
                  <input
                    class="form-control"
                    formControlName="EndDate"
                    bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                    accSwiftFormValidator
                  />
                  <span
                    class="glyphicon glyphicon-calendar calendar-icon"
                  ></span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group" style="position: relative">
                  <label> Start Date <sup>*</sup> </label>
                  <input
                    class="form-control"
                    formControlName="StartDate"
                    bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                    accSwiftFormValidator
                  />
                  <span
                    class="glyphicon glyphicon-calendar calendar-icon"
                  ></span>
                </div>

                <div class="form-group">
                  <label> Remarks</label>
                  <textarea
                    row="2"
                    type="text"
                    class="form-control"
                    formControlName="Remarks"
                    style="height: 35px"
                  ></textarea>
                </div>
              </div>

              <fieldset>
                <legend>Allocation</legend>
                <div class="col-md-12">
                  <kendo-grid
                    [data]="getBudgetAllocationMasters.value"
                    (add)="addHandler($event)"
                    (remove)="removeHandler($event)"
                  >
                    <ng-template kendoGridToolbarTemplate>
                      <button kendoGridAddCommand>Add New</button>
                    </ng-template>
                    <kendo-grid-column
                      field="AccountID"
                      title="Account Group"
                      width="100"
                    >
                      <ng-template
                        kendoGridCellTemplate
                        let-dataItem="dataItem"
                        let-column="column"
                        let-formGroup="formGroup"
                        let-isNew="isNew"
                        let-rowIndex="rowIndex"
                      >
                        <kendo-dropdownlist
                          class="form-control"
                          [data]="ledgerGroupList"
                          [filterable]="true"
                          [textField]="'CodeName'"
                          [valueField]="'ID'"
                          [disabled]="
                            getBudgetAllocationMasters.controls[rowIndex].get(
                              'AccountType'
                            ).value == 'Ledger'
                          "
                          [formControl]="
                            getBudgetAllocationMasters.controls[rowIndex].get(
                              'AccountID'
                            )
                          "
                          [valuePrimitive]="true"
                          (valueChange)="changeAccountGroup(dataItem, rowIndex)"
                        >
                        </kendo-dropdownlist>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Ledger" width="100">
                      <ng-template
                        kendoGridCellTemplate
                        let-dataItem="dataItem"
                        let-column="column"
                        let-formGroup="formGroup"
                        let-isNew="isNew"
                        let-rowIndex="rowIndex"
                      >
                        <kendo-dropdownlist
                          class="form-control"
                          [data]="ledgerMinList"
                          [filterable]="true"
                          [textField]="'CodeName'"
                          [valueField]="'LedgerID'"
                          [valuePrimitive]="true"
                          [disabled]="
                            getBudgetAllocationMasters.controls[rowIndex].get(
                              'AccountType'
                            ).value == 'Group'
                          "
                          [formControl]="
                            getBudgetAllocationMasters.controls[rowIndex].get(
                              'AccountID'
                            )
                          "
                          (valueChange)="changeLedger(dataItem, rowIndex)"
                        >
                        </kendo-dropdownlist>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                      field="AccountType"
                      title="Account Type"
                      width="100"
                    >
                      <ng-template
                        kendoGridCellTemplate
                        let-dataItem="dataItem"
                        let-column="column"
                        let-formGroup="formGroup"
                        let-isNew="isNew"
                        let-rowIndex="rowIndex"
                      >
                        <input
                          class="form-control"
                          disabled="true"
                          [formControl]="
                            getBudgetAllocationMasters.controls[rowIndex].get(
                              'AccountType'
                            )
                          "
                        />
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-command-column title="Action" width="120">
                      <ng-template
                        kendoGridCellTemplate
                        let-dataItem="dataItem"
                        let-column="column"
                        let-formGroup="formGroup"
                        let-isNew="isNew"
                        let-rowIndex="rowIndex"
                      >
                        <div class="form-group">
                          <button
                            type="button"
                            class="btn btn-secondory mr-2"
                            (click)="
                              assignBudget(getBudgetAllocationMasters, rowIndex)
                            "
                            tooltip="Assign Budget "
                          >
                            Assign Budget
                          </button>
                          <button kendoGridRemoveCommand>
                            <i
                              class="fas fa-trash-alt cursor-pointer"
                              tooltip="Delete"
                            ></i>
                          </button>
                        </div>
                      </ng-template>
                    </kendo-grid-command-column>
                  </kendo-grid>
                </div>
              </fieldset>
            </div>

            <div class="box-footer" style="display: table; margin: auto">
              <div class="mb-2">
                <button
                  class="btn btn-primary"
                  (click)="saveBudget()"
                  accSwiftFormSubmitValidationMsg
                  [validationControl]="budgetForm"
                >
                  <i class="fas fa-save"></i>&nbsp;&nbsp;
                  <span *ngIf="editMode">Update</span>
                  <span *ngIf="addMode">Save</span>
                </button>

                <button class="btn btn-secondary ml-2" (click)="cancelBudget()">
                  Cancel
                </button>
              </div>
            </div>
          </fieldset>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- <kendo-tabstrip-tab [title]="'Budget Allocation Master'">
      <ng-template kendoTabContent>
        <accSwift-budget-allocation-masters
          [budgetMaster]="budgetForm.get('BudgetAllocationMasters')"
        >
        </accSwift-budget-allocation-masters>
      </ng-template>
    </kendo-tabstrip-tab> -->
  </kendo-tabstrip>
</form>
