<form [formGroup]="budgetForm" novalidate>
  <kendo-tabstrip>
    <kendo-tabstrip-tab [title]="'Budget Allocation'" [selected]="true">
      <ng-template kendoTabContent>
        <div class="budget-alc-form">
          <fieldset>
            <legend
              [ngClass]="{
                add_component: selectedItem == null,
                edit_component: selectedItem != null
              }"
            >
              Budget
            </legend>
            <div class="add-budget">
              <div class="form-group">
                <label> Budget Name</label>
                <kendo-dropdownlist
                  class="form-control"
                  [data]="BudgetMinListView"
                  [filterable]="true"
                  [textField]="'Name'"
                  [valueField]="'ID'"
                  [valuePrimitive]="true"
                  [formControl]="budgetForm.get('ID')"
                  accSwiftFormValidator
                >
                </kendo-dropdownlist>
              </div>
              <div class="budget-date">
                <div class="form-group">
                  <label> Start Date</label>
                  <input
                    class="form-control"
                    formControlName="StartDate"
                    bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                    accSwiftFormValidator
                  />
                </div>
                <div class="form-group">
                  <label>End Date </label>
                  <input
                    class="form-control"
                    formControlName="EndDate"
                    bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                    accSwiftFormValidator
                  />
                </div>
              </div>

              <div class="form-group">
                <label> Remarks</label>
                <textarea
                  row="2"
                  type="text"
                  class="form-control"
                  formControlName="Remarks"
                ></textarea>
              </div>
              <fieldset>
                <legend>Allocation</legend>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="radio">
                        <label>
                          <input
                            type="checkbox"
                            [(ngModel)]="ledgerGroup"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="ledgerGroupChange($event)"
                          />
                          Ledger Group
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Ledger Group</label>
                      <kendo-dropdownlist
                        class="form-control"
                        [data]="ledgerGroupList"
                        [filterable]="true"
                        [textField]="'CodeName'"
                        [valueField]="'ID'"
                        [valuePrimitive]="true"
                      >
                      </kendo-dropdownlist>
                      <!-- [formControl]="accountLedgerForm.get('GroupID')"
                    (filterChange)="ledgerGroupDDFilter($event)"
                    (valueChange)="changeAccountHead()" -->
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="radio">
                      <label>
                        <input
                          type="checkbox"
                          [(ngModel)]="ledger"
                          [ngModelOptions]="{ standalone: true }"
                          (change)="ledgerChange($event)"
                        />
                        Ledger
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Ledger</label>
                      <kendo-dropdownlist
                        class="form-control"
                        [data]="ledgerMinList"
                        [filterable]="true"
                        [textField]="'CodeName'"
                        [valueField]="'LedgerID'"
                        [valuePrimitive]="true"
                      >
                      </kendo-dropdownlist>
                      <!-- [formControl]="accountLedgerForm.get('GroupID')"
                    (filterChange)="ledgerGroupDDFilter($event)"
                    (valueChange)="changeAccountHead()" -->
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-primary">
                    Assign Budget
                  </button>
                </div>
              </fieldset>
            </div>

            <div
              class="box-footer"
              style="
                display: table;
                margin: auto;
                background: gainsboro;
                border-top: 1px solid gainsboro;
              "
            >
              <div class="mb-2">
                <button
                  class="btn btn-primary"
                  (click)="saveBudget()"
                  accSwiftFormSubmitValidationMsg
                  [validationControl]="budgetForm"
                >
                  <i class="fas fa-save"></i>&nbsp;&nbsp;
                  <span *ngIf="editMode">Update</span>
                  <span *ngIf="addMode">Save</span>
                </button>

                <button class="btn btn-secondary ml-2" (click)="cancelBudget()">
                  Cancel
                </button>
              </div>
            </div>
          </fieldset>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="'Budget Allocation Master'">
      <ng-template kendoTabContent>
        <accSwift-budget-allocation-masters
          [budgetMaster]="budgetForm.get('BudgetAllocationMasters')"
        >
        </accSwift-budget-allocation-masters>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</form>
