#budget-setup-contents {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li,
  span {
    margin: 0;
    padding: 0;
  }
  b,
  small {
    display: block;
  }
  a,
  img {
    display: inline-block;
  }
  li {
    list-style: none;
  }
  input,
  select,
  button {
    border: none;
    background-color: transparent;
  }
  .padding-top {
    padding-top: 40px;
  }
  .padding-bottom {
    padding-bottom: 40px;
  }
  .margin-top {
    margin-top: 40px;
  }
  .margin-bottom {
    margin-bottom: 40px;
  }
  .budget-date {
    display: flex;
    justify-content: space-between;
  }
  input,
  textarea,
  select {
    border: 1px solid #b2c2cd;
    border-radius: 4px;
    padding: 8px 10px 6px;
    width: 100%;
    color: #c6cccd;
    padding-right: 26px;
    background: white;
  }
  label {
    color: #4d6575;
    font-size: 14px;
  }
  .budget-date .form-group {
    margin-right: 20px;
  }
  .add-budget-btns {
    border: 1px solid #b2c2cd;
    padding: 20px;
  }
  .add-budget-btns button {
    border: 1px solid #b2c2cd;
    border-radius: 4px;
    margin-right: 10px;
    padding: 1px 16px;
    background-color: #ebeff2;
  }
  .add-budget-btns i {
    margin-right: 10px;
  }
  .add-budget-thead th {
    font-size: 13px;
    padding: 8px 0;
    padding-left: 5px;
    background-color: #fff;
  }
  .add-budget-tbody td {
    padding: 8px 0;
    padding-left: 5px;
  }
  .budget-date .form-group {
    position: relative;
  }
  .date-picker {
    position: absolute;
    top: 27px;
    right: 1px;
    background: #ecf0f3;
    color: #b2c2cd;
    border-left: 1px solid #b2c2cd;
    text-align: center;
    padding: 6px 13px;
  }
}
