<h3>Slabs</h3>
<fieldset>
  <legend>
    Slabs
  </legend>
  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend>Sales</legend>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox" />Tax 1 </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label>On</label>
          </div>
          <div class="col-md-6">
            <select class="form-control">
              <option>Net Amt</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox" />Tax 2 </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label>On</label>
          </div>
          <div class="col-md-6">
            <select class="form-control">
              <option>Tax 1</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox" />Tax 3 </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label>On</label>
          </div>
          <div class="col-md-6">
            <select class="form-control">
              <option>Tax 2</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox" checked /> VAT</label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-md-6">
      <fieldset>
        <legend>Purchase</legend>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox" />Tax 1 </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label>On</label>
          </div>
          <div class="col-md-6">
            <select class="form-control">
              <option>Net Amt</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox" />Tax 2 </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label>On</label>
          </div>
          <div class="col-md-6">
            <select class="form-control">
              <option>Tax 1</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox" />Tax 3 </label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label>On</label>
          </div>
          <div class="col-md-6">
            <select class="form-control">
              <option>Tax 2</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox" checked /> VAT</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <div class="form-group">
              <div class="checkbox">
                <label> <input type="checkbox" checked /> Custom Duty</label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</fieldset>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-danger  pull-right ml-3">
      Cancel
    </button>
    <button type="button" class="btn btn-primary pull-right ml-3">
      Save
    </button>
  </div>
</div>
