<form [formGroup]="productGroupForm" novalidate>
  <div class="col-md-12 mt-3">
    <div class="row clearfix">
      <div class="col-md-5">
        <label class="float-right">Group Name:</label>
      </div>
      <div class="col-md-7">
        <input class="form-control" formControlName="groupName" />
      </div>
    </div>
    <div class="row clearfix mt-3">
      <div class="col-md-5">
        <label class="float-right">Parent Group: </label>
      </div>
      <div class="col-md-7">
        <input class="form-control" formControlName="parentGroup" />
      </div>
    </div>
    <div class="row clearfix mt-3">
      <div class="col-md-5">
        <label class="float-right">Remarks:</label>
      </div>
      <div class="col-md-7">
        <textarea class="form-control" formControlName="remarks"></textarea>
      </div>
    </div>
  </div>

  <div class="col-md-12 m-2">
    <button class="btn btn-primary" (click)="saveProduct()">
      Save
    </button>
    <button class="btn btn-secondary ml-2" (click)="cancelProduct()">
      Cancel
    </button>
  </div>
</form>
