<form [formGroup]="forgetPwForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Forgot Password</legend>
    <div class="form-group">
      <label>Email<sup>*</sup></label>
      <input
        class="form-control"
        formControlName="email"
        accSwiftFormValidator
      />
    </div>
  </fieldset>

  <div style="text-align: center; margin: 20px 0">
    <button
      type="submit"
      class="btn btn-primary"
      accSwiftFormSubmitValidationMsg
    >
      Submit
    </button>
  </div>
</form>

<form [formGroup]="resetPwForm" (ngSubmit)="onSubmitReset()">
  <fieldset>
    <legend>Reset Password</legend>
    <div class="form-group">
      <label>Token<sup>*</sup></label>
      <input
        class="form-control"
        formControlName="Token"
        accSwiftFormValidator
      />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        class="form-control"
        formControlName="Password"
        type="password"
        name="password"
        accSwiftFormValidator
      />
    </div>
    <div class="form-group">
      <label>Retype Password</label>
      <input
        class="form-control"
        formControlName="VerifyPassword"
        type="password"
        name="verifypassword"
        accSwiftFormValidator
      />
    </div>
  </fieldset>

  <div style="text-align: center; margin: 20px 0">
    <button
      type="submit"
      class="btn btn-primary"
      accSwiftFormSubmitValidationMsg
    >
      Submit
    </button>
  </div>
</form>
