<div class="box box-default">
  <h5 class="form_heading">More Details</h5>

  <div [formGroup]="moreDetailsLedger">
    <div class="row clearfix mt-3">
      <div class="col-md-6">
        <div class="form-group">
          <label>Contact Person</label>
          <input
            class="form-control"
            formControlName="PersonName"
            accSwiftFormValidator
          />
        </div>
        <div class="form-group">
          <label>Address 1 </label>
          <input
            class="form-control"
            formControlName="Address1"
            accSwiftFormValidator
          />
        </div>
        <div class="form-group">
          <label>Address 2</label>
          <input
            class="form-control"
            formControlName="Address2"
            accSwiftFormValidator
          />
        </div>
        <div class="form-group">
          <label>City </label>
          <input
            class="form-control"
            formControlName="City"
            accSwiftFormValidator
          />
        </div>
        <div class="form-group">
          <label>Company</label>
          <input class="form-control" formControlName="Company" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Telephone </label>
          <input
            class="form-control"
            type="number"
            formControlName="Phone"
            accSwiftFormValidator
          />
        </div>
        <div class="form-group">
          <label>E-mail</label>
          <input class="form-control" formControlName="Email" />
        </div>

        <div class="form-group">
          <label>WebSite</label>
          <input class="form-control" formControlName="Website" />
        </div>
        <div class="form-group">
          <label>VAT/PAN No</label>
          <input
            class="form-control"
            type="number"
            formControlName="VatPanNo"
          />
        </div>

        <!-- <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="IsActive" />
              Auto Calculate
            </label>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
