.k-tabstrip > .k-content {
  padding: 0px !important;
  margin: -20px 0 0 -20px !important;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  display: none;
  overflow: auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}
